@page
@model Proveedores.ModificarProveedorModel

@{
    ViewData["Title"] = "Modificación de Proveedor";
}

<div class="pt-5">
    <form class="col-lg-10 offset-lg-1 rounded py-5 border border-secondary-100" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Proveedor.Id" />
        <div class="row">
            <label asp-for="Proveedor.Nombre" class="col-sm-1 offset-2 col-form-label font-weight-bold"></label>
            <div class="form-group col-sm-6">
                <input type="text" class="form-control form-control-user mb-2" asp-for="Proveedor.Nombre" placeholder="Ingrese un nombre">
                <span class="text-warning" asp-validation-for="Proveedor.Nombre"></span>
            </div>
        </div>
        <div class="row">
            <label asp-for="Proveedor.Correo" class="col-sm-1 offset-2 col-form-label font-weight-bold"></label>
            <div class="form-group col-sm-6">
                <input type="email" class="form-control form-control-user mb-2" asp-for="Proveedor.Correo" placeholder="ejemplo@dominio.com">
                <span class="" asp-validation-for="Proveedor.Correo"></span>
            </div>
        </div>
        <!-- <div class="row">
            <label asp-for="Proveedor.Telefono" class="col-sm-1 offset-2 col-form-label font-weight-bold"></label>
            <div class="form-group col-sm-6">
                <select id="dynamic">
                    <option value="" id="0">Seleccione...</option>
                    @{
                        int i = 1;
                    }
                    @foreach(var item in Model.Proveedor.Telefono){
                        <option value="@item.Numero" id="@i">
                            @item.Numero
                        </option>
                        i++;
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="row form-group col-sm-6 offset-3">
                <input type="text" class="form-control col-lg-7" id="add_val" name="add_val">
                <button id="bt_add_val" type="button" class="btn btn-outline-success ml-2"><i class="fas fa-plus"></i> Modificar</button>
            </div>
        </div> -->
        <div class="row">
            <label asp-for="Proveedor.Direccion" class="col-sm-1 offset-2 col-form-label font-weight-bold"></label>
            <div class="form-group col-sm-6">
                <textarea class="form-control form-control-user mb-2" asp-for="Proveedor.Direccion" placeholder="4ta, avenida norte..."></textarea>
                <span class="" asp-validation-for="Proveedor.Direccion"></span>
            </div>
        </div>
        <div class="row">
            <label asp-for="Proveedor.Enlace" class="col-sm-1 offset-2 col-form-label font-weight-bold"></label>
            <div class="form-group col-sm-6">
                <input class="form-control form-control-user mb-2" asp-for="Proveedor.Enlace" placeholder="www.ejemplo.com">
                <span class="" asp-validation-for="Proveedor.Enlace"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 offset-md-4">
                    <div class="btn btn-group">
                            <button type="submit" class="btn btn-outline-primary"><i class="fas fa-save"></i> Guardar cambios</button>
                            <a asp-page="/Proveedores/ListaProveedor" class="btn btn-outline-secondary"><i class="fas fa-times-circle"></i> Cancelar</a>
                    </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <!-- <link href="~/selectric/src/selectric.css" rel="stylesheet">
    <script src="~/selectric/src/jquery.selectric.js"></script> -->
    <!-- <script>
        /*$('#dynamic').selectric();
        var lista = document.querySelectorAll("div.selectric-scroll ul > li");
        console.log(lista);
        for(var i = 0 ; i < lista.length ; i++){
            lista[i].addEventListener('click', (e) => {
                console.log(e.target);
                var tel = e.target.innerHTML.trim();
                var inTel = document.getElementById("add_val");
                if(tel != "Seleccione..."){
                    inTel.value = tel;
                }else{
                    inTel.value = "";
                }
            });
        }
        $('#bt_add_val').click(function () {
            // Store the value in a variable
            var value = $('#add_val').val();
            if (value != "") {
                // Append to original select
                document.getElementById("bt_add_val");
                // Refresh Selectric
                $('#dynamic').selectric('refresh');
                Principal = document.getElementById("dynamic").value;
            }
        });*/
    </script> -->
}