@page
@model Proveedores.RegistroProveedorModel

@{
    ViewData["title"] = "Registro de Proveedor";
}

<div class="pt-3">
    <form class="col-lg-10 bg-white offset-lg-1 rounded py-4 border border-secondary-100" method="post">
        <div class="form-group row">
            <label asp-for="Proveedor.Nombre" class="col-lg-1 offset-2 col-form-label font-weight-bold"></label>
            <div class="col-lg-6">
                <input type="text" class="form-control mb-2" asp-for="Proveedor.Nombre" placeholder="Ingrese un nombre">
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Proveedor.Correo" class="col-lg-1 offset-2 col-form-label font-weight-bold"></label>
            <div class="col-lg-6">
                <input type="email" class="form-control mb-2" asp-for="Proveedor.Correo" placeholder="ejemplo@dominio.com">
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Proveedor.Telefono" class="col-lg-1 offset-2 col-form-label font-weight-bold"></label>
            <div class="col-lg-6">
                <select id="dynamic">
                    <option value="">Seleccione...</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-lg-6 offset-3">
                <input type="text" class="form-control col-lg-7" id="add_val" name="add_val">
                <button id="bt_add_val" type="button" class="btn btn-outline-success ml-2"><i class="fas fa-plus"></i> Agregar</button>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Proveedor.Direccion" class="col-lg-1 offset-2 col-form-label font-weight-bold"></label>
            <div class="col-lg-6">
                <textarea class="form-control mb-2" asp-for="Proveedor.Direccion" placeholder="4ta, avenida norte..."></textarea>
            </div>
        </div>
        <div class="row">
            <label asp-for="Proveedor.Enlace" class="col-lg-1 offset-2 col-form-label font-weight-bold"></label>
            <div class="form-group col-lg-6">
                <input class="form-control mb-2" asp-for="Proveedor.Enlace" placeholder="www.ejemplo.com">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 offset-md-4">
                <button type="submit" class="btn btn-outline-primary"><i class="fas fa-save"></i> Registrar Proveedor</button>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <link href="~/selectric/src/selectric.css" rel="stylesheet">
    <script src="~/selectric/src/jquery.selectric.js"></script>
    <script>
        $(function() {
            $('select').selectric();
        });
        $('#dynamic').selectric();
        $('#bt_add_val').click(function() {
            // Store the value in a variable
            var value = $('#add_val').val();
            // Append to original select
            $('#dynamic').append('<option selected>' + (value ? value : 'Empty') + '</option>');
            // Refresh Selectric
            $('#dynamic').selectric('refresh');
        });
    </script>
}