@page
@model Proveedores.RegistroProveedorModel

@{
    ViewData["Title"] = "Resgistro Proveedores";
}

@section Scripts{
    <link href="~/vendor/jquery-selectric/selectric.css" rel="stylesheet">
}
<div class="pt-5">
    <form class="col-lg-10 offset-lg-1 rounded py-5" method="post">
        <div class="row">
            <label asp-for="Proveedor.Nombre" class="col-sm-1 offset-2 col-form-label font-weight-bold"></label>
            <div class="form-group col-sm-6">
                <input type="text" class="form-control form-control-user mb-2" asp-for="Proveedor.Nombre" placeholder="Ingrese un nombre">
            </div>
        </div>
        <div class="row">
            <label asp-for="Proveedor.Correo" class="col-sm-1 offset-2 col-form-label font-weight-bold"></label>
            <div class="form-group col-sm-6">
                <input type="email" class="form-control form-control-user mb-2" asp-for="Proveedor.Correo" placeholder="ejemplo@dominio.com">
            </div>
        </div>
        <div class="row">
            <label asp-for="Proveedor.Telefono" class="col-sm-1 offset-2 col-form-label font-weight-bold"></label>
            <div class="form-group col-sm-6">
                
            </div>
        </div>
        <div class="row">
            <label asp-for="Proveedor.Direccion" class="col-sm-1 offset-2 col-form-label font-weight-bold"></label>
            <div class="form-group col-sm-6">
                <textarea class="form-control form-control-user mb-2" asp-for="Proveedor.Direccion" placeholder="4ta, avenida norte..."></textarea>
            </div>
        </div>
        <div class="row">
            <label asp-for="Proveedor.Enlace" class="col-sm-1 offset-2 col-form-label font-weight-bold"></label>
            <div class="form-group col-sm-6">
                <input class="form-control form-control-user mb-2" asp-for="Proveedor.Enlace" placeholder="www.ejemplo.com">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 offset-md-4">
                <button type="submit" class="btn btn-outline-primary"><i class="fas fa-save"></i> Registrar Proveedor</button>
            </div>
        </div>
    </form>
</div>