@page
@model Proveedores.RegistroProveedorModel

@{
    ViewData["Title"] = "Resgistro Proveedores";
}
<form class="user" method="post">
    <div class="row">
        <div class="form-group col-sm-6 offset-md-3">
            <input type="text" class="form-control form-control-user mb-2" asp-for="Proveedor.Nombre" placeholder="Nombre">
            <span class="text-warning" asp-validation-for="Proveedor.Nombre"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6 offset-md-3">
            <input type="email" class="form-control form-control-user mb-2" asp-for="Proveedor.Correo" placeholder="Correo Electronico">
            <span class="" asp-validation-for="Proveedor.Correo"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6 offset-md-3">
            <textarea class="form-control form-control-user mb-2" asp-for="Proveedor.Direccion" placeholder="Dirección"></textarea>
            <span class="" asp-validation-for="Proveedor.Direccion"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6 offset-md-3">
            <input class="form-control form-control-user mb-2" asp-for="Proveedor.Enlace" placeholder="Enlace a Red Social">
            <span class="" asp-validation-for="Proveedor.Enlace"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 offset-md-5">
            <button type="submit" class="btn btn-primary btn-user btn-block">Registrar Proveedor</button>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}