@page
@model Proveedores.RegistroProveedorModel
@{
    ViewData["title"] = "Registro de Proveedor";
}
<div class="row pt-3">
    <form class="col-lg-8 offset-lg-2 rounded pt-4 pb-3 border border-secondary-100" method="post" id="frmProveedor">
        <div class="form-group row">
            <label asp-for="Proveedor.Nombre" class="col-lg-1 ml-5 col-form-label mr-4 font-weight-bold"></label>
            <div class="col-lg-9">
                <input type="text" class="form-control mb-2" asp-for="Proveedor.Nombre" placeholder="Ingrese un nombre">
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Proveedor.Correo" class="col-lg-1 ml-5 col-form-label mr-4 font-weight-bold"></label>
            <div class="col-lg-9">
                <input type="email" class="form-control mb-2" asp-for="Proveedor.Correo"
                    placeholder="ejemplo@dominio.com">
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Proveedor.Telefono" class="col-lg-1 ml-5 col-form-label mr-4 font-weight-bold"></label>
            <div class="row col-lg-9 ml-3">
                <input type="text" class="form-control col-lg-5" id="add_val" name="add_val">
                <button id="bt_add_val" type="button" class="btn btn-outline-success"><i class="fas fa-plus"></i> Agregar</button>
                <button id="bt_act_val" type="button" class="btn btn-outline-warning" hidden=""><i class="fas fa-plus"></i> Modificar</button>
                <label class="ml-1 col-form-label text-danger" id="exist"></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-4 offset-2">
                <ul class="list-group list-group-flush" id="lis_tel">
                    <li class="list-group-item py-1">Sin registros</li>
                </ul>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Proveedor.Direccion" class="col-lg-1 ml-5 col-form-label mr-4 font-weight-bold"></label>
            <div class="col-lg-9">
                <textarea class="form-control mb-2" asp-for="Proveedor.Direccion" placeholder="4ta, avenida norte..."
                    style="height: 150px;"></textarea>
            </div>
        </div>
        <div class="row">
            <label asp-for="Proveedor.Enlace" class="col-lg-1 ml-5 col-form-label  mr-4 font-weight-bold"></label>
            <div class="form-group col-lg-9">
                <input class="form-control mb-2" asp-for="Proveedor.Enlace" placeholder="www.ejemplo.com">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-md-4">
                <div class="btn btn-group">
                    <button type="button" class="btn btn-outline-primary" id="registrar"><i class="fas fa-save"></i>
                        Registrar</button>
                    <a type="button" class="btn btn-outline-secondary" asp-page="/Index"><i class="fas fa-times-circle"></i>
                        Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="col-lg-2" id="notific">
        <div class="toast" id="toastProveedor" role="alert" data-delay="5000" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-success">
                <label class="col-form-label text-white">
                    <i class="fas fa-check-circle text-success"></i>
                    <strong class="mr-auto">Registro Proveedor</strong>
                </label>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                Registro Exitoso!
            </div>
        </div>
    </div>
</div>
@section Styles
{
    <link href="~/selectric/src/selectric.css" rel="stylesheet">
}
@section Scripts
{
    <script src="~/selectric/src/jquery.selectric.js"></script>
    <script>
        var BtnAddTel = document.getElementById("bt_add_val");
        BtnAddTel.addEventListener("click", ()=>{
            var input = document.getElementById("add_val");
            if(ValidarUl(input.value.trim())){
                document.getElementById("exist").innerHTML = "";
                var list = document.getElementById("lis_tel");
                var li = document.createElement("li");
                li.setAttribute("class", "list-group-item py-1");
                li.innerHTML = input.value + '<span class="pl-2"><i class="mano fas fa-trash text-danger"></i></span><span class="pl-2"><i class="mano fas fa-pencil-alt text-warning"></i></span>';
                list.appendChild(li);
                escucharBorrarTel();
                escucharActTel();
                input.value="";
            }
        });
        function ValidarUl(numero){
            if(numero != "" ){
                var arrayli = document.querySelector("#lis_tel").children;
                if(arrayli.length > 0){
                    if(arrayli[0].firstChild.nodeValue == "Sin registros"){
                        document.querySelector("#lis_tel").removeChild(arrayli[0]);
                    }
                    for(var i = 0 ; i < arrayli.length ; i++){
                        if(arrayli[i].firstChild.nodeValue.trim() == numero){
                            document.getElementById("exist").innerHTML = "Este número ya existe";
                            return false;
                        }
                    }
                }
                return true;
            }else{
                return false;
            }
        }
        function escucharBorrarTel(){
            var ielim = document.getElementsByClassName("fas fa-trash text-danger");
            for(var i = 0 ; i < ielim.length ; i++){
                ielim[i].addEventListener("click", acElim);
            }
        }
        //acElim elimina telefono
        function acElim(e){
            var li = e.target.offsetParent;
            var ul = document.querySelector("#lis_tel");
            ul.removeChild(li);
            if(ul.children.length == 0){
                ul.innerHTML = '<li class="list-group-item py-1">Sin registros</li>';
            }
            escucharActTel();
        }
        function escucharActTel(){
            var iact = document.getElementsByClassName("fas fa-pencil-alt text-warning");
            for(var i = 0 ; i < iact.length ; i++){
                iact[i].addEventListener("click", actTel);
            }
        }
        //actTel actualizar telefono
        function actTel(e){
            var lilocal = e.target.offsetParent;
            var text = lilocal.firstChild.nodeValue;
            var input = document.getElementById("add_val");
            input.value = text;
            var btnMod = document.getElementById("bt_act_val");
            var btnAdd = document.getElementById("bt_add_val")
            btnMod.removeAttribute("hidden");
            btnAdd.setAttribute("hidden","");
            btnMod.addEventListener("click", (e)=>{
                var input = document.getElementById("add_val");
                if(input.value != ""){
                    var boton = e.target;
                    var arrayli = document.querySelector("#lis_tel").children;
                    for(var i = 0 ; i < arrayli.length ; i++){
                        if(lilocal != arrayli[i]){
                            if(arrayli[i].firstChild.nodeValue == input.value){
                                document.getElementById("exist").innerHTML = "Este número ya existe";
                                return ;
                            }
                        }
                    }
                    lilocal.innerHTML = input.value + '<span class="pl-2"><i class="mano fas fa-trash text-danger"></i></span><span class="pl-2"><i class="mano fas fa-pencil-alt text-warning"></i></span>';
                    input.value = '';
                    document.getElementById("exist").innerHTML = "";
                    btnAdd.removeAttribute("hidden");
                    boton.setAttribute("hidden","");
                    escucharActTel();
                    escucharBorrarTel();
                }
            });
        }
        var BtnRegistrar = document.getElementById("registrar");
        BtnRegistrar.addEventListener("click", GuardarForAjax);
        function GuardarForAjax() {
            var Telefonos = [];
            var arrayli = document.querySelector("#lis_tel").children;
            tam = arrayli.length;
            if(tam > 0){
                for(var i = 0 ; i < tam ; i++){
                    Telefonos.push(arrayli[i].firstChild.textContent);
                }
            }
            console.log(Telefonos);
            var xhttp = new XMLHttpRequest();
            let formData = new FormData(document.getElementById("frmProveedor"));
            for(var i = 0; i < Telefonos.length; i++){
                formData.append("Telefonos[]", encodeURIComponent(Telefonos[i]));
            }
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.querySelector("#lis_tel").innerHTML = '<li class="list-group-item py-1">Sin registros</li>';
                    document.getElementById("frmProveedor").reset();
                    var toast = document.getElementById("toastProveedor");
                    $('.toast').toast('show');
                }
            };
            xhttp.open("POST", "RegistroProveedor", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            var inputToken = document.getElementsByName("__RequestVerificationToken");
            xhttp.setRequestHeader("RequestVerificationToken", inputToken[0].value);
            xhttp.send(new URLSearchParams(formData));
        }
    </script>
}