@page
@model Reportes.ReporteVentasModel
@{
Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <form method="POST"></form>
        <div class="row">
            <div class="offset-8 colo-lg-4">@{<span>@DateTime.Now.ToString("dd/MM/yyyy hh:mm tt")</span>}</div>
        </div>
        <div class="row">
            <div class="col-lg-4"><img src="~/img/logov1.png" alt="logo" width="100rem" height="100rem"></div>
        </div>
        <div class="text-center">Libreria de la Universidad Panamericana, San Vicente </div>
        <div class="text-center">Avenida Doctor Aguilar, San Vicente</div>
        <div class="text-center">2527-2000</div>
        <div class="text-center mt-3 font-weight-bold"> Ventas del mes de
            @{<span>@DateTime.Now.ToString("dd/MM/yyyy")</span>}</div>
        <div class="row" id="tabla">
        </div>
        <div class="row">
            Pie de pagina
        </div>
        <div class="row">
            <div class="offset-10 colo-lg-2">Numero de Pagina</div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>
    <script>
        (function ajaxCarga(){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.querySelector("#tabla").innerHTML = this.responseText;
                }
            };
            xhttp.open("POST", "/Ventas/ListaVenta?handler=ReporteVentaMes", false);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            var inputToken = document.getElementsByName("__RequestVerificationToken");
            xhttp.setRequestHeader("RequestVerificationToken", inputToken[0].value);
            xhttp.send();
        })()
    </script>
</body>

</html>