@model Empleados.ListaEmpleadoModel
@using System;
<form class="col-lg-12 rounded py-3 pr-5 border border-secondary-100" method="post" id="formEUP">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input class="form-control" asp-for="Empleado.Id" hidden>
    <input class="form-control" asp-for="Empleado.IdPersonaNavigation.Id" hidden>
    <input class="form-control" asp-for="Empleado.IdUsuarioNavigation.Id" hidden>
    <div id="FormEmpleado" class="ml-3">
        <div class="form-group row ">
            <div class="col">
                <label asp-for="Empleado.IdPersonaNavigation.Nombres" class="font-weight-bold"></label>
                <input class="form-control" asp-for="Empleado.IdPersonaNavigation.Nombres" placeholder="Digite sus nombres" readonly>
                <span asp-validation-for="Empleado.IdPersonaNavigation.Nombres" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Empleado.IdPersonaNavigation.Apellidos" class="font-weight-bold"></label>
                <input class="form-control" asp-for="Empleado.IdPersonaNavigation.Apellidos" placeholder="Digite sus nombres" readonly>
                <span asp-validation-for="Empleado.IdPersonaNavigation.Apellidos" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col mt-3">
                <label asp-for="Empleado.IdPersonaNavigation.Genero" class="font-weight-bold mr-3"></label>
                <label class="font-weight-bold" id="lbgen">@if(Model.Empleado.IdPersonaNavigation.Genero == 1){<span class="text-primary"><i class="fas fa-male"></i> Masculino</span>}else{<span style="color: pink"><i class="fas fa-female"></i> Femenino</span>}</label>
                <div id="dgen" hidden>
                    <select asp-for="Empleado.IdPersonaNavigation.Genero" class="custom-options">
                        <option value="">Seleccione...</option>
                        <option value="0">Femenino</option>
                        <option value="1">Masculino</option>
                    </select>
                </div>
                <span asp-validation-for="Empleado.IdPersonaNavigation.Genero" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Empleado.IdPersonaNavigation.Telefono" class="font-weight-bold"></label>
                <input class="form-control form-control-user" asp-for="Empleado.IdPersonaNavigation.Telefono" placeholder="####-####" readonly>
                <span asp-validation-for="Empleado.IdPersonaNavigation.Telefono" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-9">
                <label asp-for="Empleado.IdPersonaNavigation.Direccion" class="font-weight-bold"></label>
                <textarea asp-for="Empleado.IdPersonaNavigation.Direccion" class="form-control" placeholder="Col campos II, Barrio Los Angeles, Apastepeque, San Vicente" style="height: 100px;" readonly></textarea>
                <span asp-validation-for="Empleado.IdPersonaNavigation.Direccion" class="text-danger"></span>
            </div>
            <div class="col-lg-3">
                <label asp-for="Empleado.Dui" class="font-weight-bold"></label>
                <input class="form-control" asp-for="Empleado.Dui" placeholder="########-#" readonly>
                <span asp-validation-for="Empleado.Dui" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label asp-for="Empleado.FechaNacimiento" class="font-weight-bold"></label>
                <input class="form-control" asp-for="Empleado.FechaNacimiento" placeholder="dd/MM/yyyy" readonly>
                <span asp-validation-for="Empleado.FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Empleado.FechaIngreso" class="font-weight-bold"></label>
                <input class="form-control" asp-for="Empleado.FechaIngreso" placeholder="dd/MM/yyyy" readonly>
                <span asp-validation-for="Empleado.FechaIngreso" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div id="FormUsuario" class="pt-3">
        <div class="row ml-3">
            <div class="col-lg-5">
                <div class="form-group row">
                    <label asp-for="Empleado.IdUsuarioNavigation.Nombre" class="font-weight-bold"></label>
                    <input class="form-control" asp-for="Empleado.IdUsuarioNavigation.Nombre" placeholder="Digite su nombre de usuario" readonly>
                    <span asp-validation-for="Empleado.IdUsuarioNavigation.Nombre" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label asp-for="Empleado.IdUsuarioNavigation.Correo" class="font-weight-bold"></label>
                    <input class="form-control" asp-for="Empleado.IdUsuarioNavigation.Correo" placeholder="ejemplo@dominio.com" readonly>
                    <span asp-validation-for="Empleado.IdUsuarioNavigation.Correo" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label asp-for="Empleado.IdUsuarioNavigation.Clave" class="font-weight-bold"></label>
                    <input class="form-control" type="password" asp-for="Empleado.IdUsuarioNavigation.Clave" placeholder="Digite su contraseña" readonly>
                    <span asp-validation-for="Empleado.IdUsuarioNavigation.Clave" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="form-group row offset-3 text-center">
                    @if(Model.Empleado.IdUsuarioNavigation.IdImagenNavigation == null){
                        <img src = "/img/blank-profile.png" alt = "..." class="img-thumbnail rounded-circle" style="width:300px;height:280px;">
                    }else{
                        <img src = "/@Model.Empleado.IdUsuarioNavigation.IdImagenNavigation.IdRutaNavigation.Nombre/@Model.Empleado.IdUsuarioNavigation.IdImagenNavigation.Nombre" alt = "Model.Empleado.IdUsuarioNavigation.IdPersonaNavigation.Nombre" class="img-thumbnail rounded-circle" style="width:300px;height:280px;">
                    }
                </div>
                <div class="form-group offset-1">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="pdimagen">
                        <label class="custom-file-label" name="pdimagen" for="pdimagen">Seleccione..</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <button type="button" class="btn btn-outline-warning offset-5" id="btnmod"><i class="fas fa-pencil-alt"></i> Modificar</button>
        <button type="button" class="btn btn-outline-primary offset-5" id="btnsave" hidden><i class="fas fa-save"></i> Guardar Cambios</button>
    </div>
</form>