@model Compras.RegistroCompraModel;
<tr>
    <td>
        @Model.Producto.Nombre
    </td>
    <td>
        <input class="form-control" data-cantidad="true" id="cantidad" value="0" minlength="1" type="number">
    </td>
    <td>
        <input class="form-control" data-total="true" id="total" value="0.00" minlength="1" type="number">
    </td>
    <td>
        <input class="form-control" data-unitario="true" id="unitario" value="0.00" minlength="1" type="number" readonly>
    </td>
    <td>
        <input class="form-control" data-venta="true" id="venta" value="0.00" minlength="1" type="number">
    </td>
    <td>
        <div class="pt-2" style="align-content: center;">
            <a href="" class="text-danger font-weight-bold" title="Eliminar"><i class="fas fa-trash"></i></a>
        </div>
    </td>
</tr>