@page
@model KardexModel

@{
ViewData["title"] = "Kardex";
}

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Datos</h6>
  </div>



  <div class="row">
    <div class="col-lg-5 input-group">
      <div class="input-group px-2 pb-2  mt-3 font-weight-bold ">
          <label for="producto" class="px-4 pt-2">Producto</label>
        <input id="producto" type="text" class="form-control" placeholder="Nombre o código de producto"
          aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-11 form-inline px-5 pt-2">

      <div class="form-group font-weight-bold">
        <label for="Desde">Desde</label>
        <input type="date" id="Desde" name="Desde" class="form-control mx-sm-3" />
      </div>
      <div class="form-group font-weight-bold">
        <label for="Hasta">Hasta</label>
        <input type="date" id="Hasta" name="Hasta" class="form-control mx-sm-3" />
      </div>
      <label class="d-block font-weight-bold" for="Mostrar">Mostrar</label>
      <div class="pl-5 custom-control custom-radio custom-control-inline">
        <input type="radio" id="Entradas" name="Mostrar" class="custom-control-input" value="SoloEntradas">
        <label class="custom-control-label" for="Entradas">Entradas</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="Salidas" name="Mostrar" class="custom-control-input" value="SoloSalidas">
        <label class="custom-control-label" for="Salidas">Salidas</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="Ambos" name="Mostrar" class="custom-control-input" value="Ambos" checked>
        <label class="custom-control-label" for="Ambos">Ambos</label>
      </div>
    </div>
    <div class="col-lg-1 pt-3">
      <a href='#' class="text-info" title="Sin filtro"><i class="fas fa-redo-alt"></i></a>
    </div>

  </div>
  <div class="px-4 pt-3">
    <table class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Movimiento</th>
          <th scope="col">Producto</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Unidades</th>
          <th scope="col">Costo unitario</th>
          <th scope="col">Casto total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>17-09-2019 07:00</td>
          <td>Entrada</td>
          <td>Lapiz</td>
          <td>10</td>
          <td>10</td>
          <td>$ 0.15</td>
          <td>$ 1.50</td>
        </tr>
        <tr>
          <td>17-09-2019 07:00</td>
          <td>Entrada</td>
          <td>Lapiz</td>
          <td>10</td>
          <td>20</td>
          <td>$ 0.15</td>
          <td>$ 3.00</td>
        </tr>
        <tr>
          <td>18-09-2019 08:00</td>
          <td>Salida</td>
          <td>Lapiz</td>
          <td>15</td>
          <td>5</td>
          <td>$ 0.15</td>
          <td>$ 0.75</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>