@page
@model KardexModel

@{
  ViewData["title"] = "Kardex";
}

<table class="table table-hover table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Movimiento</th>
      <th scope="col">Producto</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Existencia</th>
    </tr>
  </thead>
  <tbody>
      <tr>
      <td>17-09-2019 07:00</td>
      <td>Entrada</td>
      <td>Lapiz</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <td>17-09-2019 07:00</td>
      <td>Entrada</td>
      <td>Lapiz</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <td>18-09-2019 08:00</td>
      <td>Salida</td>
      <td>Lapiz</td>
      <td>3</td>
      <td>7</td>
    </tr>
    <tr>
      <td>17-09-2019 07:00</td>
      <td>Entrada</td>
      <td>Borrador</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <td>17-09-2019 07:00</td>
      <td>Salida</td>
      <td>Borrador</td>
      <td>1</td>
      <td>4</td>
    </tr>
    <tr>
      <td>18-09-2019 08:00</td>
      <td>Salida</td>
      <td>Lapiz</td>
      <td>3</td>
      <td>7</td>
    </tr>
    <tr>
      <td>17-09-2019 07:00</td>
      <td>Entrada</td>
      <td>Borrador</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <td>17-09-2019 07:00</td>
      <td>Salida</td>
      <td>Borrador</td>
      <td>1</td>
      <td>4</td>
    </tr>
    <tr>
      <td>17-09-2019 07:00</td>
      <td>Entrada</td>
      <td>Lapiz</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <td>18-09-2019 08:00</td>
      <td>Salida</td>
      <td>Lapiz</td>
      <td>3</td>
      <td>7</td>
    </tr>
    <tr>
      <td>17-09-2019 07:00</td>
      <td>Entrada</td>
      <td>Borrador</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <td>17-09-2019 07:00</td>
      <td>Salida</td>
      <td>Borrador</td>
      <td>1</td>
      <td>4</td>
    </tr>
  </tbody>
</table>