@page
@model Productos.ListaProductoModel;
@using SGLibreria.Models;
@{
ViewData["Title"] = "Lista de Productos";
}

<style>
  body {
    color: #555;
  }

  #nav-inferior .btn-dark:hover {
    background-color: #1597a8 !important;
  }

  #productos-seleccionados {
    right: 0;
    position: absolute;
    transition: max-width .4s;
  }

</style>
<div id='alerta' style='display:none;' class='alert'></div>
<form id='formToken' method='post'></form>
<div id='productos' style='margin-top:15px;margin-bottom:100px;'>

</div><!-- #productos -->

<div id="nav-inferior" class="row bg-white position-fixed pt-3" style="bottom:0;border-top:2px solid #e5e5e5">
  <div class="col-lg-4">
    <div class="input-group mb-3">
      <input type="text" id="NombreOCodigo" class="form-control" placeholder="Nombre o código de producto"
        aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </div>

  <div class="col-lg-2" >
      <ul class="pagination" id="paginacion">
          
      </ul>
  </div>
  
  <div class="col-lg-4">
      <div class="form-group row">
          <label for="pdcategoria"
              class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Estado</label>
          <div class="col-lg-7">
              <select class="custom-select form-control" id="pdcategoria">
                  <option disabled>-- Seleccione estado --</option>
                  <option value="1">Habilitado</option>
                  <option value="2">Deshabilitado</option>
              </select>
          </div>
      </div>
  </div>

<div class="btn-group" id="categorias" role="group" aria-label="Basic example">
    @foreach (var Cat in Model.Categorias) {
          <button type="button" data-IdCategoria="@Cat.Id" class="btn btn-dark">@Cat.Nombre</button>
    }
    <button type="button" class="btn btn-dark"> <i class="fas fa-redo-alt"></i> </button>
  </div>
</div>

<template id='plantilla-option'>
  <option value=''></option>
</template>

@section Modal {
  <!-- Modal -->
  <div class="modal fade" id="modalProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
      <form class="modal-content" enctype="multipart/form-data" method='post'
      id="formModificarProducto">
        <div class="modal-header bg-primary text-white">
          <h4 class="modal-title">Modificar Producto</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

              <div class="form-group row">
                <input id='pdid' name="Producto.Id" type="hidden" />
                <label for="pdnombre" asp-for="Producto.Nombre"
                  class="offset-lg-1 col-lg-3 col-form-label font-weight-bold"></label>
                <div class="col-lg-7">
                  <input asp-for="Producto.Nombre" type="text" class="form-control form-control-user mb-2"
                    id="pdnombre" placeholder="Lapicero" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="pdmarca" asp-for="Producto.IdMarca"
                  class="offset-lg-1 col-lg-3 col-form-label font-weight-bold"></label>
                <div class="col-lg-7">
                  <select asp-for="Producto.IdMarca" class="custom-select form-control" id="comboMarcas">

                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="pdcodigo" asp-for="Producto.Codigo"
                  class="offset-lg-1 col-lg-3 col-form-label font-weight-bold"></label>
                <div class="col-lg-7">
                  <input asp-for="Producto.Codigo" type="text" class="form-control" id="pdcodigo"
                    placeholder="LF0001">
                </div>
              </div>
              <div class="form-group row">
                <label for="pdcategoria" asp-for="Producto.IdCategoria"
                  class="offset-lg-1 col-lg-3 col-form-label font-weight-bold"></label>
                <div class="col-lg-7">
                  <select asp-for="Producto.IdCategoria" class="custom-select form-control" id="comboCategorias"
                    required>

                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="pddireccion" asp-for="Producto.Descripcion"
                  class="offset-lg-1 col-lg-3 col-form-label font-weight-bold"></label>
                <div class="col-lg-7">
                  <textarea asp-for="Producto.Descripcion" class="form-control" id="pddireccion" rows="3"
                    placeholder="Lapicedo color morado con bordes"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <label for="pdstock" asp-for="Producto.StockMinimo"
                  class="offset-lg-1 col-lg-3 col-form-label font-weight-bold"></label>
                <div class="col-lg-7">
                  <input asp-for="Producto.StockMinimo" type="number" class="form-control" id="pdstock"
                    placeholder="10" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="pdfecha" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Fecha
                  vencimiento</label>
                <div class="col-lg-7">
                  <input asp-for="Producto.FechaVencimiento" class="form-control" id="pdfecha"
                    placeholder="LF0001">
                </div>
              </div>
              <div class="form-group row">
                <label for="pdimagenNuevo" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Seleccione
                  foto</label>
                <div class="col-lg-7">

                  <div class="custom-file">
                    <input type="file" asp-for="Producto.Archivo" class="custom-file-input" id="pdimagenNuevo">
                    <label class="custom-file-label" for="pdimagenNuevo">Seleccione..</label>
                  </div>
                </div>
              </div>
              ​
              <div class="row">
                <div id='vistaPrevia' class="col-lg-6 offset-lg-3">
                  <h5 id="textoVistaPrevia" class="text-center">Vista Previa</h5>
                  <img class='img-fluid' id ="imagen"/>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <div class="btn btn-group">
            <button type="submit" class="btn btn-outline-warning" id="btnAgregarProducto"><i
                class="fas fa-save"> </i> Modificar</button>
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="btnCancelarProducto"><i
                class="fas fa-times-circle"> </i> Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
}
@section Scripts {
<link href="~/selectric/src/selectric.css" rel="stylesheet">
<script src="~/selectric/src/jquery.selectric.js"></script>
<script src="~/js/sgl.js"></script>
<script>

  sgl.get('ListaProductoAjax?Boton=true', refrescar);
  function refrescar(data) {
    var divProductos = sgl.q('#productos');
    divProductos.innerHTML = data;
    var divPaginador = sgl.q('#paginacion');
    divPaginador.innerHTML = sgl.createPagination(divProductos, "#resultados-filtro");
    console.log(data);

  };

  

  var NombreOCodigo = sgl.q('#NombreOCodigo');
  NombreOCodigo.focus();
  NombreOCodigo.oninput = function (e) {
    buscarProducto(NombreOCodigo.value);
  };

  function buscarProducto(NombreCodigo, IdCategoria) {
    params = "";
    if (NombreCodigo) {
      params += "NombreOCodigo=" + NombreCodigo;
    }
    if (IdCategoria) {
      params += "&IdCategoria=" + IdCategoria;
    }
    sgl.get('ListaProductoAjax', function (data) {
      var divProductos = sgl.q('#productos');
      divProductos.innerHTML = data;
      
    }, params);
  }

  var divCategorias = sgl.q('#categorias');
  var divProductos = sgl.q('#productos');
  //clic la imagen del card activa un elemento
  divProductos.addEventListener('click', function marcarProducto(evento) {
    var currentTarget = evento.currentTarget;
    var target = evento.target;
    var card;
    var cardFooter;
    if (target.matches('img')) {
      card = target.parentNode;
      cardFooter = card.querySelector('.card-footer');
      if (card.getAttribute('data-seleccionado') == 'true') {
        cardFooter.classList.remove('bg-primary');
        cardFooter.classList.remove('text-white');
        cardFooter.classList.add('text-primary');
        card.setAttribute('data-seleccionado', false);
      } else {
        cardFooter.classList.add('bg-primary');
        cardFooter.classList.add('text-white');
        cardFooter.classList.remove('text-primary');
        card.setAttribute('data-seleccionado', true);
      }
    }
  });

  //clic en un boton levanta un modal y lo llena
  divProductos.addEventListener('click', function (evento) {
    var currentTarget = evento.currentTarget;
    var target = evento.target;
    var idproducto;

    var inputToken = sgl.q('#formToken '+sgl.inputToken);
//    console.log(sgl.headerToken, inputToken.value);
    var headers = { [sgl.headerToken]: inputToken.value };
    var card;
    if (target.matches('button[type=button') || target.matches('i')) {
      if(target.nodeName == 'I') {
        card = target.parentNode.parentNode.parentNode.parentNode;
        idproducto = target.parentNode.getAttribute('data-idproducto');
      } else {
        card = target.parentNode.parentNode.parentNode;
        idproducto = target.getAttribute('data-idproducto');
      }
      
      sgl.ajax2({
        method: 'post',
        url: 'ListaProducto?handler=Producto',
        headers: headers,
        data: { 'idproducto': idproducto },
        done: function (data) {
          var producto = JSON.parse(data);
          sgl.ajax2({
            method: 'post',
            url: 'ListaProducto?handler=CategoriasMarcas',
            headers: headers,
            done: function (data) {
              var obj = JSON.parse(data);
              sgl.setDataSet(card, producto);
              var datos = sgl.getDataSet(card);
              console.log(datos);
              //console.log(producto['idMarca'], producto['idCategoria'], producto);
              //console.log(obj);
              $('#modalProducto').modal('show');
              //llenarCategorias(obj.categorias);
              //llenarMarcas(obj.marcas);
              
              var comboCategorias = sgl.q('#comboCategorias'), 
                  comboMarcas = sgl.q('#comboMarcas');

              comboCategorias.innerHTML='';
              comboMarcas.innerHTML='';
              sgl.llenarCombo(
                sgl.q('#plantilla-option'), 
                comboCategorias, 
                obj.categorias, 
                'nombre', 'id'
              );
              
              sgl.llenarCombo(
                sgl.q('#plantilla-option'), 
                comboMarcas, 
                obj.marcas, 
                'nombre', 'id'
              );

              llenarFormProducto(producto);
              
            },
            fail: function () {console.log(this);}
          });
        },
        fail: function () {console.log(this)}
      });

    }
  });
  function llenarFormProducto(producto) {

    sgl.q('#pdid').value = producto.id;
    sgl.q('#pdnombre').value = producto.nombre;
    sgl.q('#comboMarcas').value = producto.idMarca;
    sgl.q('#comboCategorias').value = producto.idCategoria;
    sgl.q('#pdcodigo').value = producto.codigo;
    sgl.q('#pddireccion').value = producto.descripcion;
    sgl.q('#pdstock').value = producto.stockMinimo;
    sgl.q('#pdfecha').value = producto.fechaVencimiento;
    
    var alerta = sgl.q('#alerta');
    alerta.style.display = 'none';
    alerta.innerHTML = '';
    var imagen = sgl.q('#imagen');
    var textoVistaPrevia = sgl.q('#textoVistaPrevia');
    var path = '';
    if (producto.idImagenNavigation && producto.idImagenNavigation.idRutaNavigation) {
      path = '/' + producto.idImagenNavigation.idRutaNavigation.nombre;
      path += '/' + producto.idImagenNavigation.nombre;
      textoVistaPrevia.style.display='none';
      imagen.style.display='block';
    } else {
      textoVistaPrevia.style.display='block';
      textoVistaPrevia.innerHTML = 'Vista previa';
      imagen.style.display='none';
    }
    imagen.src = path;

    console.log(producto);
    //
    // codigo para la imagen aquí
    //

  }

  var formModificar = sgl.q('#formModificarProducto');
  var botonModificar = sgl.q('#btnAgregarProducto');
  var pdimagenNuevo = sgl.q('#pdimagenNuevo');
  pdimagenNuevo.onchange = function () {
    readURL(this);
    function readURL(input) {

      if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            var imagen = sgl.q('#imagen');
            var textoVistaPrevia = sgl.q('#textoVistaPrevia');
            imagen.src = e.target.result;
            imagen.style.display = 'block';
            textoVistaPrevia.style.display='none';
          }
          reader.readAsDataURL(input.files[0]);
      }
    }
  };


  formModificar.onsubmit = function (evento) {
 //   console.log('evento submit llamado');
    evento.preventDefault();
 //   if(true) return false;
    var inputToken = sgl.q('#formToken '+sgl.inputToken);
    var headers = { [sgl.headerToken]: inputToken.value };
    sgl.ajax2({
      url: "ListaProducto", 
      method: "POST", 
      data: new FormData(formModificar), 
      done: function(data) {
        var obj = JSON.parse(data);
        var alerta = sgl.q('#alerta');
        $('#modalProducto').modal('hide');
        alerta.style.display= 'block';
        if(obj.error) {
          alerta.className = 'alert alert-danger';
          alerta.innerHTML = obj.error;
        } else if(obj.mensaje) {
          alerta.className = 'alert alert-primary';
          alerta.innerHTML = obj.mensaje;
        }
        sgl.get('ListaProductoAjax', refrescar);
        //cerrar la alerta automaticamente
        var timeoutID = window.setTimeout(function () {
            alerta.className = 'alert';
            alerta.style.display = 'none';
        }, 3000);

        console.log(data);
      },
      fail: function() {
        console.log('error: ');
        console.log(this);
      }
    });
  }
 

  divCategorias.onclick = function (evento) {
    var target = evento.target;
    console.log(target);
    var IdCategoria = target.getAttribute('data-idcategoria');
    if (IdCategoria != null) {
      buscarProducto(NombreOCodigo.value, IdCategoria);
    } else {
      buscarProducto(NombreOCodigo.value);
    }
  }
</script>
}<!-- section scripts-->