@page
@model Productos.ListaProductoModel;
@using SGLibreria.Models;
@{
ViewData["Title"] = "Lista de Productos";
}

<style>
  body {
    color: #555;
  }

  #nav-inferior .btn-dark:hover {
    background-color: #1597a8 !important;
  }

  #productos-seleccionados {
    right: 0;
    position: absolute;
    transition: max-width .4s;
  }
</style>
<div id='alerta' style='display:none;' class='alert'></div>
<form id='formToken' method='post'></form>
<div id='productos' style='margin-top:15px;margin-bottom:100px;'>

</div><!-- #productos -->

<div id="nav-inferior" class="row bg-white position-fixed pt-3" style="bottom:0;border-top:2px solid #e5e5e5">
  <div class="col-lg-4">
    <div class="input-group mb-3">
      <input type="text" id="NombreOCodigo" class="form-control" placeholder="Nombre o código de producto"
        aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </div>

  <div class="col-lg-4" >
      <ul class="pagination" id="paginacion">
          
      </ul>
  </div>

<div class="col-lg-6">
<div class="bg-dark" id="categorias" role="group" aria-label="Basic example">
    @foreach (var Categoria in Model.Categorias) {
          <button type="button" data-IdCategoria="@Categoria.Id" class="btn btn-sm btn-dark">@Categoria.Nombre</button>
    }
    
    <button type="button" class="btn btn-sm btn-dark"> <i class="fas fa-redo-alt"></i> </button>
  </div>
</div>
<div class="col-lg-6">
<div class="bg-dark" id="marcas" role="group" aria-label="Basic example">
    @foreach (var Marca in Model.Marcas) {
          <button type="button" data-IdMarca="@Marca.Id" class="btn btn-sm btn-dark">@Marca.Nombre</button>
    }
    
    
    <button type="button" class="btn btn-sm btn-dark"> <i class="fas fa-redo-alt"></i> </button>
  </div>
</div>
</div>

<template id='plantilla-option'>
  <option value=''></option>
</template>

@section Modal {
  <!-- Modal -->
  <div class="modal fade" id="modalProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
      <form class="modal-content" enctype="multipart/form-data" method='post'
      id="formModificarProducto">
        <div class="modal-header bg-primary text-white">
          <h4 class="modal-title">Modificar Producto</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

              <div class="form-group row">
                <input id='pdid' name="Producto.Id" type="hidden" />
                <label for="pdnombre" asp-for="Producto.Nombre"
                  class="offset-lg-1 col-lg-3 col-form-label font-weight-bold"></label>
                <div class="col-lg-7">
                  <input asp-for="Producto.Nombre" type="text" class="form-control form-control-user mb-2"
                    id="pdnombre" placeholder="Lapicero" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="pdmarca" asp-for="Producto.IdMarca"
                  class="offset-lg-1 col-lg-3 col-form-label font-weight-bold"></label>
                <div class="col-lg-7">
                  <select asp-for="Producto.IdMarca" class="custom-select form-control" id="comboMarcas">

                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="pdcodigo" asp-for="Producto.Codigo"
                  class="offset-lg-1 col-lg-3 col-form-label font-weight-bold"></label>
                <div class="col-lg-7">
                  <input asp-for="Producto.Codigo" type="text" class="form-control" id="pdcodigo"
                    placeholder="LF0001">
                </div>
              </div>
              <div class="form-group row">
                <label for="pdcategoria" asp-for="Producto.IdCategoria"
                  class="offset-lg-1 col-lg-3 col-form-label font-weight-bold"></label>
                <div class="col-lg-7">
                  <select asp-for="Producto.IdCategoria" class="custom-select form-control" id="comboCategorias"
                    required>

                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="pddireccion" asp-for="Producto.Descripcion"
                  class="offset-lg-1 col-lg-3 col-form-label font-weight-bold"></label>
                <div class="col-lg-7">
                  <textarea asp-for="Producto.Descripcion" class="form-control" id="pddireccion" rows="3"
                    placeholder="Lapicedo color morado con bordes"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <label for="pdstock" asp-for="Producto.StockMinimo"
                  class="offset-lg-1 col-lg-3 col-form-label font-weight-bold"></label>
                <div class="col-lg-7">
                  <input asp-for="Producto.StockMinimo" type="number" class="form-control" id="pdstock"
                    placeholder="10" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="pdfecha" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Fecha
                  vencimiento</label>
                <div class="col-lg-7">
                  <input asp-for="Producto.FechaVencimiento" class="form-control" id="pdfecha"
                    placeholder="LF0001">
                </div>
              </div>
              <div class="form-group row">
                <label for="pdimagenNuevo" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Seleccione
                  foto</label>
                <div class="col-lg-7">

                  <div class="custom-file">
                    <input type="file" asp-for="Producto.Archivo" class="custom-file-input" id="pdimagenNuevo">
                    <label class="custom-file-label" for="pdimagenNuevo">Seleccione..</label>
                  </div>
                </div>
              </div>
              ​
              <div class="row">
                <div id='vistaPrevia' class="col-lg-6 offset-lg-3">
                  <h5 id="textoVistaPrevia" class="text-center">Vista Previa</h5>
                  <img class='img-fluid' id ="imagen"/>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <div class="btn btn-group">
            <button type="submit" class="btn btn-outline-warning" id="btnAgregarProducto"><i
                class="fas fa-save"> </i> Modificar</button>
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="btnCancelarProducto"><i
                class="fas fa-times-circle"> </i> Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
}
@section Scripts {
<script src="~/js/sgl.js"></script>
<script src="/js/productos.js"></script>
}<!-- section scripts-->