@page
@model StockModel

@{
    ViewData["title"] = "Stock de Productos";
}

<div class="row form-control-plaintext px-2 text-center">
    <label class="h2">Poductos próximos a agotarse</label>
</div>

<div class="row pl-5">
    <div class="card-group">
        <div class="card">
            <div class="card-title mt-3 mx-2">
                <h5 class="m-0 p-0">Borradores <span class="badge badge-danger">10</span></h5>
            </div>
            <div class="card-img-top">
                <img src="/Productos/borradores.jpg" class="img-fluid" alt="..." width="150px">
            </div>
            <div class="card-body">
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card">
            <div class="card-title mt-3 mx-2">
                <h5 class="m-0 p-0">Lapiceros <span class="badge badge-danger">10</span></h5>
            </div>
            <div class="card-img-top">
                <img src="/Productos/lapiceros.jpg" class="img-fluid" alt="..." width="150px">
            </div>
            <div class="card-body">
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card">
            <div class="card-title mt-3 mx-2">
                <h5 class="m-0 p-0">Sacapuntas <span class="badge badge-danger">10</span></h5>
            </div>
            <div class="card-img-top">
                <img src="~/Productos/zacapuntas.jpg" class="img-fluid" alt="..." width="200px">
            </div>
            <div class="card-body">
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card">
            <div class="card-title mt-3 mx-2">
                <h5 class="m-0 p-0">Borradores <span class="badge badge-danger">10</span></h5>
            </div>
            <div class="card-img-top">
                <img src="/Productos/borradores.jpg" class="img-fluid" alt="..." width="150px">
            </div>
            <div class="card-body">
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card">
            <div class="card-title mt-3 mx-2">
                <h5 class="m-0 p-0">Lapiceros <span class="badge badge-danger">10</span></h5>
            </div>
            <div class="card-img-top">
                <img src="/Productos/lapiceros.jpg" class="img-fluid" alt="..." width="150px">
            </div>
            <div class="card-body">
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card">
            <div class="card-title mt-3 mx-2">
                <h5 class="m-0 p-0">Sacapuntas <span class="badge badge-danger">10</span></h5>
            </div>
            <div class="card-img-top">
                <img src="~/Productos/zacapuntas.jpg" class="img-fluid" alt="..." width="200px">
            </div>
            <div class="card-body">
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>
<div class="row pl-5">
    <div class="card-group">
        <div class="card">
            <div class="card-title mt-3 mx-2">
                <h5 class="m-0 p-0">Borradores <span class="badge badge-danger">10</span></h5>
            </div>
            <div class="card-img-top">
                <img src="/Productos/borradores.jpg" class="img-fluid" alt="..." width="150px">
            </div>
            <div class="card-body">
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card">
            <div class="card-title mt-3 mx-2">
                <h5 class="m-0 p-0">Lapiceros <span class="badge badge-danger">10</span></h5>
            </div>
            <div class="card-img-top">
                <img src="/Productos/lapiceros.jpg" class="img-fluid" alt="..." width="150px">
            </div>
            <div class="card-body">
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card">
            <div class="card-title mt-3 mx-2">
                <h5 class="m-0 p-0">Sacapuntas <span class="badge badge-danger">10</span></h5>
            </div>
            <div class="card-img-top">
                <img src="~/Productos/zacapuntas.jpg" class="img-fluid" alt="..." width="200px">
            </div>
            <div class="card-body">
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card">
            <div class="card-title mt-3 mx-2">
                <h5 class="m-0 p-0">Borradores <span class="badge badge-danger">10</span></h5>
            </div>
            <div class="card-img-top">
                <img src="/Productos/borradores.jpg" class="img-fluid" alt="..." width="150px">
            </div>
            <div class="card-body">
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card">
            <div class="card-title mt-3 mx-2">
                <h5 class="m-0 p-0">Lapiceros <span class="badge badge-danger">10</span></h5>
            </div>
            <div class="card-img-top">
                <img src="/Productos/lapiceros.jpg" class="img-fluid" alt="..." width="150px">
            </div>
            <div class="card-body">
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card">
            <div class="card-title mt-3 mx-2">
                <h5 class="m-0 p-0">Sacapuntas <span class="badge badge-danger">10</span></h5>
            </div>
            <div class="card-img-top">
                <img src="~/Productos/zacapuntas.jpg" class="img-fluid" alt="..." width="200px">
            </div>
            <div class="card-body">
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>
<div class="row pl-5">
    <div class="card-group">
        <div class="card">
            <div class="card-title mt-3 mx-2">
                <h5 class="m-0 p-0">Borradores <span class="badge badge-danger">10</span></h5>
            </div>
            <div class="card-img-top">
                <img src="/Productos/borradores.jpg" class="img-fluid" alt="..." width="150px">
            </div>
            <div class="card-body">
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card">
            <div class="card-title mt-3 mx-2">
                <h5 class="m-0 p-0">Lapiceros <span class="badge badge-danger">10</span></h5>
            </div>
            <div class="card-img-top">
                <img src="/Productos/lapiceros.jpg" class="img-fluid" alt="..." width="150px">
            </div>
            <div class="card-body">
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card">
            <div class="card-title mt-3 mx-2">
                <h5 class="m-0 p-0">Sacapuntas <span class="badge badge-danger">10</span></h5>
            </div>
            <div class="card-img-top">
                <img src="~/Productos/zacapuntas.jpg" class="img-fluid" alt="..." width="200px">
            </div>
            <div class="card-body">
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card">
            <div class="card-title mt-3 mx-2">
                <h5 class="m-0 p-0">Borradores <span class="badge badge-danger">10</span></h5>
            </div>
            <div class="card-img-top">
                <img src="/Productos/borradores.jpg" class="img-fluid" alt="..." width="150px">
            </div>
            <div class="card-body">
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card">
            <div class="card-title mt-3 mx-2">
                <h5 class="m-0 p-0">Lapiceros <span class="badge badge-danger">10</span></h5>
            </div>
            <div class="card-img-top">
                <img src="/Productos/lapiceros.jpg" class="img-fluid" alt="..." width="150px">
            </div>
            <div class="card-body">
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card">
            <div class="card-title mt-3 mx-2">
                <h5 class="m-0 p-0">Sacapuntas <span class="badge badge-danger">10</span></h5>
            </div>
            <div class="card-img-top">
                <img src="~/Productos/zacapuntas.jpg" class="img-fluid" alt="..." width="200px">
            </div>
            <div class="card-body">
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>