@page
@model Ventas.RegistroVentaModel

@{
ViewData["Title"] = "Registro Venta";
}

<style>
  .card-img-top {
    margin-left: auto;
    margin-right: auto;
  }
</style>
<form>
  <div class="bg-white m-4 px-4 pt-2 pb-2 rounded">
    <label>Datos del Cliente</label>
    <div class="m-2 py-2 bg-light rounded">
      <div class="row p-2">
        <div class="col">
          <label>Nombre</label>
          <input type="text" class="form-control bg-white" name="Nombre" placeholder="Nombre completo">
        </div>
        <div class="col">
          <label>NIT</label>
          <input type="text" class="form-control bg-white" name="Nit" placeholder="####-######-###-#">
        </div>
      </div>
      <div class="row p-2">
        <div class="col">
          <label>Dirección</label>
          <textarea class="form-control bg-white" name="Direccion" placeholder="Dirección"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white m-4 px-4 pt-2 pb-2 rounded">
    <label>Datos de la Venta</label>
    <div class="m-2 py-2 bg-light rounded">
      <div class="row p-2">
        <div class="col-md-3">
          <label>Fecha de la venta: </label>
          <input type="date" name="FechaVenta" class="form-control bg-white" placeholder="dd/mm/yyyy">
        </div>
        <div class="col-md-3 offset-md-6">
          <label>Monto Total:</label>
          <label class="text-success font-weight-bold">$1.25</label>
        </div>
      </div>
      <div class="row no-gutters p-2">
        <div class="col-11 col-sm-5 col-md-7">
          <label>Lista de Productos</label>
        </div>
        <div class="col text-right">
          <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#producto" name="AgregarProducto"><i class="fas fa-plus"></i> Agregar productos</button>
        </div>
        <div class="col text-right">
          <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#servicio" name="AgregarProducto"><i class="fas fa-plus"></i> Agregar servicios</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table table-sm table-hover bg-white" name="TablaVenta">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio Unitario</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Cuaderno Scribe</td>
                <td>
                  <div class="def-number-input number-input safari_only">
                    <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                      class="minus"></button>
                    <input class="quantity" min="0" name="quantity" value="1" type="number">
                    <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                      class="plus"></button>
                  </div>
                </td>
                <td>$1</td>
              </tr>
              <tr>
                <td>Lapiz Bic</td>
                <td>
                  <div class="def-number-input number-input safari_only">
                    <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                      class="minus"></button>
                    <input class="quantity" min="0" name="quantity" value="1" type="number">
                    <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                      class="plus"></button>
                  </div>
                </td>
                <td>$0.25</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" id="producto">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myLargeModalLabel">Productos</h4>
          <div class="col-lg-6">
            <button type="button" class="btn btn-outline-success"><i class="fas fa-cart-plus"></i> Agregar</button>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-inline">
            <div class="row pb-2">
              <div class="search-box">
                <input type="text" class="search-txt" placeholder="Buscar..." />
                <a class="search-btn" href="#">
                  <i class="fas fa-search"></i>
                </a>
              </div>
            </div>
            <div class="row px-5 pt-5">
              <div class="col">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1"><span
                    class="badge badge-pill badge-primary">Lapices</span></label>
              </div>
              <div class="col">
                <input type="checkbox" class="custom-control-input" id="customCheck2">
                <label class="custom-control-label" for="customCheck2"><span
                    class="badge badge-pill badge-secondary">Cuadernos</span></label>
              </div>
              <div class="col">
                <input type="checkbox" class="custom-control-input" id="customCheck3">
                <label class="custom-control-label" for="customCheck3"><span
                    class="badge badge-pill badge-success">Libros</span></label>
              </div>
              <div class="col">
                <input type="checkbox" class="custom-control-input" id="customCheck4">
                <label class="custom-control-label" for="customCheck4"><span
                    class="badge badge-pill badge-danger">Borradores</span></label>
              </div>
              <div class="col">
                <input type="checkbox" class="custom-control-input" id="customCheck5">
                <label class="custom-control-label" for="customCheck5"><span
                    class="badge badge-pill badge-warning">Sacapuntas</span></label>
              </div>
              <div class="col">
                <input type="checkbox" class="custom-control-input" id="customCheck6">
                <label class="custom-control-label" for="customCheck6"><span
                    class="badge badge-pill badge-info">Calculadoras</span></label>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col">
                <div class="card" style="width: 15rem; height: 20rem;">
                  <img src="https://www.hoptoys.es/30680-tm_thickbox_default/lapices-de-colores-jumbo-grip-x-12.jpg"
                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                  <div class="card-body">
                    <span class="h5">Lapiz</span>
                    <p class="card-text">Variedad de lapices muchos colores.</p>
                  </div>
                  <div class="card-footer">
                    <div class="def-number-input number-input safari_only">
                      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                        class="minus"></button>
                      <input class="quantity" min="0" name="quantity" value="1" type="number">
                      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                        class="plus"></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="width: 15rem; height: 20rem;">
                  <img src="http://www.cotesudshop.com/wp-content/uploads/2019/04/cuaderno-l-rosa-1-1.jpg"
                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                  <div class="card-body">
                    <span class="h5">Cuaderno</span>
                    <p class="card-text">Cuaderno L lila.</p>
                  </div>
                  <div class="card-footer">
                    <div class="def-number-input number-input safari_only">
                      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                        class="minus"></button>
                      <input class="quantity" min="0" name="quantity" value="1" type="number">
                      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                        class="plus"></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="width: 15rem; height: 20rem;">
                  <img src="https://www.misutiles.com/4296-thickbox_default/sacapunta-1-cuchilla.jpg"
                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                  <div class="card-body">
                    <span class="h5">Saca Punta</span>
                    <p class="card-text">Sacapunta color azul.</p>
                  </div>
                  <div class="card-footer">
                    <div class="def-number-input number-input safari_only">
                      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                        class="minus"></button>
                      <input class="quantity" min="0" name="quantity" value="1" type="number">
                      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                        class="plus"></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="width: 15rem; height: 20rem;">
                  <img src="https://lapape.ec/wp-content/uploads/2018/06/BORRADOR-BLANCO-PZ20-PELIKAN.jpg"
                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                  <div class="card-body">
                    <span class="h5">Borrador</span>
                    <p class="card-text">Borrador marca pelikan.</p>
                  </div>
                  <div class="card-footer">
                    <div class="def-number-input number-input safari_only">
                      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                        class="minus"></button>
                      <input class="quantity" min="0" name="quantity" value="1" type="number">
                      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                        class="plus"></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col">
                <div class="card" style="width: 15rem; height: 20rem;">
                  <img src="https://www.hoptoys.es/30680-tm_thickbox_default/lapices-de-colores-jumbo-grip-x-12.jpg"
                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                  <div class="card-body">
                    <span class="h5">Lapiz</span>
                    <p class="card-text">Variedad de lapices muchos colores.</p>
                  </div>
                  <div class="card-footer">
                    <div class="def-number-input number-input safari_only">
                      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                        class="minus"></button>
                      <input class="quantity" min="0" name="quantity" value="1" type="number">
                      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                        class="plus"></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="width: 15rem; height: 20rem;">
                  <img src="http://www.cotesudshop.com/wp-content/uploads/2019/04/cuaderno-l-rosa-1-1.jpg"
                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                  <div class="card-body">
                    <span class="h5">Cuaderno</span>
                    <p class="card-text">Cuaderno L lila.</p>
                  </div>
                  <div class="card-footer">
                    <div class="def-number-input number-input safari_only">
                      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                        class="minus"></button>
                      <input class="quantity" min="0" name="quantity" value="1" type="number">
                      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                        class="plus"></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="width: 15rem; height: 20rem;">
                  <img src="https://www.misutiles.com/4296-thickbox_default/sacapunta-1-cuchilla.jpg"
                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                  <div class="card-body">
                    <span class="h5">Saca Punta</span>
                    <p class="card-text">Sacapunta color azul.</p>
                  </div>
                  <div class="card-footer">
                    <div class="def-number-input number-input safari_only">
                      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                        class="minus"></button>
                      <input class="quantity" min="0" name="quantity" value="1" type="number">
                      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                        class="plus"></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="width: 15rem; height: 20rem;">
                  <img src="https://lapape.ec/wp-content/uploads/2018/06/BORRADOR-BLANCO-PZ20-PELIKAN.jpg"
                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                  <div class="card-body">
                    <span class="h5">Borrador</span>
                    <p class="card-text">Borrador marca pelikan.</p>
                  </div>
                  <div class="card-footer">
                    <div class="def-number-input number-input safari_only">
                      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                        class="minus"></button>
                      <input class="quantity" min="0" name="quantity" value="1" type="number">
                      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                        class="plus"></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col">
                <div class="card" style="width: 15rem; height: 20rem;">
                  <img src="https://www.hoptoys.es/30680-tm_thickbox_default/lapices-de-colores-jumbo-grip-x-12.jpg"
                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                  <div class="card-body">
                    <span class="h5">Lapiz</span>
                    <p class="card-text">Variedad de lapices muchos colores.</p>
                  </div>
                  <div class="card-footer">
                    <div class="def-number-input number-input safari_only">
                      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                        class="minus"></button>
                      <input class="quantity" min="0" name="quantity" value="1" type="number">
                      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                        class="plus"></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="width: 15rem; height: 20rem;">
                  <img src="http://www.cotesudshop.com/wp-content/uploads/2019/04/cuaderno-l-rosa-1-1.jpg"
                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                  <div class="card-body">
                    <span class="h5">Cuaderno</span>
                    <p class="card-text">Cuaderno L lila.</p>
                  </div>
                  <div class="card-footer">
                    <div class="def-number-input number-input safari_only">
                      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                        class="minus"></button>
                      <input class="quantity" min="0" name="quantity" value="1" type="number">
                      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                        class="plus"></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="width: 15rem; height: 20rem;">
                  <img src="https://www.misutiles.com/4296-thickbox_default/sacapunta-1-cuchilla.jpg"
                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                  <div class="card-body">
                    <span class="h5">Saca Punta</span>
                    <p class="card-text">Sacapunta color azul.</p>
                  </div>
                  <div class="card-footer">
                    <div class="def-number-input number-input safari_only">
                      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                        class="minus"></button>
                      <input class="quantity" min="0" name="quantity" value="1" type="number">
                      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                        class="plus"></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="width: 15rem; height: 20rem;">
                  <img src="https://lapape.ec/wp-content/uploads/2018/06/BORRADOR-BLANCO-PZ20-PELIKAN.jpg"
                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                  <div class="card-body">
                    <span class="h5">Borrador</span>
                    <p class="card-text">Borrador marca pelikan.</p>
                  </div>
                  <div class="card-footer">
                    <div class="def-number-input number-input safari_only">
                      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                        class="minus"></button>
                      <input class="quantity" min="0" name="quantity" value="1" type="number">
                      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                        class="plus"></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" id="servicio">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myLargeModalLabel">Servicios</h4>
          <div class="col-lg-6">
            <button type="button" class="btn btn-outline-success"><i class="fas fa-cart-plus"></i> Agregar</button>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row pb-2">
            <div class="search-box">
              <input type="text" class="search-txt" placeholder="Buscar..." />
              <a class="search-btn" href="#">
                <i class="fas fa-search"></i>
              </a>
            </div>
          </div>
          <div class="row px-5 pt-5">
            <div class="col">
              <input type="checkbox" class="custom-control-input" id="customCheckx">
              <label class="custom-control-label" for="customCheckx"><span
                  class="badge badge-pill badge-primary">Fotocopias</span></label>
            </div>
            <div class="col">
              <input type="checkbox" class="custom-control-input" id="customChecky">
              <label class="custom-control-label" for="customChecky"><span
                  class="badge badge-pill badge-secondary">Impresiones</span></label>
            </div>
            <div class="col">
              <input type="checkbox" class="custom-control-input" id="customCheckz">
              <label class="custom-control-label" for="customCheckz"><span
                  class="badge badge-pill badge-success">Recargas</span></label>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col">
              <div class="card" style="width: 15rem; height: 20rem;">
                <img src="~/img/Logo_Tigo.svg"
                  class="card-img-top" alt="..." style="width: 125px; height:
                  125px;">
                <div class="card-body">
                  <span class="h5">Recarga Tigo</span>
                  <p class="card-text">Recarga Tigo valor $1.05.</p>
                </div>
                <div class="card-footer">
                  <div class="def-number-input number-input safari_only">
                    <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                      class="minus"></button>
                    <input class="quantity" min="0" name="quantity" value="1" type="number">
                    <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                      class="plus"></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 15rem; height: 20rem;">
                <img src="~/img/Logo_Tigo.svg"
                  class="card-img-top" alt="..." style="width: 125px; height:
                  125px;">
                <div class="card-body">
                  <span class="h5">Recarga Tigo</span>
                  <p class="card-text">Recarga Tigo valor $2.10.</p>
                </div>
                <div class="card-footer">
                  <div class="def-number-input number-input safari_only">
                    <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                      class="minus"></button>
                    <input class="quantity" min="0" name="quantity" value="1" type="number">
                    <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                      class="plus"></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 15rem; height: 20rem;">
                <img src="~/img/Logo_Tigo.svg"
                  class="card-img-top" alt="..." style="width: 125px; height:
                  125px;">
                <div class="card-body">
                  <span class="h5">Paquete Navegacion Tigo</span>
                  <p class="card-text">Paquete 100Gb/vg1-mes Tigo valor $7.</p>
                </div>
                <div class="card-footer">
                  <div class="def-number-input number-input safari_only">
                    <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                      class="minus"></button>
                    <input class="quantity" min="0" name="quantity" value="1" type="number">
                    <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                      class="plus"></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 15rem; height: 20rem;">
                <img src="https://www.papeleriacomplutense.com/wp-content/uploads/2014/10/fotocopiadora.jpg"
                  class="card-img-top" alt="..." style="width: 125px; height:
                  125px;">
                <div class="card-body">
                  <span class="h5">Fotocopia</span>
                  <p class="card-text">Fotocopia $0.03 x/pag</p>
                </div>
                <div class="card-footer">
                  <div class="def-number-input number-input safari_only">
                    <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                      class="minus"></button>
                    <input class="quantity" min="0" name="quantity" value="1" type="number">
                    <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                      class="plus"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>