@page
@model Categorias.ListaCategoriaModel;
@using SGLibreria.Models;
@{ ViewData["Title"] = "Registro y Lista de Categorías"; }
<div class="row">
    <div class="col-lg-8 offset-lg-2 rounded ">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Registro</h6>
            </div>
            <div class="row">
                <div class="col-lg-10 offset-1">
                    <form class="mt-4" method="POST" id="formcategoriaadd">
                        <div class="form-group row">
                            <label for="Nombre" class="col-lg-2 col-form-label">Nombre</label>
                            <div class="col-lg-4">
                                <input asp-for="Categoria.Nombre" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Libros">
                                <span asp-validation-for="Categoria.Nombre" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6" id="btn">
                                <button type="submit" class="btn btn-outline-primary" id="btnadd"><i class="fas fa-save"></i> Guardar</button>
                            </div>
                        </div>
                    </form>
                    <form class="mt-4" method="POST" id="formcategoriamod" hidden >
                        <div class="form-group row">
                            <label for="Nombre" class="col-lg-2 col-form-label">Nombre <span class="font-weight-bold text-danger">*</span></label>
                            <div class="col-lg-4">
                                <input id="nombremod" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Libros">
                                <span asp-validation-for="Categoria.Nombre" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6" id="btn">
                                <div class="btn-group" id="btngroup">
                                    <button type="submit" class="btn btn-outline-warning" id="btnmod"><i class="fas fa-pencil-alt"></i> Modificar</button>
                                    <button type="button" class="btn btn-outline-danger"><i class="fas fa-times-circle"></i> Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2" id="notific">
        <div class="toast" id="toastProveedor" role="alert" data-delay="5000" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-success" id="thead">
                <label class="col-form-label text-white">
                        <i class="" id="inoti"></i>
                        <strong class="mr-auto">Registro Categoria</strong>
                    </label>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="toast-body" id="tcuerpo">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 offset-lg-2 rounded ">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Categorías</h6>
            </div>

            <div class="row px-5 pt-3">
                <table class="table table-sm table-hover" id="divTabla">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col" style="width:10%">Editar</th>
                            <th scope="col" style="width:20%">Estado</th>
                        </tr>
                    </thead>
                    <tbody id="tbcategoria" ></tbody>
                </table>
            </div>
            <div class="row">
                <div class="col offset-5">
                    <ul class="pagination" id="paginacion">
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts{
<script src="~/js/sgl.js"></script>
<script>
    var FrmCategoriaAdd = document.querySelector("#formcategoriaadd");
    var FrmCategoriaMod = document.querySelector("#formcategoriamod");
    var table = document.querySelector("#divTabla");
    console.log(table);
    var divopc = document.querySelector("#btngroup");
    var btnadd = document.querySelector("#btnadd");
    var eventoClickPaginacion = sgl.q('#paginacion');
    eventoClickPaginacion.addEventListener('click', clicka) ;
    //console.log(eventoClickPaginacion);
    function clicka(e){
        e.preventDefault();
        //console.log(e.target.tagName);
        if(e.target.tagName == 'UL') {
            return;
        }
        let child= e.target.firstElementChild , target = e.target;
        page = target.getAttribute('data-page') === null? child.getAttribute('data-page') : target.getAttribute('data-page');
        console.log(page, page.trim());
        if(page !== null && page.trim() !== '') {
            buscar();
        }
    }
    let page;

    function buscar() {
        params = "";
        if(page){
        params += "&Pagina=" + page;
    }
    //console.log(params);
    sgl.ajax2({
        method: 'get',
        url: 'ListaCategoria?handler=Tabla&'+params,
        done: refrescar,
        fail: function () {
            console.log(this.responseText);
        }
    });
    }

    sgl.ajax2({
        method: 'get',
        url: 'ListaCategoria?handler=Tabla',
        done: refrescar,
        fail: function () {
            console.log(this.responseText);
        }
    });

    function refrescar(data){
        var divTabla =  sgl.q("#divTabla");
        var tbody = sgl.q('#tbcategoria');
        tbody.outerHTML = data;
        var divPaginador = sgl.q('#paginacion');
        divPaginador.innerHTML = sgl.createPagination(divTabla, "#tbcategoria");
    }
    divopc.addEventListener("click", function(e){
        var element = e.target;
        if(element.classList.contains("btn-outline-danger")){
            FrmCategoriaAdd.removeAttribute("hidden");
            FrmCategoriaMod.setAttribute("hidden","");
            document.querySelector("#Categoria_Nombre").value = "";
        }
    });
    table.addEventListener("click", function(e) {
        var element = e.target;
        console.log("event", element);
        if (element.classList.contains("btn-outline-success")) {
            FrmCategoriaMod.removeAttribute("hidden");
            divopc.firstElementChild.setAttribute("data-id",element.getAttribute("data-idcat"));
            FrmCategoriaAdd.setAttribute("hidden","");
            document.querySelector("#nombremod").focus();
            document.querySelector("#nombremod").value = element.parentNode.previousElementSibling.textContent;
        } else {
            if (element.classList.contains("fa-pencil-alt")) {
                element.focus();
                FrmCategoriaMod.removeAttribute("hidden");
                divopc.firstElementChild.setAttribute("data-id",element.parentNode.getAttribute("data-idcat"));
                FrmCategoriaAdd.setAttribute("hidden","");
                document.querySelector("#nombremod").focus();
                document.querySelector("#nombremod").value = element.parentNode.parentNode.previousElementSibling.textContent;
            }else{
                if(element.classList.contains("custom-control-input")){
                    if(element.checked){
                        ModEstado(element, 1);
                    }else{
                        ModEstado(element, 0);
                    }
                }
            }
        }
    });
    FrmCategoriaAdd.addEventListener("submit", function(e){
        var element = e.target;
        e.preventDefault();
        GuardarAjax();
    });
    FrmCategoriaMod.addEventListener("submit", function(e){
        e.preventDefault();
        var element = document.querySelector("#btnmod");
        ModificarAjax(element.getAttribute("data-id"), document.querySelector("#nombremod").value);
    });
    function ModEstado(input, estado){
        var id = input.getAttribute("data-idc");
        console.log("id",id);
        console.log("estado",estado);
        var label = input.nextElementSibling;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                if(input.checked){
                    label.innerHTML="Habilitada";
                }else{
                    label.innerHTML="Deshabilitada";
                }
            }
        };
        xhttp.open("POST", "ListaCategoria?handler=Estado", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var inputToken = document.getElementsByName("__RequestVerificationToken");
        xhttp.setRequestHeader("RequestVerificationToken", inputToken[0].value);
        xhttp.send("IdCategoria="+id+"&Estado="+estado);
    }
    function ModificarAjax(id, nombre){
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4) {
                if (this.status == 200) {
                    var obj = JSON.parse(this.responseText);
                    var Categorias = obj.categorias;
                    if(obj.error){
                        ToastFail(obj.error);
                    }else{
                        if(Categorias != ""){
                            FrmCategoriaAdd.removeAttribute("hidden");
                            FrmCategoriaMod.setAttribute("hidden","");
                            document.querySelector("#nombremod").value = "";
                            document.querySelector("#formcategoriaadd").reset();
                            ToastSuccess("Modificacón Exitosa!");
                            //Actualizacion de la tabla
                            sgl.ajax2({
                                method: 'get',
                                url: 'ListaCategoria?handler=Tabla',
                                done: refrescar,
                                fail: function () {
                                    console.log(this.responseText);
                                }
                            });
                        }else{
                            ToastFail("Fallo en el Registro!!");
                        }
                    }
                } else {
                    ToastFail("Fallo la Modificación!!");
                }
            }
        };
        xhttp.open("POST", "ListaCategoria?handler=Editar", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var inputToken = document.getElementsByName("__RequestVerificationToken");
        xhttp.setRequestHeader("RequestVerificationToken", inputToken[0].value);
        xhttp.send("IdCategoria="+id+"&Nombre="+nombre);
    }

    function GuardarAjax() {
        var form = document.querySelector("#formcategoriaadd");
        var formData = new FormData(form);
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4) {
                if (this.status == 200) {
                    var obj = JSON.parse(this.responseText);
                    var Categorias = obj.categorias;
                    if(obj.error){
                        ToastFail(obj.error);
                    }else{
                        if(Categorias != ""){
                            document.querySelector("#Categoria_Nombre").value = "";
                            document.querySelector("#formcategoriaadd").reset();
                            ToastSuccess("Registro Exitoso!");
                            //Actualizacion de la tabla
                            sgl.ajax2({
                                method: 'get',
                                url: 'ListaCategoria?handler=Tabla',
                                done: refrescar,
                                fail: function () {
                                    console.log(this.responseText);
                                }
                            });
                        }else{
                            ToastFail("Fallo en el Registro!!");
                        }
                    }
                } else {
                    ToastFail("Fallo en el Registro!!");
                }
            }
        };
        xhttp.open("POST", "ListaCategoria", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var inputToken = document.getElementsByName("__RequestVerificationToken");
        xhttp.setRequestHeader("RequestVerificationToken", inputToken[0].value);
        xhttp.send(new URLSearchParams(formData));
    }

    function LlenarTabla(Categorias){
        var tbCategorias = document.querySelector("#tbcategoria");
        tbCategorias.innerHTML = "";
        Categorias.forEach(function(elemento) {
        var tr = document.createElement("tr");
        var tdNombre = document.createElement("td");
        tdNombre.innerHTML = elemento.nombre;
        tr.appendChild(tdNombre);
        var tdEditar = document.createElement("td");
        tdEditar.innerHTML = '<span class="btn btn-sm btn-outline-success mano" data-idcat="'+elemento.id+'"><i class="fas fa-pencil-alt"></i></span>';
        tr.appendChild(tdEditar);
        var tdEstado = document.createElement("td");
        var span = document.createElement("span");
        span.className = "custom-control custom-switch";
        if (elemento.estado == true) {
            span.innerHTML = '<input type="checkbox" class="custom-control-input" data-idc="'+elemento.id+'" id="'+elemento.id+'" checked> <label for="'+elemento.id+'" class="custom-control-label">Habilitada</label>';
        } else {
            span.innerHTML = '<input type="checkbox" class="custom-control-input" data-idc="'+elemento.id+'" id="'+elemento.id+'"><label for="'+elemento.id+'" class="custom-control-label">Deshabilitada</label>';
        }
        tdEstado.appendChild(span);
        tr.appendChild(tdEstado);
        tbCategorias.appendChild(tr);
        });
    }
    //Mensaje toast de exito
    function ToastSuccess(message){
        var h = document.querySelector("#thead");
        h.className = "toast-header bg-success";
        var i = document.querySelector("#inoti");
        i.className = "fas fa-check-circle text-success";
        var t = document.querySelector("#tcuerpo");
        t.innerHTML = message;
        var toast = document.getElementById("toastProveedor");
        $('.toast').toast('show');
    }
    //Mensaje toast de fracaso
    function ToastFail(message){
        var h = document.querySelector("#thead");
        h.className = "toast-header bg-danger";
        var i = document.querySelector("#inoti");
        i.className = "fas fa-times-circle text-white";
        var t = document.querySelector("#tcuerpo");
        t.innerHTML = message;
        var toast = document.getElementById("toastProveedor");
        $('.toast').toast('show');
    }
</script>
}