@page
@model Categorias.ListaCategoriaModel; 
@using SGLibreria.Models; 
@{ ViewData["Title"] = "Registro y Lista de Categorías"; }
<div class="row">
    <div class="col-lg-8 offset-lg-2 rounded ">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Registro</h6>
            </div>
            <div class="row">
                <div class="col-lg-10 offset-1">
                    <form class="mt-4" method="post" id="formcategoria">
                        <div class="form-group row">
                            <label for="Nombre" class="col-lg-2 col-form-label">Nombre <span class="font-weight-bold text-danger">*</span></label>
                            <div class="col-lg-4">
                                <input asp-for="Categoria.Nombre" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Libros">
                                <span asp-validation-for="Categoria.Nombre" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6" id="btn">
                                <button type="submit" class="btn btn-outline-primary" id="btnadd"><i class="fas fa-save"></i> Guardar</button>
                                <div class="btn-group" id="btngroup" hidden>
                                    <button type="submit" class="btn btn-outline-warning"><i class="fas fa-pencil-alt"></i> Modificar</button>
                                    <button type="button" class="btn btn-outline-danger"><i class="fas fa-times-circle"></i> Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2" id="notific">
        <div class="toast" id="toastProveedor" role="alert" data-delay="5000" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-success" id="thead">
                <label class="col-form-label text-white">
                        <i class="" id="inoti"></i>
                        <strong class="mr-auto">Registro Categoria</strong>
                    </label>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="toast-body" id="tcuerpo">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 offset-lg-2 rounded ">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Datos</h6>
            </div>

            <div class="row px-4 pt-3">
                <label class="px-2">Mostrar</label>
                <select class="form-control col-lg-2">
                    <option>5</option>
                    <option>10</option>
                    <option>15</option>
                </select>
            </div>

            <div class="row px-5 pt-3">
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col" style="width:10%">Editar</th>
                            <th scope="col" style="width:20%">Estado</th>
                        </tr>

                    </thead>

                    <tbody id="tbcategoria">
                        @{ 
                            int i; 
                            int len = Model.Categorias.Count;
                            Categoria c;
                        } 
                        @for(i=0; i < len; i++){
                            c=Model.Categorias[i];
                            <tr>
                            <td>@c.Nombre</td>
                            <td><span class='btn btn-sm btn-outline-success mano' data-idcat="@c.Id"><i class="fas fa-pencil-alt"></i></span>
                            </td>
                            <td>
                                <span class="custom-control custom-switch">
                                    @if(c.Estado == 1){
                                        <input type="checkbox" class="custom-control-input" checked>
                                        <label class="custom-control-label">Habilitada</label>
                                    }else{
                                        <input type="checkbox" class="custom-control-input">
                                        <label class="custom-control-label">Deshabilitada</label>
                                    }
                                </span>
                            </td>
                            </tr>
                            }

                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col offset-5">
                    <nav aria-label="Paginacion ">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Anterior</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Siguiente</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts{
    <script src="~/js/sgl.js"></script>
<script>
    var FrmCategoria = document.querySelector("#formcategoria");
    var tbody = document.querySelector("#tbcategoria");
    var divopc = document.querySelector("#btngroup");
    var btnadd = document.querySelector("#btnadd");
    divopc.addEventListener("click", function(e){
        var element = e.target;
        if(element.classList.contains("btn-outline-danger")){
            btnadd.removeAttribute("hidden");
            divopc.setAttribute("hidden","");
            document.querySelector("#Categoria_Nombre").value = "";
        }
    });
    tbody.addEventListener("click", function(e) {
        var element = e.target;
        if (element.classList.contains("btn-outline-success")) {
            divopc.removeAttribute("hidden");
            divopc.firstElementChild.setAttribute("data-id",element.getAttribute("data-idcat"));
            btnadd.setAttribute("hidden","");
            document.querySelector("#Categoria_Nombre").value = element.parentNode.previousElementSibling.textContent;
        } else {
            if (element.classList.contains("fa-pencil-alt")) {
                divopc.removeAttribute("hidden");
                divopc.firstElementChild.setAttribute("data-id",element.parentNode.getAttribute("data-idcat"));
                btnadd.setAttribute("hidden","");
                document.querySelector("#Categoria_Nombre").value = element.parentNode.parentNode.previousElementSibling.textContent;
            }
        }
    });
    FrmCategoria.addEventListener("submit", function(e){
        var element = e.explicitOriginalTarget;
        e.preventDefault();
        if(element.classList.contains("btn-outline-primary") || element.classList.contains("fa-save")){
            GuardarAjax();
        }else{
            if(element.classList.contains("btn-outline-warning") || element.classList.contains("fa-pencil-alt")){
                if(element.type == "submit"){
                    ModificarAjax(element.getAttribute("data-id"), document.querySelector("#Categoria_Nombre").value);
                }else{
                    ModificarAjax(element.parentNode.getAttribute("data-id"), document.querySelector("#Categoria_Nombre").value);
                }
            }
        }
    });
    function ModificarAjax(id, nombre){
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4) {
                if (this.status == 200) {
                    btnadd.removeAttribute("hidden");
                    divopc.setAttribute("hidden","");
                    document.querySelector("#Categoria_Nombre").value = "";
                    //Mensaje toast de exito
                    document.querySelector("#formcategoria").reset();
                    var h = document.querySelector("#thead");
                    h.className = "toast-header bg-success";
                    var i = document.querySelector("#inoti");
                    i.className = "fas fa-check-circle text-success";
                    var t = document.querySelector("#tcuerpo");
                    t.innerHTML = "Modificacón Exitosa!"
                    var toast = document.getElementById("toastProveedor");
                    $('.toast').toast('show');

                    //Actualizacion de la tabla
                    var Categorias = JSON.parse(this.responseText);
                    var tbCategorias = document.querySelector("#tbcategoria");
                    tbCategorias.innerHTML = "";
                    Categorias.forEach(function(elemento) {
                        var tr = document.createElement("tr");
                        var tdNombre = document.createElement("td");
                        tdNombre.innerHTML = elemento.nombre;
                        tr.appendChild(tdNombre);
                        var tdEditar = document.createElement("td");
                        tdEditar.innerHTML = '<span class="btn btn-sm btn-outline-success mano"><i class="fas fa-pencil-alt"></i></span>';
                        tr.appendChild(tdEditar);
                        var tdEstado = document.createElement("td");
                        var span = document.createElement("span");
                        span.className = "custom-control custom-switch";

                        if (elemento.estado == true) {

                            span.innerHTML = '<input type="checkbox" class="custom-control-input" checked> <label class="custom-control-label">Habilitada</label>';
                        } else {
                            span.innerHTML = '<input type="checkbox" class="custom-control-input"><label class="custom-control-label">Deshabilitada</label>';
                        }
                        tdEstado.appendChild(span);
                        tr.appendChild(tdEstado);
                        tbCategorias.appendChild(tr);
                    });

                } else {
                    //Mensaje toast de fracaso
                    var h = document.querySelector("#thead");
                    h.className = "toast-header bg-danger";
                    var i = document.querySelector("#inoti");
                    i.className = "fas fa-times-circle text-white";
                    var t = document.querySelector("#tcuerpo");
                    t.innerHTML = "Fallo la Modificación!!"
                    var toast = document.getElementById("toastProveedor");
                    $('.toast').toast('show');
                }
            }
        };
        xhttp.open("post", "ListaCategoria?handler=Editar", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var inputToken = document.getElementsByName("__RequestVerificationToken");
        xhttp.setRequestHeader("RequestVerificationToken", inputToken[0].value);
        xhttp.send("IdCategoria="+id+"&Nombre="+nombre);
    }
    function GuardarAjax() {
        var form = document.querySelector("#formcategoria");
        var formData = new FormData(form);
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4) {
                if (this.status == 200) {
                    document.querySelector("#Categoria_Nombre").value = "";
                    //Mensaje toast de exito
                    document.querySelector("#formcategoria").reset();
                    var h = document.querySelector("#thead");
                    h.className = "toast-header bg-success";
                    var i = document.querySelector("#inoti");
                    i.className = "fas fa-check-circle text-success";
                    var t = document.querySelector("#tcuerpo");
                    t.innerHTML = "Registro Exitoso!"
                    var toast = document.getElementById("toastProveedor");
                    $('.toast').toast('show');

                    //Actualizacion de la tabla
                    var Categorias = JSON.parse(this.responseText);
                    var tbCategorias = document.querySelector("#tbcategoria");
                    tbCategorias.innerHTML = "";
                    Categorias.forEach(function(elemento) {
                        var tr = document.createElement("tr");
                        var tdNombre = document.createElement("td");
                        tdNombre.innerHTML = elemento.nombre;
                        tr.appendChild(tdNombre);
                        var tdEditar = document.createElement("td");
                        tdEditar.innerHTML = '<span class="btn btn-sm btn-outline-success mano"><i class="fas fa-pencil-alt"></i></span>';
                        tr.appendChild(tdEditar);
                        var tdEstado = document.createElement("td");
                        var span = document.createElement("span");
                        span.className = "custom-control custom-switch";

                        if (elemento.estado == true) {

                            span.innerHTML = '<input type="checkbox" class="custom-control-input" checked> <label class="custom-control-label">Habilitada</label>';
                        } else {
                            span.innerHTML = '<input type="checkbox" class="custom-control-input"><label class="custom-control-label">Deshabilitada</label>';
                        }
                        tdEstado.appendChild(span);
                        tr.appendChild(tdEstado);
                        tbCategorias.appendChild(tr);
                    });

                } else {
                    //Mensaje toast de fracaso
                    var h = document.querySelector("#thead");
                    h.className = "toast-header bg-danger";
                    var i = document.querySelector("#inoti");
                    i.className = "fas fa-times-circle text-white";
                    var t = document.querySelector("#tcuerpo");
                    t.innerHTML = "Fallo en el Registro!!"
                    var toast = document.getElementById("toastProveedor");
                    $('.toast').toast('show');
                }
            }
        };
        xhttp.open("post", "ListaCategoria", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var inputToken = document.getElementsByName("__RequestVerificationToken");
        xhttp.setRequestHeader("RequestVerificationToken", inputToken[0].value);
        xhttp.send(new URLSearchParams(formData));
    }
</script>
}