@page
@model Empleados.RegistroEmpleadoModel
@{
    ViewData["title"] = "Registro de Empleado";
}
<div class="row">
    <nav aria-label="breadcrumb" class="col-lg-3">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item" aria-current="page" id="lEmpleado"><a href="#" id="hEmpleado">Empleado</a></li>
            <li class="breadcrumb-item" id="lUsuario"><a href="#" id="hUsuario" hidden >Usuario</a></li>
        </ol>
    </nav>
    <div class="col-lg-9">
        <div class="offset-9">
            <div class="toast" style="position: absolute; z-index: 1" id="toastProveedor" data-delay="5000" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="" id="notific">
                    <label class="col-form-label text-white">
                        <i class="fas fa-check-circle"></i>
                        <strong class="mr-auto">Registro Empleado</strong>
                    </label>
                    <button type="button" class="close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body" id="mensaje">
                </div>
            </div>
        </div>
    </div>
</div>
<form class="col-lg-10 offset-lg-1 rounded py-4 pr-5 border border-secondary-100" method="post" id="formEUP">
    <div id="FormEmpleado">
        <div class="row">
            <h2 class="offset-4 pb-4">Datos del Empleado</h2>
        </div>
        <div class="form-group row ">
            <div class="col">
                <div class="row">
                    <label asp-for="Persona.Nombres" class="col-lg-1 offset-1 col-form-label font-weight-bold"></label>
                    <div class="col-lg-9 offset-1 pl-3">
                        <input class="form-control mb-2" asp-for="Persona.Nombres" placeholder="Digite sus nombres">
                    </div>
                </div>
            </div>
            <div class="form-group col">
                <div class="row">
                    <label asp-for="Persona.Apellidos" class="col-lg-1 col-form-label font-weight-bold"></label>
                    <div class="col-lg-9 offset-1 pl-3">
                        <input class="form-control mb-2" asp-for="Persona.Apellidos" placeholder="Digite sus nombres">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <div class="row">
                    <label asp-for="Persona.Genero" class="col-lg-1 offset-1 col-form-label font-weight-bold"></label>
                    <div class="col-lg-9 offset-1 pl-3">
                        <select asp-for="Persona.Genero" class="custom-options">
                            <option value="">Seleccione...</option>
                            <option value="0">Femenino</option>
                            <option value="1">Masculino</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <label asp-for="Persona.Telefono" class="col-lg-1 col-form-label font-weight-bold"></label>
                    <div class="form-group col-lg-9 offset-1 pl-3">
                        <input class="form-control form-control-user mb-2" asp-for="Persona.Telefono" placeholder="####-####">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <label asp-for="Persona.Direccion" class="col-lg-1 col-form-label font-weight-bold"></label>
            <div class="col-lg-10">
                <textarea asp-for="Persona.Direccion" class="form-control form-control-user" placeholder="Col campos II, Barrio Los Angeles, Apastepeque, San Vicente" style="height: 100px;"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <div class="row">
                    <label asp-for="Empleado.Dui" class="col-lg-1 offset-1 col-form-label font-weight-bold"></label>
                    <div class="col-lg-9 offset-1 pl-3">
                        <input class="form-control mb-2" asp-for="Empleado.Dui" placeholder="########-#">
                    </div>
                </div>
            </div>
            <div class="form-group col">
                <div class="row">
                    <label asp-for="Empleado.Salario" class="col-lg-1 col-form-label font-weight-bold"></label>
                    <div class="col-lg-9 offset-1 pl-3">
                        <input class="form-control mb-2" asp-for="Empleado.Salario" placeholder="#.#">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <div class="row">
                    <label asp-for="Empleado.FechaNacimiento" class="col-lg-3 offset-1 col-form-label font-weight-bold"></label>
                    <div class="col-lg-7 offset-1">
                        <input class="form-control mb-2" asp-for="Empleado.FechaNacimiento" placeholder="dd/MM/yyyy">
                    </div>
                </div>
            </div>
            <div class="form-group col">
                <div class="row">
                    <label asp-for="Empleado.FechaIngreso" class="col-lg-3 col-form-label font-weight-bold"></label>
                    <div class="col-lg-7 offset-1">
                        <input class="form-control mb-2" asp-for="Empleado.FechaIngreso" placeholder="dd/MM/yyyy">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="FormUsuario" hidden>
        <div class="row">
            <h2 class="offset-4 pb-4">Datos del Usuario</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 mt-4">
                <div class="form-group row">
                    <label asp-for="Usuario.Nombre" class="col-lg-1 offset-1 col-form-label font-weight-bold"></label>
                    <div class="col-lg-9 offset-1 pl-3">
                        <input class="form-control mb-2" asp-for="Usuario.Nombre" placeholder="Digite su nombre de usuario">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Usuario.Correo" class="col-lg-1 offset-1 col-form-label font-weight-bold"></label>
                    <div class="col-lg-9 offset-1 pl-3">
                        <input class="form-control mb-2" asp-for="Usuario.Correo" placeholder="ejemplo@dominio.com">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Usuario.Privilegio" class="col-lg-1 offset-1 col-form-label font-weight-bold"></label>
                    <div  class="col-lg-9 offset-1 pl-3">
                        <select asp-for="Usuario.Privilegio">
                            <option value="">Seleccione...</option>
                            <option value="0">Vendedor</option>
                            <option value="1">Administrador</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Usuario.Clave" class="col-lg-1 offset-1 col-form-label font-weight-bold"></label>
                    <div class="form-group col-lg-9 offset-1 pl-3">
                        <input class="form-control form-control-user" type="password" asp-for="Usuario.Clave" placeholder="Digite su clave">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-1 offset-1 col-form-label font-weight-bold">Repetir</label>
                    <div class="form-group col-lg-9 offset-1 pl-3">
                        <input class="form-control form-control-user mb-2" type="password" placeholder="Repita su clave">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group row offset-3 text-center">
                    <img src="~/img/blank-profile.png" alt="..." class="img-thumbnail rounded-circle" height="80%;" width="80%;">
                </div>
                <div class="form-group offset-1">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="pdimagen">
                        <label class="custom-file-label" name="pdimagen" for="pdimagen">Seleccione..</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="offset-5 col-lg-3" id="divsig">
            <button type="button" class="btn btn-outline-primary" id="next"><i class="fas fa-arrow-circle-right"></i> Siguiente</button>
        </div>
        <div class="offset-4 btn-group col-lg-4" hidden="" id="divbp">
            <button type="button" class="btn btn-outline-secondary" id="back"><i class="fas fa-arrow-circle-left"></i> Regresar</button>
            <button type="button" class="btn btn-outline-primary" id="process"><i class="fas fa-save"></i> Registrar</button>
        </div>
    </div>
</form>
@section Scripts
{
    <link href="~/selectric/src/selectric.css" rel="stylesheet">
    <script src="~/selectric/src/jquery.selectric.js"></script>
    <script>
        $(function() {
            $('select').selectric();
        });
        var gens = [
            {elemento: '', texto:'Seleccione'},
            {elemento: '<i class="fas fa-female"></i>', texto:'Femenino'},
            {elemento: '<i class="fas fa-male"></i>', texto:'Masculino'}
        ];
        $('.custom-options').selectric({
            optionsItemBuilder: function(itemData, element, index) {
                return '<span class="h6">'+gens[index].elemento+' '+gens[index].texto+'</span>';
            }
        });
    </script>
    <script>
        var BtnNext = document.getElementById("next");
        var BtnBack = document.getElementById("back");
        var BtnProcess = document.getElementById("process");
        var FrmEmpleado = document.getElementById("FormEmpleado");
        var FrmUsuario = document.getElementById("FormUsuario");
        var HEmpleado = document.getElementById("hEmpleado");
        var HUsuario = document.getElementById("hUsuario");
        var divsig = document.getElementById("divsig");
        var divbp = document.getElementById("divbp");
        BtnNext.addEventListener("click", ()=>{
            HUsuario.removeAttribute("hidden");
            FrmEmpleado.setAttribute("hidden","");
            FrmUsuario.removeAttribute("hidden");
            divsig.setAttribute("hidden","");
            divbp.removeAttribute("hidden");
        });
        BtnBack.addEventListener("click", ()=>{
            init();
        });
        function init(){
            FrmUsuario.setAttribute("hidden","");
            FrmEmpleado.removeAttribute("hidden");
            divbp.setAttribute("hidden","");
            divsig.removeAttribute("hidden");
        }
        HEmpleado.addEventListener("click", () => {
            divbp.setAttribute("hidden","");
            divsig.removeAttribute("hidden");
            FrmUsuario.setAttribute("hidden","");
            FrmEmpleado.removeAttribute("hidden");
        });
        HUsuario.addEventListener("click", () => {
            divsig.setAttribute("hidden","");
            divbp.removeAttribute("hidden");
            FrmEmpleado.setAttribute("hidden","");
            FrmUsuario.removeAttribute("hidden");
        });
        BtnProcess.addEventListener("click", () => {
            //Aqui se va a enviar el Formulario al servidor via ajax
            let form =  new FormData(document.getElementById("formEUP"));
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    init();
                    document.getElementById("formEUP").reset();
                    document.getElementById("notific").className = "toast-header bg-success";
                    document.getElementById("mensaje").innerHTML = "Registro exitoso !";
                    $('.toast').toast('show');
                }
                if (this.readyState == 4 && this.status == 404) {
                    init();
                    document.getElementById("notific").className = "toast-header bg-danger";
                    document.getElementById("mensaje").innerHTML = "Error al registrar !";
                    $('.toast').toast('show');
                }
            };
            xhttp.open("POST", "RegistroEmpleado", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            var inputToken = document.getElementsByName("__RequestVerificationToken");
            xhttp.setRequestHeader("RequestVerificationToken", inputToken[0].value);
            xhttp.send(new URLSearchParams(form));
        });
    </script>
}