@page
@model ForgetPasswordModel
@{
    Layout = "_Login";
    ViewData["title"] = "Recuperación";

}
<div class="row bg-login-image bg-login-image-custom">
    <div class="col-lg-6 d-none d-lg-block"></div>
    <div class="col-lg-6" style="background-color:rgba(0,0,0,.5)">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-white mb-2">Recuperar cuenta</h1>
                <p class="text-white">Si ha olvidado su contraseña, ingrese a continuación el correo electrónico asociado a su cuenta, le enviaremos un código para que pueda iniciar sesión nuevamente </p>
            </div>
            <form method='post'  class="user">
                <div class="form-group">
                    <input type="email" class="form-control form-control-login form-control-user" id="email" name="email"
                        name="email"
                        aria-describedby="emailHelp" placeholder="Correo electrónico">
                </div>
                <button type='submit' class="btn btn-primary btn-user btn-block">
                    Enviar código de recuperación <i class="fas fa-envelope"></i>
                </button>
            </form>
            <hr>
            <form asp-page="/Welcome/Login">
             <div class="text-center">
                <button type="submit" class="btn btn-danger"><i class="fas fa-arrow-left"></i> Cancelar proceso de recuperación</button>
            </div>
            </form>
       </div>
    </div>
</div>