@page
@model ForgetPasswordModel
@{
    Layout = "_Login";
    ViewData["title"] = "Recuperación";
}
<div class="row bg-login-image bg-login-image-custom">
    <div class="col-lg-6 d-none d-lg-block"></div>
    <div class="col-lg-6" style="background-color:rgba(0,0,0,.5)">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-white mb-2">Recuperar cuenta</h1>
                <p class="text-white">Si ha olvidado su contraseña, ingrese a continuación el correo electrónico asociado a su cuenta, le enviaremos un código para que pueda iniciar sesión nuevamente </p>
            </div>
            <form class="user">
                <div class="form-group">
                    <input type="email" class="form-control form-control-login form-control-user" id="email" name="email"
                        aria-describedby="emailHelp" placeholder="Correo electrónico">
                </div>
                <a href="/LoginWithCode" class="btn btn-primary btn-user btn-block">
                    Enviar código de recuperación
                </a>
            </form>
            <hr>
            <div class="text-center">
                <a class="small text-white" href="/Login"><i class="fas fa-arrow-left"></i> Regresar</a>
            </div>
        </div>
    </div>
</div>