@page
@model LoginModel
@{
    Layout = "_Login";
    ViewData["title"]="Login";
}

<!-- Nested Row within Card Body -->
<style>

</style>
<div class="row bg-login-image bg-login-image-custom">
    <div class="col-lg-6 d-none d-lg-block"></div>
    <div class="col-lg-6" style="background-color:rgba(0,0,0,.5)">
        <div class="p-5" >
            <div class="text-center">
                <h1 class="h4 text-white mb-4">!Bienvenido/a a SGLibreria!</h1>
            </div>
            <form class="user" method="post" >
                @if(Model.Mensaje!=null && Model.Mensaje!="") {
                    <div class="form-group font-weight-bold text-danger">
                        @Model.Mensaje
                    </div>
                }
                
                <div class="form-group">
                    <input type="email" name="Usuario.Correo"
                    class="form-control form-control-login form-control-user" id="usuario"
                        aria-describedby="emailHelp" placeholder="Usuario">
                </div>
                <div class="form-group">
                    <input type="password" name="Usuario.Clave" class="form-control form-control-login form-control-user" id="clave"
                        placeholder="Contraseña">
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    <i class="fas fa-user"></i> Iniciar sesión
                </button>
                <hr>
                <a class="small text-white" href="ForgetPassword">Olvidé mi contraseña?</a>
            </form>
            <hr>
        </div>
    </div>
</div>

@section Scripts{
    <link rel="~/css/styles.css" href="style.css">
}