@page
@model Servicios.ListaServicioModel
@using SGLibreria.Models;
@{
ViewData["title"] = "Lista de Servicios";
}
<style>
  body {
    color: #555;
  }

  #nav-inferior .btn-dark:hover {
    background-color: #1597a8 !important;
  }

  #servicios-seleccionados {
    right: 0;
    position: absolute;
    transition: max-width .4s;
  }
</style>
<div id='alerta' style='display:none;' class='alert'></div>
<form id='formToken' method='post'></form>
<div id='servicios' style='margin-top:15px;margin-bottom:100px;'>

</div><!-- #servicios -->

<div id="nav-inferior" class="row bg-white position-fixed pt-3" style="bottom:0;border-top:2px solid #e5e5e5">
  <div class="col-lg-7">
    <div class="input-group mb-3">
      <input type="text" id="NombreOCodigo" class="form-control" placeholder="Nombre o código de servicio"
        aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </div>
  <div class="col-lg-2">
    <nav aria-label="...">
      <ul class="pagination mb-0">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
            <<</a> </li> <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>

        <li class="page-item">
          <a class="page-link" href="#">>></a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<template id='plantilla-option'>
  <option value=''></option>
</template>

@section Modal {
<!-- Modal -->
<div class="modal fade" id="modalServicio" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <form class="modal-content" enctype="multipart/form-data" method='post' id="formModificarServicio">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title">Modificar Servicio</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6 mt-5">
            <div class="form-group row offset-1">
                <input id='sid' name="TipoServicio.Id" type="hidden" />
              <label class="col-lg-3 col-form-label mr-4 font-weight-bold">Servicio</label>
              <div class="col-lg-6">
                <select asp-for="Tiposervicio.IdServicio" class="custom-select form-control" id="comboServicio">
                </select>
              </div>
            </div>
            <div class="form-group row offset-1">
              <label class="col-lg-3 col-form-label mr-4 font-weight-bold">Tipo de servicio</label>
              <div class="col-lg-6">
                <input type="text" class="form-control mb-2" asp-for="Tiposervicio.Nombre"
                  placeholder="Nombre del servicio" id="stipo">
              </div>
            </div>
            <div class="form-group row offset-1">
              <label class="col-lg-3 col-form-label mr-4 font-weight-bold">Compañia</label>
              <div class="col-lg-6">
                <select asp-for="Tiposervicio.IdCompania" class="custom-select form-control" id="comboCompania">

                </select>
              </div>
            </div>
            <div class="form-group row offset-1">
              <label asp-for="Tiposervicio.Precio" class="col-lg-3 col-form-label mr-4 font-weight-bold"></label>
              <div class="col-lg-6">
                <input type="text" class="form-control mb-2" asp-for="Tiposervicio.Precio" placeholder="##.##" id="sprecio">
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-5">
            <div class="form-group row offset-3 text-center" id="resetearImagen">
              <img src="/img/blank-profile.png" alt="..." class="img-thumbnail" height="75%" width="75%" id="vpimagen">
            </div>
            <div class="form-group offset-2 mr-4">
              <div class="custom-file">
                <input asp-for="Archivo" class="custom-file-input">
                <label asp-for="Archivo" class="custom-file-label">Seleccione..</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="btn btn-group">
          <button type="submit" class="btn btn-outline-warning" id="btnAgregarServicio"><i class="fas fa-save"> </i>
            Modificar</button>
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="btnCancelarProducto"><i
              class="fas fa-times-circle"> </i> Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>
}

@section Scripts{
<script src="~/js/sgl.js"></script>

<script>

  //Funcion para agregar las imagenes
  var InputImg = document.querySelector("#Archivo");
    InputImg.addEventListener("change", function (){
        readURL(document.querySelector("#Archivo"));
        function readURL(InputImg) {
            if (InputImg.files && InputImg.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.querySelector("#vpimagen").setAttribute("src",e.target.result);
                }
                reader.readAsDataURL(InputImg.files[0]);
            }
        }
    });
    //Iniciar codigo para mostrar los servicios
  sgl.get('ListaServicioAjax', refrescar);

  function refrescar(data) {
    var divProductos = sgl.q('#servicios');
    divProductos.innerHTML = data;
  };

  var NombreOCodigo = sgl.q('#NombreOCodigo');
  NombreOCodigo.focus();
  NombreOCodigo.oninput = function (e) {
    buscarServicio(NombreOCodigo.value);
  };

  function buscarServicio(NombreCodigo) {
    params = "";
    if (NombreCodigo) {
      params += "NombreOCodigo=" + NombreCodigo;
    }
    sgl.get('ListaServicioAjax', function (data) {
      var divProductos = sgl.q('#servicios');
      divProductos.innerHTML = data;
    }, params);
  }
  var divProductos = sgl.q('#servicios');

  divProductos.addEventListener('click', function (evento) {
    var currentTarget = evento.currentTarget;
    var target = evento.target;
    var card;
    var cardFooter;
    if (target.matches('img')) {
      card = target.parentNode;
      cardFooter = card.querySelector('.card-footer')
      if (card.getAttribute('data-seleccionado') == 'true') {
        cardFooter.classList.remove('bg-primary');
        cardFooter.classList.remove('text-white');
        cardFooter.classList.add('text-primary');
        card.setAttribute('data-seleccionado', false);
      } else {
        cardFooter.classList.add('bg-primary');
        cardFooter.classList.add('text-white');
        cardFooter.classList.remove('text-primary');
        card.setAttribute('data-seleccionado', true);
      }
    }
  });

  //clic en un boton levanta un modal y lo llena
  divProductos.addEventListener('click', function (evento) {
    var currentTarget = evento.currentTarget;
    var target = evento.target;
    var idservicio;

    var inputToken = sgl.q('#formToken ' + sgl.inputToken);
    //    console.log(sgl.headerToken, inputToken.value);
    var headers = {
      [sgl.headerToken]: inputToken.value
    };
    var card;
    if (target.matches('button[type=button') || target.matches('i')) {
      if (target.nodeName == 'I') {
        card = target.parentNode.parentNode.parentNode.parentNode;
        idservicio = target.parentNode.getAttribute('data-idservicio');
      } else {
        card = target.parentNode.parentNode.parentNode;
        idservicio = target.getAttribute('data-idservicio');
      }
      
      sgl.ajax2({
        method: 'post',
        url: 'ListaServicio?handler=TipoServicio',
        headers: headers,
        data: {
          'idtiposervicio': idservicio
        },
        done: function (data) {
          //console.log(data);
          var servicio = JSON.parse(data);
          //console.log(servicio);
          sgl.ajax2({
            method: 'post',
            url: 'ListaServicio?handler=ServiciosCompania',
            headers: headers,
            done: function (data) {
              var obj = JSON.parse(data);
              sgl.setDataSet(card, servicio);
              var datos = sgl.getDataSet(card);
              $('#modalServicio').modal('show');

              var ll = document.querySelector("#comboServicio");
              ll.innerHTML = "";
              var l = document.querySelector("#comboCompania");
              l.innerHTML = "";
              sgl.llenarCombo(
                sgl.q('#plantilla-option'),
                sgl.q('#comboServicio'),
                obj.servicios,
                'nombre', 'id'
              );

              sgl.llenarCombo(
                sgl.q('#plantilla-option'),
                sgl.q('#comboCompania'),
                obj.companias,
                'nombre', 'id'
              );
             
              llenarFormServicio(servicio);

            },
            fail: function () {
              //console.log(this);
            }
          });
        },
        fail: function () {
          //console.log(this)
        }
      });

    }
  });

  function llenarFormServicio(servicio) {
    sgl.q('#sid').value = servicio.id;
    sgl.q('#stipo').value = servicio.nombre;
    sgl.q('#comboServicio').value = servicio.idServicio;
    sgl.q('#comboCompania').value = servicio.idCompania;
    sgl.q('#sprecio').value = servicio.precio;

    var alerta = sgl.q('#alerta');
    alerta.style.display = 'none';
    alerta.innerHTML = '';
    var imagen = sgl.q('#vpimagen');
    var path = '';
    if (servicio.idImagenNavigation && servicio.idImagenNavigation.idRutaNavigation) {
      path = '/' + servicio.idImagenNavigation.idRutaNavigation.nombre;
      path += '/' + servicio.idImagenNavigation.nombre;
      imagen.style.display = 'block';
    } else {
      imagen.style.display = 'none';
    }
    imagen.src = path;

    //console.log(servicio);
    //
    // codigo para la imagen aquí
    //

  }

  var formModificar = sgl.q('#formModificarServicio');
  var botonModificar = sgl.q('#btnAgregarServicio');
  var pdimagenNuevo = sgl.q('#vpimagen');
  pdimagenNuevo.onchange = function () {
    readURL(this);

    function readURL(input) {

      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          var imagen = sgl.q('#vpimagen');
          imagen.src = e.target.result;
          imagen.style.display = 'block';
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
  };


  formModificar.onsubmit = function (evento) {
    //   console.log('evento submit llamado');
    evento.preventDefault();
    //   if(true) return false;
    var inputToken = sgl.q('#formToken ' + sgl.inputToken);
    var headers = {
      [sgl.headerToken]: inputToken.value
    };
    sgl.ajax2({
      url: "ListaServicio?handler=AgregarTiposervicioModificado",
      method: "POST",
      data: sgl.q('#formModificarServicio'),
      done: function (data) {
        $('#modalServicio').modal('hide');
        sgl.get('ListaServicioAjax', refrescar);
        //console.log(data);
      },
      fail: function () {
        console.log('error: ');
        console.log(this);
      }
    });
  }
</script>
}