.card-footer {
    padding-left:5px;
    padding-right:5px;
}
.card-group {
    border-top:solid#1597a8;
}
.sidebar .sidebar-brand {
    text-transform: none;
    letter-spacing: normal;
    font-weight: bold;
    font-style: italic;
}
.bg-body{
    background-image: url(/img/Libreria.jpg);
    background-repeat:no-repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}
.bg-login-image {
        background-image: url(/img/logov1.png);
        background-repeat:no-repeat;
        background-position: left top;
        background-attachment: local;
        background-size: 50% auto;
} 
.search-box {
    position: absolute;
    left: 10px;
    top:10px;
    background: #ecf0f1;
    border-radius: 40px;
    padding: 5px;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover .search-btn {
    background-color: #2980b9 !important;
    color:white;
    text-decoration: none;
}

.search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
}

.search-btn > i {
    font-size: 20px;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: right;
    padding: 0;
    color: #2980b9;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}



.number-input input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    }
    
    .number-input input[type=number]::-webkit-inner-spin-button,
    .number-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    }
    
    .number-input {
    margin-bottom: 0;
    }
    
    .number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
    }
    
    .number-input button:before,
    .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    transform: translate(-50%, -50%);
    }
    
    .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
    }
    
    .number-input input[type=number] {
    text-align: center;
    }
    
    .number-input.number-input {
    border: 1px solid #ced4da;
    width: 10rem;
    border-radius: .25rem;
    }
    
    .number-input.number-input button {
    width: 2.6rem;
    height: .7rem;
    }
    
    .number-input.number-input button.minus {
    padding-left: 10px;
    }
    
    .number-input.number-input button:before,
    .number-input.number-input button:after {
    width: .7rem;
    background-color: #495057;
    }
    
    .number-input.number-input input[type=number] {
    max-width: 4rem;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    height: 2rem;
    color: #495057;
    }
    
    @media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color:transparent) {
    
        .number-input.def-number-input.safari_only button:before,
        .number-input.def-number-input.safari_only button:after {
        margin-top: -.3rem;
        }
    }
    }
    
/*Linea de Tiempo*/
.contenedor{
    margin: 0;
    padding: 0;
    border-radius: 5px;
    background-color:#86AD33;
    font-family: arial
}

.box{
    margin:0 10%;
    overflow: hidden;
    padding: 10px 60px
}

.box ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.5s linear;
    top:0
}

.box ul:last-of-type{top:15px}

.box ul:before{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border:1px dashed #fff;
    position: absolute;
    top:0;
    left:30px
}

.box ul li{
    margin: 20px 60px 60px;
    position: relative;
    padding: 10px 20px;
    background:rgba(255, 255, 255, 0.3);
    color:white;
    border-radius: 10px;
    line-height: 20px;
    width: 35%
}


.box ul li > span{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border:1px solid #fff;
    position: absolute;
    top:0;
    left:-30px
}

.box ul li > span:before,.box ul li > span:after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:#86AD33;
    border:2px solid #fff;
    position: absolute;
    left:-7.5px
}

.box ul li > span:before{top:-10px}
.box ul li > span:after{top:95%}

.box .title{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px
}

.box .info:first-letter{text-transform: capitalize;line-height: 1.7}

.box .name{
    margin-top: 10px;
    text-transform: capitalize;
    font-style: italic;
    text-align: right;
    margin-right: 20px
}


.box .time span{
    position: absolute;
    left: -100px;
    color:white;
    font-size:80%;
    font-weight: bold;
}
.box .time span:first-child{top:-16px}
.box .time span:last-child{top:94%}


.arrow{
    position: absolute;
    top: 105%;
    left: 22%;
    cursor: pointer;
    height:20px;
    width:20px
}

.arrow:hover{
    -webkit-animation: arrow 1s linear infinite;
       -moz-animation: arrow 1s linear infinite;
         -o-animation: arrow 1s linear infinite;
            animation: arrow 1s linear infinite;
}

.box ul:last-of-type .arrow{
    position: absolute;
    top: 105%;
    left: 22%;
    transform: rotateX(180deg);
    cursor: pointer;
}

svg{
    width: 20px;
    height: 20px
}

@keyframes arrow{
    0%,100%{
        top:105%
    }
    50%{
        top:106%
    }
}

@-webkit-keyframes arrow{
    0%,100%{
        top:105%
    }
    50%{
        top:106%
    }
}

@-moz-keyframes arrow{
    0%,100%{
        top:105%
    }
    50%{
        top:106%
    }
}

@-o-keyframes arrow{
    0%,100%{
        top:105%
    }
    50%{
        top:106%
    }
}

.btn-bit{
    background-color: #794482;
    color:white;
}

.color-head{
    background-color: #794482;
}

/* Estilos del Login */

.card-login {
    background-color: transparent;
}

.bg-login-image-custom {
    background-color: transparent;
    background-color:rgba(0,0,0,.5);
}
.form-control-login {
background-color: transparent;
    color:white !important;
}
.form-control-login:hover, .form-control-login:focus {
    background-color: rgba(0,0,0,.5);
}