@page
@model IndexModel
@{
ViewData["Title"] = "Inicio";
}

<form>
    <div class="row form-control-plaintext text-center" style="font-family: Colonna MT; font-size: 40px;">
        <p>BIENVENIDO</p>
    </div>
    <div class="row form-control-plaintext text-center" style="font-family: Colonna MT; font-size: 25px;">
        <p>Sistema informático para el control de compra-venta <br>
           en la libreria de la Universidad Panamericana, San Vicente </P>
    </div>

    <div class="row ">
            <div class="row form-control-plaintext text-center" style="font-family: Colonna MT; font-size: 20px;">
                    <p>Poductos próximos a agotarse</P>
                </div>
        <div class="offset-lg-3">
                <div class="card-group text-center">
                        <div class="card">
                            <div class="card-title mt-3 mx-2">
                                <h5 class="m-0 p-0">Borradores <span class="badge badge-danger">10</span></h5>
                            </div>
                            <div class="card-img-top">
                                <img src="/Productos/borradores.jpg" class="img-fluid" alt="..." width="200px">
                            </div>
                            <div class="card-body">
                                <p class="card-text"></p>
                            </div>
                            <div class="card-footer">
                                <small class="font-weight-bold text-primary h6"></small>
                                <a href="#" class="font-weight-bold text-success" data-toggle="modal"
                                    data-target="#modalProducto"></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-title mt-3 mx-2">
                                <h5 class="m-0 p-0">Lapiceros <span class="badge badge-danger">10</span></h5>
                            </div>
                            <div class="card-img-top">
                                <img src="/Productos/lapiceros.jpg" class="img-fluid" alt="..." width="200px">
                            </div>
                            <div class="card-body">
                                <p class="card-text"></p>
                            </div>
                            <div class="card-footer">
                                <small class="font-weight-bold text-primary h6"></small>
                                <a href="#" class="font-weight-bold text-success" data-toggle="modal"
                                    data-target="#modalProducto"></a>
                            </div>
                        </div>
                        <div class="card">
                                <div class="card-title mt-3 mx-2">             
                                  <h5 class="m-0 p-0">Sacapuntas <span class="badge badge-danger">10</span></h5>
                                </div>
                                <div class="card-img-top">
                                  <img src="~/Productos/zacapuntas.jpg" class="img-fluid" alt="..." width="200px">
                                </div>
                                <div class="card-body">
                                  <p class="card-text"></p>
                                </div>
                                <div class="card-footer">
                                  <small class="font-weight-bold text-primary h6"></small>
                                </div>
                              </div>
                              <!---->
                    </div>
        </div>
    </div>

</form>