@page
@model IndexModel
@{
ViewData["Title"] = "Inicio";
}

<form>
    <div class="row form-control-plaintext text-center" style="font-family: Colonna MT; font-size: 60px;">
        <p>BIENVENIDO</p>        
    </div>
    <div class="row form-control-plaintext text-center" style="font-family: Colonna MT; font-size: 40px;">
        <p>SISTEMA INFORMATICO PARA EL CONTROL <br>
        DE COMPRA-VENTA EN LA LIBRERIA DE LA <br>
        UNIVERSIDAD PANAMERICANA, SAN VICENTE</P>
    </div>

</form>