@page
@model LoginWithCodeModel
@{
    Layout = "_Login";
}
<div class="row bg-login-image bg-login-image-custom">
    <div class="col-lg-6 d-none d-lg-block"></div>
    <div class="col-lg-6" style="background-color:rgba(0,0,0,.5)">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-white mb-2">Recuperar cuenta</h1>
                <p class="text-white">Ingrese el código de recuperación que enviamos a su cuenta. </p>
            </div>
            <form class="user" method="get" action="/">
                <div class="form-group">
                    <p class="text-white">Si lo encuentra en los mensajes de entrada, por favor búsquelo en la bandeja de SPAM</p>
                    <input type="text" class="form-control form-control-login form-control-user" id="Codigo" name="Codigo"
                        aria-describedby="emailHelp" placeholder="Por ejemplo: 325698">
                </div>
                <button class="btn btn-primary btn-user btn-block" type="submit">
                    <i class="fas fa-user"></i> Iniciar sesión
                </button>
            </form>
            <hr>
            <div class="text-center">
                <a class="small text-white" href="/ForgetPassword"><i class="fas fa-arrow-left"></i> Regresar</a>
            </div>
        </div>
    </div>
</div>