@page
@model MiBitacoraModel

@{
ViewData["title"] = "Mi Actividad";
}
<div class="row">
    <label class="offset-lg-4 h3">Criterios de Busqueda</label>
</div>
<div class="row">
    <label class="col-form-label offset-lg-1">Por Fecha: </label>
    <div class="form-group pr-5 pl-4">
        <label asp-for="Desde" class="col-form-label"></label>
        <input asp-for="Desde" class="form-control" placeholder="dd/MM/yyyy">
    </div>
    <div class="form-group">
        <label asp-for="Hasta" class="col-form-label"></label>
        <input asp-for="Hasta" class="form-control" placeholder="dd/MM/yyyy">
    </div>
    <div class="form-group pl-3">
        <label class="col-form-label ml-5">Por Sección</label>
        <div class="col-lg-12 mx-4">
            <select class="custom-options">
                <option value="">Seleccione...</option>
                <option value="">Proveedores</option>
                <option value="">Compras</option>
                <option value="">Ventas</option>
                <option value="">Productos</option>
                <option value="">Servicios</option>
                <option value="">Ofertas</option>
                <option value="">Categorias</option>
                <option value="">Empleados</option>
            </select>
        </div>
    </div>
    <div class="form-group pt-4 pl-3">
        <span class="col pl-5"><a href="#" role="button" id="expandir" data-toggle="tooltip" data-placement="top" title="Expandir todo"><i class="far fa-plus-square"></i></a></span>
        <span class="col"><a href="#" id="contraer" data-toggle="tooltip" data-placement="top" title="Contraer todo"><i class="far fa-minus-square"></i></a></span>
    </div>
</div>
<div class="row">
    <div class="accordion col-lg-12">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-light collapsed" type="button"
                        data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne">
                        2 de Septiembre de 2019 <i class="fas fa-chevron-down"></i>
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse"
                aria-labelledby="headingOne">
                <div class="card-body">
                    <div class="pl-5 col-lg-8">
                        <div class="row p-1 rounded-pill mb-1" style="background-color: #DDFEE4">
                            <span class="rounded-circle py-4 px-1 bg-white">11:00 AM</span>
                            <div><label class="col-form-label py-4 pl-3">Inicio de sesión</label></div>
                        </div>
                        <div class="row p-1 rounded-pill mb-1" style="background-color: #DDFEE4">
                            <span class="rounded-circle py-4 px-1 bg-white">&nbsp 1:00 PM</span>
                            <div><label class="col-form-label py-4 pl-3">Registro una compra <a href="">Ver detalles</a></label></div>
                        </div>
                        <div class="row p-1 rounded-pill mb-1" style="background-color: #DDFEE4">
                            <span class="rounded-circle py-4 px-1 bg-white">&nbsp 1:00 PM</span>
                            <div><label class="col-form-label py-4 pl-3">Finaliazción de la sesión</label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-light collapsed" type="button"
                        data-toggle="collapse" data-target="#collapseTwo" aria-controls="collapseTwo">
                        3 de Septiembre de 2019 <i class="fas fa-chevron-down"></i>
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                <div class="card-body">
                    <div class="pl-5 col-lg-8">
                        <div class="row p-1 rounded-pill mb-1" style="background-color: #DDFEE4">
                            <span class="rounded-circle py-4 px-1 bg-white">11:00 AM</span>
                            <div><label class="col-form-label py-4 pl-3">Inicio de sesión</label></div>
                        </div>
                        <div class="row p-1 rounded-pill mb-1" style="background-color: #DDFEE4">
                            <span class="rounded-circle py-4 px-1 bg-white">&nbsp 1:00 PM</span>
                            <div><label class="col-form-label py-4 pl-3">Registro una compra <a href="">Ver detalles</a></label></div>
                        </div>
                        <div class="row p-1 rounded-pill mb-1" style="background-color: #DDFEE4">
                            <span class="rounded-circle py-4 px-1 bg-white">&nbsp 1:00 PM</span>
                            <div><label class="col-form-label py-4 pl-3">Finaliazción de la sesión</label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-light collapsed" type="button"
                        data-toggle="collapse" data-target="#collapseThree" aria-controls="collapseThree">
                        4 de Septiembre de 2019 <i class="fas fa-chevron-down"></i>
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse"
                aria-labelledby="headingThree">
                <div class="card-body">
                    <div class="pl-5 col-lg-8">
                        <div class="row p-1 rounded-pill mb-1" style="background-color: #DDFEE4">
                            <span class="rounded-circle py-4 px-1 bg-white">11:00 AM</span>
                            <div><label class="col-form-label py-4 pl-3">Inicio de sesión</label></div>
                        </div>
                        <div class="row p-1 rounded-pill mb-1" style="background-color: #DDFEE4">
                            <span class="rounded-circle py-4 px-1 bg-white">&nbsp 1:00 PM</span>
                            <div><label class="col-form-label py-4 pl-3">Registro una compra <a href="">Ver detalles</a></label></div>
                        </div>
                        <div class="row p-1 rounded-pill mb-1" style="background-color: #DDFEE4">
                            <span class="rounded-circle py-4 px-1 bg-white">&nbsp 1:00 PM</span>
                            <div><label class="col-form-label py-4 pl-3">Finaliazción de la sesión</label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <link href="~/selectric/src/selectric.css" rel="stylesheet">
    <script src="~/selectric/src/jquery.selectric.js"></script>
    <script>
        $(function() {
            $('select').selectric();
        });
        var tipos = [
            {elemento: '', texto:'Seleccione...'},
            {elemento: '<i class="far fa-address-card"></i>', texto:'Proveedores'},
            {elemento: '<i class="fas fa-store-alt"></i>', texto:'Compras'},
            {elemento: '<i class="fas fa-shopping-cart"></i>', texto:'Ventas'},
            {elemento: '<i class="fab fa-product-hunt"></i>', texto:'Productos'},
            {elemento: '<i class="fas fa-print"></i><i class="ml-0 fas fa-phone"></i>', texto:'Servicios'},
            {elemento: '<i class="fas fa-tag"></i>', texto:'Ofertas'},
            {elemento: '<i class="fas fa-layer-group"></i>', texto:'Categorias'},
            {elemento: '<i class="fas fa-users"></i>', texto:'Empleados'}
        ];
        $('.custom-options').selectric({
            optionsItemBuilder: function(itemData, element, index) {
                return '<span>'+tipos[index].elemento+' '+tipos[index].texto+'</span>';
            }
        });
    </script>
    <script>
        var Expandir = document.getElementById("expandir");
        var Contraer = document.getElementById("contraer");
        var btn = document.getElementsByClassName("btn btn-light collapsed");
        for(var i = 0 ; i < btn.length ; i++){
            btn[i].addEventListener("click" , (e) => {
                var btn = e.currentTarget;
                if(btn.children[0].className == "fas fa-chevron-right"){
                    btn.children[0].className = "fas fa-chevron-down";
                }else{
                    if(btn.children[0].className == "fas fa-chevron-down"){
                        btn.children[0].className = "fas fa-chevron-right";
                    }
                }
            });
        }
        Expandir.addEventListener("click", ()=>{
            let colapse = document.getElementsByClassName("card");
            for(var i = 0 ; i < colapse.length ; i++){
                colapse[i].children[0].children[0].children[0].children[0].className = 'fas fa-chevron-right';
                colapse[i].children[1].className = "collapse show";
            }
        });
        Contraer.addEventListener("click", ()=>{
            let colapse = document.getElementsByClassName("card");
            for(var i = 0 ;i < colapse.length ; i++){
                colapse[i].children[0].children[0].children[0].children[0].className = 'fas fa-chevron-down';
                colapse[i].children[1].className = "collapse";
            }
        });
    </script>
}