@page
@model NotificacionesModel

@{
ViewData["title"] = "Notificaciones";
}

<div class="row">
    <a class="d-flex align-items-center pl-1" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/borradores.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (02/08/2016)</div>
            <span class="font-weight-bold">Borrador <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
    <a class="d-flex align-items-center" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/lapiceros.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (05/08/2016)</div>
            <span class="font-weight-bold">Lapiceros <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
    <a class="d-flex align-items-center" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/zacapuntas.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (15/08/2016)</div>
            <span class="font-weight-bold">Sacapuntas <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
    <a class="d-flex align-items-center" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/borradores.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (02/08/2016)</div>
            <span class="font-weight-bold">Borrador <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
</div>
<div class="row">
    <a class="d-flex align-items-center pl-1" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/borradores.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (02/08/2016)</div>
            <span class="font-weight-bold">Borrador <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
    <a class="d-flex align-items-center" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/lapiceros.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (05/08/2016)</div>
            <span class="font-weight-bold">Lapiceros <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
    <a class="d-flex align-items-center" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/zacapuntas.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (15/08/2016)</div>
            <span class="font-weight-bold">Sacapuntas <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
    <a class="d-flex align-items-center" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/borradores.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (02/08/2016)</div>
            <span class="font-weight-bold">Borrador <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
</div>
<div class="row">
    <a class="d-flex align-items-center pl-1" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/borradores.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (02/08/2016)</div>
            <span class="font-weight-bold">Borrador <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
    <a class="d-flex align-items-center" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/lapiceros.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (05/08/2016)</div>
            <span class="font-weight-bold">Lapiceros <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
    <a class="d-flex align-items-center" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/zacapuntas.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (15/08/2016)</div>
            <span class="font-weight-bold">Sacapuntas <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
    <a class="d-flex align-items-center" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/borradores.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (02/08/2016)</div>
            <span class="font-weight-bold">Borrador <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
</div>
<div class="row">
    <a class="d-flex align-items-center pl-1" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/borradores.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (02/08/2016)</div>
            <span class="font-weight-bold">Borrador <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
    <a class="d-flex align-items-center" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/lapiceros.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (05/08/2016)</div>
            <span class="font-weight-bold">Lapiceros <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
    <a class="d-flex align-items-center" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/zacapuntas.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (15/08/2016)</div>
            <span class="font-weight-bold">Sacapuntas <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
    <a class="d-flex align-items-center" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/borradores.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (02/08/2016)</div>
            <span class="font-weight-bold">Borrador <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
</div>
<div class="row">
    <a class="d-flex align-items-center pl-1" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/borradores.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (02/08/2016)</div>
            <span class="font-weight-bold">Borrador <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
    <a class="d-flex align-items-center" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/lapiceros.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (05/08/2016)</div>
            <span class="font-weight-bold">Lapiceros <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
    <a class="d-flex align-items-center" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/zacapuntas.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (15/08/2016)</div>
            <span class="font-weight-bold">Sacapuntas <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
    <a class="d-flex align-items-center" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/borradores.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (02/08/2016)</div>
            <span class="font-weight-bold">Borrador <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
</div>
<div class="row">
    <a class="d-flex align-items-center pl-1" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/borradores.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (02/08/2016)</div>
            <span class="font-weight-bold">Borrador <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
    <a class="d-flex align-items-center" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/lapiceros.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (05/08/2016)</div>
            <span class="font-weight-bold">Lapiceros <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
    <a class="d-flex align-items-center" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/zacapuntas.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (15/08/2016)</div>
            <span class="font-weight-bold">Sacapuntas <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
    <a class="d-flex align-items-center" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/borradores.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (02/08/2016)</div>
            <span class="font-weight-bold">Borrador <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
</div>
<div class="row">
    <a class="d-flex align-items-center pl-1" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/borradores.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (02/08/2016)</div>
            <span class="font-weight-bold">Borrador <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
    <a class="d-flex align-items-center" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/lapiceros.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (05/08/2016)</div>
            <span class="font-weight-bold">Lapiceros <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
    <a class="d-flex align-items-center" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/zacapuntas.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (15/08/2016)</div>
            <span class="font-weight-bold">Sacapuntas <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
    <a class="d-flex align-items-center" asp-page="/Productos/Stock">
        <div class="mr-3">
            <i class=""> <img src="/Productos/borradores.jpg" alt="..." width="70px"></i>
        </div>
        <div>
            <div class="small text-gray-500">Próximo a agotarse (02/08/2016)</div>
            <span class="font-weight-bold">Borrador <span class="badge badge-danger">10</span> </span>
        </div>
    </a>
</div>