@page
@model IndexModel
@{
ViewData["Title"] = "Seguridad";
}

<form class="px-5">
        <div class="container-fluid border border-secondary-100 rounded pb-4 px-5" data-spy="scroll" data-target="#myScrollspy" data-offset="1">
                <div class="row">
                    <div class="form-control-plaintext text-center" style="font-size: 25px">
                        <p>Realizar copia de información</p>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="row px-5">
                            <div class="col-lg-6">
                                <button type="button" class="btn btn-outline-primary btn-block">Crear copia de seguridad</button>
                            </div>
                            <div class="col-lg-6">
                                <button type="button" class="btn btn-outline-primary btn-block">Restaurar copia de seguridad</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</form>