@page
@model Compras.RegistroCompraModel;
@using SGLibreria.Models;
@{
ViewData["Title"] = "Registro Compras";
}
<style>
    body {
        color: #555;
    }

    #nav-inferior .btn-dark:hover {
        background-color: #1597a8 !important;
    }

    #productos-seleccionados {
        right: 0;
        position: absolute;
        transition: max-width .4s;
    }

    #productos-seleccionados:hover {}
</style>
<form method="post" style="display:none;" id="formToken"></form>
<form class="container-fluid " id="registroCompra">

    <div class="user">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 border border-secondary-100 rounded ">
                <div class="row ">
                    <div class="col-lg-6">
                        <h5 class="text-lg-left p-2">Datos</h5>
                    </div>
                    <div class="col-lg-6 pt-2" style="align-content: flex-end;">
                        <div class="form-group pt-2">
                            <div class="btn btn-group">
                                <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                    data-target="#modalProveedor">Registrar Proveedor</button>
                                <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                    data-target="#modalCategoria">Registrar Categoría</button>
                                <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                    data-target="#modalMarca">Registrar Marca</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row m-2 pt-2 rounded">
                    <label for="cfecha" class="col-lg-1 font-weight-bold col-form-label">Fecha</label>
                    <div class="col-lg-4 pt-1">
                        <input type="datetime-local" class="form-control form-control-user mb-2" id="cfecha">
                    </div>
                    <label for="cproveedor" class="col-lg-1 col-form-label font-weight-bold ">Proveedor</label>
                    <input type="text" list="items" class="offset-lg-1 form-group col-lg-5 ml-5 pt-2 form-control"
                        id="cproveedor">
                    <!-- Lista de opciones -->
                    <datalist id="items">
                        <option value="-- Seleccione --" disabled>Libreria Miriam</option>
                        <option>Libreria Miriam</option>
                    </datalist>
                </div>


            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-10 offset-lg-1 border border-secondary-100 rounded">
                <div class="row">
                    <div class="col-lg-3">
                        <h5 class="text-lg-left p-2">Detalles</h5>
                    </div>
                    <div class="col-lg-9 pt-2">
                        <div class="form-group pt-2">
                            <div class="btn btn-group">
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                    data-target="#modalProducto">Registrar Producto</button>
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                    data-target="#modalDocumento">Agregar Comprobante</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" id="compras">
                        <table id="tablaCompra" class="table table-sm table-hover bg-white">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Precio Total</th>
                                    <th scope="col">Precio Unitario</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="tablaCompraFilas">

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>Total</th>
                                    <th></th>
                                    <th></th>
                                    <th>0.00</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class=" offset-lg-5 col-lg-6">
                <div class="form-group pt-2">
                    <div class="btn btn-group">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal"
                            id="btnRegistrarCompra"><i class="fas fa-save"> </i> Registrar</button>
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                            id="btnCancelarCompra"><i class="fas fa-times-circle"> </i> Cancelar</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

</form>

@section modal {
<!-- The Modal -->
<div class="user">

    <div class="modal fade" id="modalProveedor" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title">Registro de Proveedor</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form id="registroProveedor">

                        <div class="form-group " style="text-align: end; color: rgb(212, 20, 20)">
                            <label>Campos obligatorios *</label>
                        </div>

                        <div class="form-group row">
                            <label for="pnombre"
                                class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Nombre*</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control form-control-user mb-2" id="pnombre"
                                    placeholder="Libreria Miriam">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="pdireccion"
                                class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Direccion*</label>
                            <div class="col-lg-7">
                                <textarea class="form-control" id="pdireccion" rows="3"
                                    placeholder="Final Av. Crescencio Miranda"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="ptelefono"
                                class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Telefono*</label>
                            <div class="col-lg-7">
                                <select id="dynamic">
                                    <option disabled>-- Seleccione --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-lg-4 col-lg-4">
                                <input type="text" class="form-control" id="add_val" name="add_val">
                            </div>
                            <div class="col-lg-3">
                                <button id="bt_add_val" type="button" class="btn btn-outline-success ml-2"><i
                                        class="fas fa-plus"></i> Agregar</button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="pcorreo" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Correo
                                electronico</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" id="pcorreo" placeholder="example@gmail.com">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="penlace" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Enlace a
                                red
                                social</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" id="penlace" placeholder="www.ejemplo.com">
                            </div>
                        </div>


                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="btn btn-group">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal"
                            id="btnRegistrarProveedor"><i class="fas fa-save"> </i> Registrar</button>
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                            id="btnCancelarProveedor"><i class="fas fa-times-circle"> </i> Cancelar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- The Modal -->

<!-- The Modal -->
<div class="user">

    <div class="modal fade" id="modalCategoria" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title">Registro de Categoría</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form id="registroCategoria">
                        <div class="form-group " style="text-align: end; color: rgb(212, 20, 20)">
                            <label>Campos obligatorios *</label>
                        </div>

                        <div class="form-group row">
                            <label for="ctnombre"
                                class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Nombre*</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control form-control-user mb-2" id="pnombre"
                                    placeholder="Libros">
                            </div>
                        </div>
                    </form>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="btn btn-group">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal"
                            id="btnRegistrarCategoria"><i class="fas fa-save"> </i> Registrar</button>
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                            id="btnCancelarCategoria"><i class="fas fa-times-circle"> </i> Cancelar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- The Modal -->
<!-- The Modal -->
<div class="user">

    <div class="modal fade" id="modalMarca" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title">Registro de Marca</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form id="registroMarca">
                        <div class="form-group " style="text-align: end; color: rgb(212, 20, 20)">
                            <label>Campos obligatorios *</label>
                        </div>

                        <div class="form-group row">
                            <label for="mnombre"
                                class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Nombre*</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control form-control-user mb-2" id="mnombre"
                                    placeholder="Facela">
                            </div>
                        </div>
                    </form>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="btn btn-group">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal"
                            id="btnRegistrarMarca"><i class="fas fa-save"> </i> Registrar</button>
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                            id="btnCancelarMarca"><i class="fas fa-times-circle"> </i> Cancelar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- The Modal -->

<!-- The Modal -->
<div class="user">

    <div class="modal fade" id="modalDocumento" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title">Registro de Documento</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form id="documentoImagen">
                        <br>
                        <div class="form-group row">
                            <label for="docimagen" class="px-4 col-lg-4 col-form-label font-weight-bold">Seleccione
                                Documento</label>
                            <div class="col-lg-7">

                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="docimagen">
                                    <label class="custom-file-label"
                                        for="docimagen">Seleccione..</label>
                                </div>
                            </div>
                        </div>
                        ​
                        <div id="imagePreviewDocument">
                            <br>
                            <br>
                            <h5 class="text-lg-center">Vista Previa</h5>
                            <br>
                            <br>
                        </div>
                    </form>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="btn btn-group">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal"
                            id="btnAgregarDocumento"><i class="fas fa-save"> </i> Agregar</button>
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                            id="btnCancelarDocumento"><i class="fas fa-times-circle"> </i> Cancelar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- The Modal -->

<!-- Modal -->
<div class="modal fade" id="modalProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h4 class="modal-title">Registro de Producto</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form method="post" id="registroProductos">
                    <!--id='productos-->
                    <div class="" id='productos'>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                    aria-controls="home" aria-selected="true">Nuevo Producto </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                    aria-controls="profile" aria-selected="false">Producto Antiguo</a>
                            </li>
                        </ul>
                        <!--id="myTabContent"-->
                        <div class="tab-content" id="myTabContent">
                            
                            <div class="tab-pane  fade show mt-2 active" id="home" role="tabpanel"
                                aria-labelledby="home-tab">
                                <!--PRODUCTO NUEVO-->
                                <div id="formProductoNuevo">
                                    <div class="form-group " style="text-align: end; color: rgb(212, 20, 20)">
                                        <label>Campos obligatorios *</label>
                                    </div>

                                    <div class="form-group row">
                                        <input name="nombre" type="text"
                                                class="form-control form-control-user mb-2" id="nombre"
                                                placeholder="Lapicero">
                                        <label for="pdnombre"
                                        asp-for="Producto.Nombre" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold"></label>
                                        <div class="col-lg-7">
                                            <input asp-for="Producto.Nombre" type="text"
                                                class="form-control form-control-user mb-2" id="pdnombre"
                                                placeholder="Lapicero">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="pdmarca"
                                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Categoría*</label>
                                        <div class="col-lg-7">
                                            <select asp-for="Producto.IdCategoria" class="custom-select form-control"
                                                id="pdmarca">
                                                <option disabled>-- Seleccione marca --</option>
                                                <option value="1">Facela</option>
                                                <option value="2">Norma</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="pdcodigo"
                                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Codigo</label>
                                        <div class="col-lg-7">
                                            <input asp-for="Producto.Codigo" type="text" class="form-control"
                                                id="pdcodigo" placeholder="LF0001">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="pdcategoria"
                                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Categoría*</label>
                                        <div class="col-lg-7">
                                            <select asp-for="Producto.IdCategoria" class="custom-select form-control"
                                                id="pdcategoria">
                                                <option disabled>-- Seleccione categoría --</option>
                                                <option value="1">Papeleria</option>
                                                <option value="2">Colores</option>
                                                <option value="3">Lapiceros</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="pddireccion"
                                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Descripción</label>
                                        <div class="col-lg-7">
                                            <textarea asp-for="Producto.Descripcion" class="form-control"
                                                id="pddireccion" rows="3"
                                                placeholder="Lapicedo color morado con bordes"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="pdstock"
                                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Existencia
                                            mínima*</label>
                                        <div class="col-lg-7">
                                            <input asp-for="Producto.StockMinimo" type="number" class="form-control"
                                                id="pdstock" placeholder="10">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="pdfecha"
                                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Fecha
                                            vencimiento</label>
                                        <div class="col-lg-7">
                                            <input asp-for="Producto.FechaVencimiento" type="date" class="form-control"
                                                id="pdfecha" placeholder="LF0001">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="pdimagenNuevo"
                                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Seleccione
                                            foto</label>
                                        <div class="col-lg-7">

                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="pdimagenNuevo">
                                                <label class="custom-file-label"
                                                    for="pdimagenNuevo">Seleccione..</label>
                                            </div>
                                        </div>
                                    </div>
                                    ​
                                    <div id="imagePreviewNuevo">
                                        <br>
                                        <br>
                                        <h5 class="text-lg-center">Vista Previa</h5>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <!--PRODUCTO NUEVO-->
                            </div><!-- Productos-->

                            <div class="tab-pane  fade  mt-2" id="profile" role="tabpanel"
                                aria-labelledby="profile-tab">

                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#collapseOne" aria-expanded="false"
                                                    aria-controls="collapseOne">
                                                    Selecciona un producto
                                                </button>
                                            </h2>
                                        </div>

                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                            data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="row col-lg-6">
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control"
                                                                placeholder="Nombre o código de producto"
                                                                aria-describedby="button-addon2">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary" type="button"><i
                                                                        class="fas fa-search"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-12">
                                                        <div id='productosAjax'>
                                                            <br>
                                                            <!-- Aqui iran los productos -->

                                                        </div>

                                                    </div><!-- #productos -->

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group row pt-3">
                                    <label for="pdnombre1"
                                        class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Nombre</label>
                                    <div class="col-lg-7">
                                        <input type="text" class="form-control form-control-user mb-2" id="pdnombre1"
                                            value="" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="pdmarca1"
                                        class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Marca</label>
                                    <div class="col-lg-7">
                                        <input type="text" class="form-control form-control-user mb-2" id="pdmarca1"
                                            value="" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="pdcodigo1"
                                        class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Codigo</label>
                                    <div class="col-lg-7">
                                        <input type="text" class="form-control" id="pdcodigo1" value="" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="pdcategoria1"
                                        class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Categoria</label>
                                    <div class="col-lg-7">
                                        <input type="text" class="form-control" id="pdcategoria1" value="" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="pddescripcion1"
                                        class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Descripción</label>
                                    <div class="col-lg-7">
                                        <textarea class="form-control" id="pddescripcion1" rows="3" disabled></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="pdstock1"
                                        class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Existencia
                                        mínima</label>
                                    <div class="col-lg-7">
                                        <input type="number" class="form-control" id="pdstock1" value="" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="pdfecha"
                                        class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Fecha
                                        vencimiento</label>
                                    <div class="col-lg-7">
                                        <input type="date" class="form-control" id="pdfecha" placeholder="LF0001">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="pdimagenAntiguo"
                                        class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Seleccione
                                        foto</label>
                                    <div class="col-lg-7">

                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="pdimagenAntiguo">
                                            <label class="custom-file-label" 
                                                for="pdimagenAntiguo">Seleccione..</label>
                                        </div>
                                    </div>
                                </div>
                                ​
                                <div id="imagePreviewAntiguo">
                                    <br>
                                    <br>
                                    <h5 class="text-lg-center">Vista Previa</h5>
                                    <br>
                                    <br>
                                </div>

                            </div><!-- Servicios -->
                
                

                        </div>
                        <!--id="myTabContent"-->
                
                </div><!--id='productos-->
                </form>
            </div>

        <div class="modal-footer">
            <div class="btn btn-group">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal" id="btnAgregarProducto"><i
                        class="fas fa-save"> </i> Agregar</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="btnCancelarProducto"><i
                        class="fas fa-times-circle"> </i> Cancelar</button>
            </div>
        </div>

        </div>
    </div>
</div>

<!--    Inicia Modal Inventario-->

}

@section Scripts {
<link href="~/selectric/src/selectric.css" rel="stylesheet">
<script src="~/selectric/src/jquery.selectric.js"></script>
<script src="~/js/busqueda.js"></script>
<script src="~/js/sgl.js"></script>

<script>
    //SCRIPTS PARA LIMPIAR LOS FORMULARIOS DE LA COMRPRA
    //var btnCancelar = document.querySelector('#btnCancelarProducto');
    var btnCancelarProducto = document.getElementById('btnCancelarProducto');
    var limpiarProducto = function (e) {
        sgl.clearForm(document.querySelector('#registroProductos'));
        var btnLimpiar = document.getElementById('imagePreviewNuevo');
        btnLimpiar.innerHTML = '<br> <br> <h5 class="text-lg-center">Vista Previa</h5> <br> <br>';
        var btnLimpiar1 = document.getElementById('imagePreviewAntiguo');
        btnLimpiar1.innerHTML = '<br> <br> <h5 class="text-lg-center">Vista Previa</h5> <br> <br>';
    }
    btnCancelarProducto.addEventListener('click', limpiarProducto);

    var btnCancelarProveedor = document.getElementById('btnCancelarProveedor');
    var limpiarProveedor = function (e) {
        sgl.clearForm(document.querySelector('#registroProveedor'));
    }
    btnCancelarProveedor.addEventListener('click', limpiarProveedor);

    var btnCancelarCategoria = document.getElementById('btnCancelarCategoria');
    var limpiarCategoria = function (e) {
        sgl.clearForm(document.querySelector('#registroCategoria'));
    }
    btnCancelarCategoria.addEventListener('click', limpiarCategoria);

    var btnCancelarCompra = document.getElementById('btnCancelarCompra');
    var limpiarCompra = function (e) {
        var btnLimpiar = document.getElementById('tablaCompraFilas');
        btnLimpiar.innerHTML = "";
        sgl.clearForm(document.querySelector('#registroCompra'));
        sgl.clearForm(document.querySelector('#registroProductos'));
        sgl.clearForm(document.querySelector('#registroCategoria'));
        sgl.clearForm(document.querySelector('#registroProveedor'));
        sgl.clearForm(document.querySelector('#documentoImagen'));

        var btnLimpiar1 = document.getElementById('imagePreviewDocument');
        btnLimpiar1.innerHTML = '<br> <br> <h5 class="text-lg-center">Vista Previa</h5> <br> <br>';
        var btnLimpiar2 = document.getElementById('imagePreviewNuevo');
        btnLimpiar2.innerHTML = '<br> <br> <h5 class="text-lg-center">Vista Previa</h5> <br> <br>';
        var btnLimpiar3 = document.getElementById('imagePreviewAntiguo');
        btnLimpiar3.innerHTML = '<br> <br> <h5 class="text-lg-center">Vista Previa</h5> <br> <br>';
    }
    btnCancelarCompra.addEventListener('click', limpiarCompra);

    var btnCancelarDocumento = document.getElementById('btnCancelarDocumento');
    var limpiarDocumento = function (e) {
        sgl.clearForm(document.querySelector('#documentoImagen'));
        var btnLimpiar = document.getElementById('imagePreviewDocument');
        btnLimpiar.innerHTML = '<br> <br> <h5 class="text-lg-center">Vista Previa</h5> <br> <br>';
    }
    btnCancelarDocumento.addEventListener('click', limpiarDocumento);

    ////funcion Ajax para recuperar productos miante un Form

    $('#modalProducto').on('show.bs.modal', function (e) {
        var prodAjax = document.getElementById("productosAjax");
        var formProdAjax = document.createElement('form');
        formProdAjax.innerHTML = prodAjax.outerHTML;
        var productosAjax = new FormData(formProdAjax);

        sgl.ajax('get', '/Productos/ListaProductoAjax', function (data) {
            var elem = document.getElementById('productosAjax');
            elem.innerHTML = data;
        });
    })

    //funcion para agregar el producto a la tabla
    var btnAgregarProducto = document.getElementById('btnAgregarProducto');

    var AgregarProducto = function (e) {
        var tr = document.createElement('tr');
        var td1 = document.createElement('td');
        var td2 = document.createElement('td');
        var td3 = document.createElement('td');
        var td4 = document.createElement('td');
        var td5 = document.createElement('td');

        var pdnombre = document.getElementById('pdnombre');
        var pdmarca = document.getElementById('pdmarca');
        var pdcodigo = document.getElementById('pdcodigo');
        var pdcategoria = document.getElementById('pdcategoria');
        var pddireccion = document.getElementById('pddireccion');
        var pdstock = document.getElementById('pdstock');
        var pdfecha = document.getElementById('pdfecha');
        var pdimagenNuevo = document.getElementById('pdimagenNuevo');

        var prod = {
            nombre: pdnombre.value,
            marca: pdmarca.value,
            codigo: pdcodigo.value,
            categoria: pdcategoria.value,
            direccion: pddireccion.value,
            stock: pdstock.value,
            fecha: pdfecha.value,
            imagen: pdimagenNuevo.value
        }
        td1.innerHTML = prod.nombre;
        td2.innerHTML =
            '<input type="number" placeholder="30" class="form form-control col-lg-5">';
        td3.innerHTML =
            '<input type="text" placeholder="30" class="form form-control col-lg-7">';
        td4.innerHTML =
            '<input type="text" placeholder="30" class="form form-control col-lg-7 " disabled>';
        td5.innerHTML =
            '<a href="#" class="text-danger font-weight-bold" title="Eliminar"><i class="fas fa-trash" ></i></a>' +
            '<a href="#" class="text-success font-weight-bold ml-2" title="Editar"><i class="fas fa-edit" ></i></a>';
        tr.appendChild(td1);
        tr.appendChild(td2);
        tr.appendChild(td3);
        tr.appendChild(td4);
        tr.appendChild(td5);

        var tablaCompraFilas = document.getElementById('tablaCompraFilas');
        tablaCompraFilas.appendChild(tr);
        limpiarProducto();
        /*
        sgl.ajax('POST', 'RegistroCompra?handler=AgregarProducto', function (data) {
            
        }, document.querySelector('#registroProductos'));
        */
        //primer elemento
        var formToken = sgl.query('#formToken')[0];
        var token = formToken.querySelector('input[name=__RequestVerificationToken]');
        
        var registroProductos = document.querySelector('#formProductoNuevo');
        var formRegistroProductos = document.createElement('form');
        formRegistroProductos.method='post';
        formRegistroProductos.innerHTML = registroProductos.outerHTML;
        console.log(registroProductos);
        sgl.ajax2(
            {
                url: 'RegistroCompra?handler=AgregarProducto', 
                method: 'post', 
                data: formRegistroProductos,
                done: function (data) {
                    console.log('datos del servidor');
                    console.log(data);
                    /*cuando se halla completado la solicitud*/
                },
//                "Content-type", "application/x-www-form-urlencoded" 
                fail: function () {
                    //manejar el error
                    console.log(this);
                },
                headers: {
                    "RequestVerificationToken": token.value, 
//                    "Content-type": "application/x-www-form-urlencoded"
                    }
            }
        );
    }
    btnAgregarProducto.addEventListener('click', AgregarProducto);
</script>

<script>
    $(function () {
        $('select').selectric();
    });
    $('#dynamic').selectric();
    $('#bt_add_val').click(function () {
        // Store the value in a variable
        var value = $('#add_val').val();
        // Append to original select
        $('#dynamic').append('<option selected>' + (value ? value : 'Empty') + '</option>');
        // Refresh Selectric
        $('#dynamic').selectric('refresh');
    });
</script>


<script type="text/javascript">
    (function () {
        function filePreview(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreviewNuevo').html("<img src='" + e.target.result +
                        "' class='rounded mx-auto d-block img-fluid' style='width:250' />");
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $('#pdimagenNuevo').change(function () {
            filePreview(this);
        });
    })();

    (function () {
        function filePreview(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreviewAntiguo').html("<img src='" + e.target.result +
                        "' class='rounded mx-auto d-block img-fluid' style='width:250' />");
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $('#pdimagenAntiguo').change(function () {
            filePreview(this);
        });
    })();

    (function () {
        function filePreviewDocument(input) {
            if (input.files && input.files[0]) {
                var reade = new FileReader();
                reade.onload = function (e) {
                    $('#imagePreviewDocument').html("<img src='" + e.target.result +
                        "' class='rounded mx-auto d-block img-fluid' style='width:550' />");
                }
                reade.readAsDataURL(input.files[0]);
            }
        }
        $('#docimagen').change(function () {
            filePreviewDocument(this);
        });
    })();
</script>

}