@page
@model Compras.RegistroCompraModel;
@{
ViewData["Title"] = "Registro Compras";
}
<style>
    body {
        color: #555;
    }

    #nav-inferior .btn-dark:hover {
        background-color: #1597a8 !important;
    }

    #productos-seleccionados {
        right: 0;
        position: absolute;
        transition: max-width .4s;
    }

    /*#productos-seleccionados:hover {}*/
</style>
<form method="post" style="display:none;" id="formToken"></form>
<form class="container-fluid " id="registroCompra">

    <div class="user">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 border border-secondary-100 rounded ">
                <div class="row ">
                    <div class="col-lg-5">
                        <h5 class="text-lg-left p-2">Datos</h5>
                    </div>
                    <div class="col-lg-7 pt-2" style="align-content: flex-end;">
                        <div class="form-group pt-2">
                            <div class="btn btn-group">
                                <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                    data-target="#modalProveedor">Registrar Proveedor</button>
                                <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                    data-target="#modalCategoria">Registrar Categoría</button>
                                <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                    data-target="#modalMarca">Registrar Marca</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row m-2 pt-2 rounded">
                    <label for="cfecha" class="col-lg-1 font-weight-bold col-form-label">Fecha</label>
                    <div class="col-lg-3 pt-1">
                        <input type="Date" class="form-control form-control-user mb-2" id="cfecha">
                    </div>
                    <label for="cproveedor" class="col-lg-1 col-form-label font-weight-bold ">Proveedor</label>
                    <div class="pl-5 col-lg-6">
                        <select class="custom-select form-control" id="comboProveedores">
                        </select>
                    </div>
                    <!--<input type="text" list="comboProveedores" class="offset-lg-1 form-group col-lg-5 ml-5 pt-2 form-control"
                        id="cproveedor">
                    -->
                    <!-- Lista de opciones 
                    <select id="comboProveedores">
                    </select>-->
                </div>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-10 offset-lg-1 border border-secondary-100 rounded">
                <div class="row">
                    <div class="col-lg-3">
                        <h5 class="text-lg-left p-2">Detalles</h5>
                    </div>
                    <div class="col-lg-9 pt-2">
                        <div class="form-group pt-2">
                            <div class="btn btn-group">
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                    data-target="#modalProductoNuevo">Registrar Producto</button>
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                    data-target="#modalProductoAntiguo">Añadir Producto</button>
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                    data-target="#modalDocumento">Agregar Comprobante</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" id="compras">
                        <table id="tablaCompra" class="table table-sm table-hover bg-white">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Precio Total</th>
                                    <th scope="col">Precio Unitario</th>
                                    <th scope="col">Precio Venta</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="tablaCompraFilas">

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>Total</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>0.00</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class=" offset-lg-5 col-lg-6">
                <div class="form-group pt-2">
                    <div class="btn btn-group">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal"
                            id="btnRegistrarCompra"><i class="fas fa-save"> </i> Registrar</button>
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                            id="btnCancelarCompra"><i class="fas fa-times-circle"> </i> Cancelar</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

</form>

@section modal {
<!-- The Modal -->
<div class="user">

    <div class="modal fade" id="modalProveedor" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form method="post" id="frmProveedor">
                    <!-- Modal Header -->
                    <div class="modal-header bg-primary text-white">
                        <h4 class="modal-title">Registro de Proveedor</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="offset-1">
                            <div class="form-group row">
                                <label asp-for="Proveedor.Nombre"
                                    class="col-sm-2 col-form-label font-weight-bold"></label>
                                <input type="text" class="col-sm-8 form-control" asp-for="Proveedor.Nombre"
                                    placeholder="Ingrese un nombre">
                                <span asp-validation-for="Proveedor.Nombre" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Proveedor.Correo"
                                    class="col-sm-2 col-form-label font-weight-bold"></label>
                                <input type="email" class="col-sm-8 form-control" asp-for="Proveedor.Correo"
                                    placeholder="ejemplo@dominio.com">
                                <span asp-validation-for="Proveedor.Correo" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Proveedor.Telefono"
                                    class="col-sm-2 col-form-label font-weight-bold"></label>
                                <input type="text" class="form-control col-sm-5" id="add_val" name="add_val">
                                <button id="bt_add_val" type="button" class="btn btn-outline-success"><i
                                        class="fas fa-plus"></i> Agregar</button>
                                <button id="bt_act_val" type="button" class="btn btn-outline-warning" hidden=""><i
                                        class="fas fa-plus"></i> Modificar</button>
                                <label class="ml-1 col-form-label text-danger" id="exist"></label>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-4 offset-2">
                                    <ul class="list-group list-group-flush" id="lis_tel">
                                        <li class="list-group-item py-1">Sin registros</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Proveedor.Direccion"
                                    class="col-sm-2 col-form-label font-weight-bold"></label>
                                <textarea class="col-sm-8 form-control" asp-for="Proveedor.Direccion"
                                    placeholder="4ta, avenida norte..." style="height: 150px;"></textarea>
                                <span asp-validation-for="Proveedor.Direccion" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Proveedor.Enlace"
                                    class="col-sm-2 col-form-label font-weight-bold"></label>
                                <input class="col-sm-8 form-control" asp-for="Proveedor.Enlace"
                                    placeholder="www.ejemplo.com">
                                <span asp-validation-for="Proveedor.Enlace" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <div class="btn btn-group">
                            <button type="submit" class="btn btn-outline-primary" id="registrar"><i
                                    class="fas fa-save"></i> Registrar</button>
                            <button type="button" id="btnCancelarProveedor" class="btn btn-outline-secondary"
                                data-dismiss="modal"><i class="fas fa-times-circle"></i> Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- The Modal -->
<!--Espacio para notificaciones-->
<div class="col-lg-2" id="notific">
    <div class="toast" id="toastProveedor" role="alert" data-delay="5000" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-success" id="thead">
            <label class="col-form-label text-white">
                <i class="" id="inoti"></i>
                <strong class="mr-auto">Registro Proveedor</strong>
            </label>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body" id="tcuerpo">
        </div>
    </div>
</div>
<!-- The Modal -->
<div class="user">

    <div class="modal fade" id="modalCategoria" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form method="post" id="registrarCategoria">
                    <!-- Modal Header -->
                    <div class="modal-header bg-primary text-white">
                        <h4 class="modal-title">Registro de Categoría</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group " style="text-align: end; color: rgb(212, 20, 20)">
                            <label>Campos obligatorios *</label>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Categoria.Nombre" for="ctnombre"
                                class="offset-lg-1 col-lg-2 col-form-label font-weight-bold"></label>
                            <div class="col-lg-7">
                                <input asp-for="Categoria.Nombre" class="form-control form-control-user mb-2"
                                    id="ctnombre" placeholder="Libros">
                            </div>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <div class="btn btn-group">
                            <button type="submit" class="btn btn-outline-primary" id="btnRegistrarCategoria"
                                asp-page-handler="AgregarCategoria"><i class="fas fa-save"> </i>
                                Registrar</button>
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                                id="btnCancelarCategoria"><i class="fas fa-times-circle"> </i> Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- The Modal -->
<!-- The Modal -->
<div class="user">

    <div class="modal fade" id="modalMarca" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title">Registro de Marca</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form method="post" id="registroMarca">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group " style="text-align: end; color: rgb(212, 20, 20)">
                            <label>Campos obligatorios *</label>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Marca.Nombre"
                                class="offset-lg-1 col-lg-2 col-form-label font-weight-bold"></label>
                            <div class="col-lg-7">
                                <input asp-for="Marca.Nombre" class="form-control form-control-user mb-2"
                                    placeholder="Facela">
                            </div>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <div class="btn btn-group">
                            <button type="submit" class="btn btn-outline-primary" id="btnRegistrarMarca"><i
                                    class="fas fa-save"> </i> Registrar</button>
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                                id="btnCancelarMarca"><i class="fas fa-times-circle"> </i> Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- The Modal -->

<!-- The Modal -->
<div class="user">

    <div class="modal fade" id="modalDocumento" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title">Registro de Documento</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form id="documentoImagen">
                        <br>
                        <div class="form-group row">
                            <label for="docimagen" class="px-4 col-lg-4 col-form-label font-weight-bold">Seleccione
                                Documento</label>
                            <div class="col-lg-7">

                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="docimagen">
                                    <label class="custom-file-label" for="docimagen">Seleccione..</label>
                                </div>
                            </div>
                        </div>
                        ​
                        <div id="imagePreviewDocument">
                            <br>
                            <br>
                            <h5 class="text-lg-center">Vista Previa</h5>
                            <br>
                            <br>
                        </div>
                    </form>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="btn btn-group">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal"
                            id="btnAgregarDocumento"><i class="fas fa-save"> </i> Agregar</button>
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                            id="btnCancelarDocumento"><i class="fas fa-times-circle"> </i> Cancelar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- The Modal -->

<!-- Modal -->
<div class="modal fade" id="modalProductoNuevo" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <form method='post' id="formProductoNuevo">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">

            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title">Registro de Producto</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group " style="text-align: end; color: rgb(212, 20, 20)">
                        <label>Campos obligatorios *</label>
                    </div>

                    <div class="form-group row">

                        <label for="pdnombre" asp-for="Producto.Nombre"
                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold"></label>
                        <div class="col-lg-7">
                            <input asp-for="Producto.Nombre" type="text" class="form-control form-control-user mb-2"
                                id="pdnombre" placeholder="Lapicero" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdmarca" asp-for="Producto.IdMarca"
                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold"></label>
                        <div class="col-lg-7">
                            <select asp-for="Producto.IdMarca" class="custom-select form-control" id="comboMarcas">

                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdcodigo" asp-for="Producto.Codigo"
                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold"></label>
                        <div class="col-lg-7">
                            <input asp-for="Producto.Codigo" type="text" class="form-control" id="pdcodigo"
                                placeholder="LF0001">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdcategoria" asp-for="Producto.IdCategoria"
                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold"></label>
                        <div class="col-lg-7">
                            <select asp-for="Producto.IdCategoria" class="custom-select form-control"
                                id="comboCategorias" required>

                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pddireccion" asp-for="Producto.Descripcion"
                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold"></label>
                        <div class="col-lg-7">
                            <textarea asp-for="Producto.Descripcion" class="form-control" id="pddireccion" rows="3"
                                placeholder="Lapicedo color morado con bordes"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdstock" asp-for="Producto.StockMinimo"
                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold"></label>
                        <div class="col-lg-7">
                            <input asp-for="Producto.StockMinimo" type="number" class="form-control" id="pdstock"
                                placeholder="10" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdfecha" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Fecha
                            vencimiento</label>
                        <div class="col-lg-7">
                            <input asp-for="Producto.FechaVencimiento" type="date" class="form-control" id="pdfecha">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdimagenNuevo"
                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Seleccione
                            foto</label>
                        <div class="col-lg-7">

                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="pdimagenNuevo">
                                <label class="custom-file-label" for="pdimagenNuevo">Seleccione..</label>
                            </div>
                        </div>
                    </div>
                    <div id="imagePreviewNuevo">
                        <br>
                        <br>
                        <h5 class="text-lg-center">Vista Previa</h5>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn btn-group" id="groupNuevo">
                        <button type="submit" class="btn btn-outline-primary" id="btnAgregarProductoNuevo"><i
                                class="fas fa-save"> </i> Agregar</button>
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                            id="btnCancelarProductoNuevo"><i class="fas fa-times-circle"> </i> Cancelar</button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
<div class="modal fade" id="modalProductoAntiguo" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <form id="formProductoNuevo">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">

            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title">Registro de Producto</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        Selecciona un producto
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="row col-lg-6">
                                            <div class="input-group mb-3">
                                                <input type="text" id="nombreProductoFocus" class="form-control"
                                                    autofocus placeholder="Nombre o código de producto"
                                                    aria-describedby="button-addon2">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary" type="button"><i
                                                            class="fas fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div id='productosAjax'>
                                                <br>
                                                <!-- Aqui iran los productos -->
                                            </div>
                                        </div><!-- #productos -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row pt-3">
                        <label for="pdnombre1"
                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Nombre</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control form-control-user mb-2" id="pdnombre1" value=""
                                disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdmarca1" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Marca</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control form-control-user mb-2" id="pdmarca1" value=""
                                disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdcodigo1"
                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Código</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="pdcodigo1" value="" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdcategoria1"
                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Categoría</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="pdcategoria1" value="" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pddescripcion1"
                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Descripción</label>
                        <div class="col-lg-7">
                            <textarea class="form-control" id="pddescripcion1" rows="3" disabled></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdstock1" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Existencia
                            mínima</label>
                        <div class="col-lg-7">
                            <input type="number" class="form-control" id="pdstock1" value="" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdfecha" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Fecha
                            vencimiento</label>
                        <div class="col-lg-7">
                            <input type="date" class="form-control" id="pdfecha" placeholder="LF0001">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdimagenAntiguo"
                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Seleccione
                            foto</label>
                        <div class="col-lg-7">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="pdimagenAntiguo">
                                <label class="custom-file-label" for="pdimagenAntiguo">Seleccione..</label>
                            </div>
                        </div>
                    </div> ​
                    <div id="imagePreviewAntiguo">
                        <br>
                        <br>
                        <h5 class="text-lg-center">Vista Previa</h5>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn btn-group" id="groupAntiguo">
                        <button type="submit" class="btn btn-outline-primary" id="btnAgregarProductoAntiguo"><i
                                class="fas fa-save"> </i> Modificar</button>
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                            id="btnCancelarProductoAntiguo"><i class="fas fa-times-circle"> </i> Cancelar</button>
                    </div>
                </div>
            </div>

        </div>
    </form>

</div>

<!--    Inicia Modal Inventario-->

}

@section Scripts {
<script src="~/js/busqueda.js"></script>
<script src="~/js/sgl.js"></script>
<script>
    //funcion para agregar el producto a la tabla
    var FrmProductoNuevo = document.querySelector("#formProductoNuevo");
    var token = document.querySelector('#formToken input[name=__RequestVerificationToken]');
    FrmProductoNuevo.addEventListener("submit", function (e) {
        console.log(FrmProductoNuevo);
        e.preventDefault();
        console.log(FrmProductoNuevo);
        sgl.ajax2({
            method: 'post',
            data: FrmProductoNuevo,
            url: "RegistroCompra?handler=AgregarProducto",
            done: function (texto) {
                console.log(texto);
                var elem = document.createElement("tr");
                var tbody = document.querySelector('#tablaCompraFilas');
                tbody.appendChild(elem);
                elem.outerHTML = texto;
            },
            fail: function () {
                console.log("error");
                console.log(this);
            },
            /*
            headers: {
                "RequestVerificationToken": token.value,
                "Content-type": "application/x-www-form-urlencoded"
            }
            */
        });
        //$('#modalProductoNuevo').modal('hide');
        //sgl.clearForm(FrmProductoNuevo);
    });

    //SCRIPTS PARA LIMPIAR LOS FORMULARIOS DE LA COMRPRA
    var FrmCategoria = document.querySelector("#registrarCategoria");
    var token = document.querySelector("#formToken input[name=__RequestVerificationToken]");
    FrmCategoria.addEventListener("submit", function (e) {
        e.preventDefault();
        sgl.ajax2({
            url: "RegistroCompra?handler=AgregarCategoria",
            method: "post",
            headers: {
                "RequestVerificationToken": token.value,
                "Content-type": "application/x-www-form-urlencoded"
            },
            done: function () {
                sgl.ajax2({
                    method: 'get',
                    url: 'RegistroCompra?handler=ListaCategorias',
                    done: function (texto) {
                        var lista = JSON.parse(texto);
                        var comboCategorias = document.querySelector(
                            '#comboCategorias');
                        comboCategorias.innerHTML = "";
                        lista.forEach(function (dato) {
                            var elem = document.createElement('option');
                            elem.innerHTML = dato.nombre;
                            elem.value = dato.id;
                            comboCategorias.appendChild(elem);
                        });
                    },
                    fail: function () {

                    }
                });
            },
            data: FrmCategoria
        });
        $('#modalCategoria').modal('hide');
        sgl.clearForm(FrmCategoria);
    });

    var FrmMarca = document.querySelector("#registroMarca");
    var token = document.querySelector('#formToken input[name=__RequestVerificationToken]');
    FrmMarca.addEventListener("submit", function (e) {
        //Evita la accion por defecto que en nuestro caso seria enviar el formulario
        e.preventDefault();
        sgl.ajax2({
            method: "post",
            url: "RegistroCompra?handler=AgregarMarca",
            headers: {
                "RequestVerificationToken": token.value,
                "Content-type": "application/x-www-form-urlencoded"
            },
            done: function () {
                sgl.ajax2({
                    method: 'get',
                    url: 'RegistroCompra?handler=ListaMarcas',
                    done: function (texto) {
                        var lista = JSON.parse(texto);
                        var comboMarcas = document.querySelector('#comboMarcas');
                        comboMarcas.innerHTML = "";
                        lista.forEach(function (dato) {
                            var elem = document.createElement('option');
                            elem.innerHTML = dato.nombre;
                            elem.value = dato.id;
                            comboMarcas.appendChild(elem);
                        });
                    },
                    data: FrmMarca
                });
            },
            data: FrmMarca
        });
        $('#modalMarca').modal('hide');
        sgl.clearForm(FrmMarca);
    });
    var btnCancelarProductoNuevo = document.querySelector('#btnCancelarProductoNuevo');
    var limpiarProducto1 = function (e) {
        sgl.clearForm(document.querySelector('#formProductoNuevo'));
        var btnLimpiar = document.getElementById('imagePreviewNuevo');
        btnLimpiar.innerHTML = '<br> <br> <h5 class="text-lg-center">Vista Previa</h5> <br> <br>';
    }
    btnCancelarProductoNuevo.addEventListener('click', limpiarProducto1);
    var btnCancelarProductoAntiguo = document.querySelector('#btnCancelarProductoAntiguo');
    var limpiarProducto = function (e) {
        sgl.clearForm(document.querySelector('#formProductoAntiguo'));
        var btnLimpiar1 = document.getElementById('imagePreviewAntiguo');
        btnLimpiar1.innerHTML = '<br> <br> <h5 class="text-lg-center">Vista Previa</h5> <br> <br>';
    }
    btnCancelarProductoAntiguo.addEventListener('click', limpiarProducto);

    var btnCancelarProveedor = document.getElementById('btnCancelarProveedor');
    var limpiarProveedor = function (e) {
        sgl.clearForm(document.querySelector('#registroProveedor'));
    }
    btnCancelarProveedor.addEventListener('click', limpiarProveedor);

    var btnCancelarCategoria = document.getElementById('btnCancelarCategoria');
    var limpiarCategoria = function (e) {
        sgl.clearForm(document.querySelector('#registroCategoria'));
    }
    btnCancelarCategoria.addEventListener('click', limpiarCategoria);

    var btnCancelarCompra = document.getElementById('btnCancelarCompra');
    var limpiarCompra = function (e) {
        var btnLimpiar = document.getElementById('tablaCompraFilas');
        btnLimpiar.innerHTML = "";
        sgl.clearForm(document.querySelector('#registroCompra'));
        sgl.clearForm(document.querySelector('#registroProductos'));
        sgl.clearForm(document.querySelector('#registroCategoria'));
        sgl.clearForm(document.querySelector('#registroProveedor'));
        sgl.clearForm(document.querySelector('#documentoImagen'));
        var btnLimpiar1 = document.getElementById('imagePreviewDocument');
        btnLimpiar1.innerHTML = '<br> <br> <h5 class="text-lg-center">Vista Previa</h5> <br> <br>';
        var btnLimpiar2 = document.getElementById('imagePreviewNuevo');
        btnLimpiar2.innerHTML = '<br> <br> <h5 class="text-lg-center">Vista Previa</h5> <br> <br>';
        var btnLimpiar3 = document.getElementById('imagePreviewAntiguo');
        btnLimpiar3.innerHTML = '<br> <br> <h5 class="text-lg-center">Vista Previa</h5> <br> <br>';
    }
    btnCancelarCompra.addEventListener('click', limpiarCompra);
    var btnCancelarDocumento = document.getElementById('btnCancelarDocumento');
    var limpiarDocumento = function (e) {
        sgl.clearForm(document.querySelector('#documentoImagen'));
        var btnLimpiar = document.getElementById('imagePreviewDocument');
        btnLimpiar.innerHTML = '<br> <br> <h5 class="text-lg-center">Vista Previa</h5> <br> <br>';
    }
    btnCancelarDocumento.addEventListener('click', limpiarDocumento);
    ////funcion Ajax para recuperar productos miante un Form
    $('#modalProductoAntiguo').on('show.bs.modal', function (e) {
        var prodAjax = document.getElementById("productosAjax");
        var formProdAjax = document.createElement('form');
        formProdAjax.innerHTML = prodAjax.outerHTML;
        var productosAjax = new FormData(formProdAjax);
        sgl.ajax('get', '/Productos/ListaProductoAjax', function (data) {
            var elem = document.getElementById('productosAjax');
            elem.innerHTML = data;
        });
    });
    //btnAgregarProducto.addEventListener('click', AgregarProducto);
</script>

<script>
    //Funcion para reuperar las categorias al combo selectric
    sgl.ajax2({
        method: 'get',
        url: 'RegistroCompra?handler=ListaCategorias',
        done: function (texto) {
            var lista = JSON.parse(texto);
            var comboCategorias = document.querySelector('#comboCategorias');
            lista.forEach(function (dato) {
                var elem = document.createElement('option');
                elem.innerHTML = dato.nombre;
                elem.value = dato.id;
                comboCategorias.appendChild(elem);
            });
        },
        fail: function () {

        }
    });
    //Funcion para llenar combo proveedores
    sgl.ajax2({
        method: 'get',
        url: 'RegistroCompra?handler=ListaProveedores',
        done: function (texto) {
            var lista = JSON.parse(texto);
            var comboProveedores = document.querySelector('#comboProveedores');
            lista.forEach(function (dato) {
                var elem = document.createElement('option');
                elem.innerHTML = dato.nombre;
                elem.value = dato.id;
                comboProveedores.appendChild(elem);
            });
        },
        fail: function () {

        }
    });

    sgl.ajax2({
        method: 'get',
        url: 'RegistroCompra?handler=ListaMarcas',
        done: function (texto) {
            var lista = JSON.parse(texto);
            var comboMarcas = document.querySelector('#comboMarcas');
            lista.forEach(function (dato) {
                var elem = document.createElement('option');
                elem.innerHTML = dato.nombre;
                elem.value = dato.id;
                comboMarcas.appendChild(elem);
            });
        },
        fail: function () {}
    });
</script>


<script type="text/javascript">
    (function () {
        function filePreview(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreviewNuevo').html("<img src='" + e.target.result +
                        "' class='rounded mx-auto d-block img-fluid' style='width:250' />");
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $('#pdimagenNuevo').change(function () {
            filePreview(this);
        });
    })();

    (function () {
        function filePreview(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreviewAntiguo').html("<img src='" + e.target.result +
                        "' class='rounded mx-auto d-block img-fluid' style='width:250' />");
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $('#pdimagenAntiguo').change(function () {
            filePreview(this);
        });
    })();

    (function () {
        function filePreviewDocument(input) {
            if (input.files && input.files[0]) {
                var reade = new FileReader();
                reade.onload = function (e) {
                    $('#imagePreviewDocument').html("<img src='" + e.target.result +
                        "' class='rounded mx-auto d-block img-fluid' style='width:550' />");
                }
                reade.readAsDataURL(input.files[0]);
            }
        }
        $('#docimagen').change(function () {
            filePreviewDocument(this);
        });
    })();
</script>

<script>
    //Declaracion y obtencion de variables
    var list = document.querySelector("#lis_tel");
    var BtnRegistrar = document.querySelector("#frmProveedor");
    var token = document.querySelector("#formToken input[name=__RequestVerificationToken]");
    var FrmProveedor = document.querySelector("#frmProveedor");
    var BtnAddTel = document.querySelector("#bt_add_val");
    var btnMod = document.querySelector("#bt_act_val");
    //Oyentes de eventos
    btnMod.addEventListener("click", (e) => {
        var input = document.querySelector("#add_val");
        var li = document.querySelector("li[data-mod=true]");
        if (input.value != "") {
            var boton = e.currentTarget;
            if (ValidarUl(input.value.trim())) {
                li.innerHTML = input.value +
                    '<span class="pl-2"><i class="mano fas fa-trash text-danger"></i></span><span class="pl-2"><i class="mano fas fa-pencil-alt text-warning"></i></span>';
                input.value = '';
                document.getElementById("exist").innerHTML = "";
                document.querySelector("#bt_add_val").removeAttribute("hidden");
                boton.setAttribute("hidden", "");
                li.setAttribute("data-mod", "false");
            }
        }
    });
    list.addEventListener("click", (e) => {
        element = e.target;
        if (element.classList.contains("fa-trash")) {
            acElim(element);
        } else {
            if (element.classList.contains("fa-pencil-alt")) {
                actTel(element);
            }
        }
    });
    BtnAddTel.addEventListener("click", () => {
        var input = document.getElementById("add_val");
        if (ValidarUl(input.value.trim())) {
            document.getElementById("exist").innerHTML = "";
            var li = document.createElement("li");
            let list = document.querySelector("#lis_tel");
            li.setAttribute("data-mod", "false");
            li.setAttribute("id", "li" + "");
            li.setAttribute("class", "list-group-item py-1");
            li.innerHTML = input.value +
                '<span class="pl-2"><i class="mano fas fa-trash text-danger"></i></span><span class="pl-2"><i class="mano fas fa-pencil-alt text-warning"></i></span>';
            list.appendChild(li);
            input.value = "";
        }
    });
    BtnRegistrar.addEventListener("submit", GuardarForAjax);
    console.log(BtnRegistrar);
    //La siguiente funcion verifica que el numero ingreso no este vacio y ademas no exista en la lista devuelve un booleano
    function ValidarUl(numero) {
        if (numero != "") {
            var arrayli = document.querySelector("#lis_tel").children;
            if (arrayli.length > 0) {
                if (arrayli[0].firstChild.nodeValue == "Sin registros") {
                    document.querySelector("#lis_tel").removeChild(arrayli[0]);
                }
                for (var i = 0; i < arrayli.length; i++) {
                    if (arrayli[i].firstChild.nodeValue.trim() == numero) {
                        document.getElementById("exist").innerHTML = "Este número ya existe";
                        return false;
                    }
                }
            }
            return true;
        } else {
            return false;
        }
    }
    //acElim elimina telefono de la lista
    function acElim(e) {
        let li = e.parentElement.parentElement;
        var ul = document.querySelector("#lis_tel");
        ul.removeChild(li);
        if (ul.children.length == 0) {
            ul.innerHTML = '<li class="list-group-item py-1">Sin registros</li>';
        }
    }
    //actTel actualizar telefono de la lista
    function actTel(e) {
        var li = e.parentElement.parentElement;
        li.setAttribute("data-mod", "true");
        document.querySelector("#add_val").value = li.firstChild.nodeValue;
        var btnAdd = document.querySelector("#bt_add_val");
        var btnMod = document.querySelector("#bt_act_val");
        btnAdd.setAttribute("hidden", "");
        btnMod.removeAttribute("hidden");
    }
    //En la siguente funcion de hace el envio de los datos al servidor via AJAX
    function GuardarForAjax(e) {
        e.preventDefault();
        var Telefonos = [];
        var arrayli = document.querySelector("#lis_tel").children;
        tam = arrayli.length;
        if (tam > 0) {
            for (var i = 0; i < tam; i++) {
                Telefonos.push(arrayli[i].firstChild.textContent);
            }
        }
        var xhttp = new XMLHttpRequest();
        let formData = new FormData(document.querySelector("#frmProveedor"));
        for (var i = 0; i < Telefonos.length; i++) {
            if (Telefonos[i] != "Sin registros") {
                formData.append("Telefonos[]", encodeURIComponent(Telefonos[i]));
            }
        }
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4) {
                if (this.status == 200) {
                    document.querySelector("#lis_tel").innerHTML =
                        '<li class="list-group-item py-1">Sin registros</li>';
                    document.getElementById("frmProveedor").reset();
                    var h = document.querySelector("#thead");
                    h.className = "toast-header bg-success";
                    var i = document.querySelector("#inoti");
                    i.className = "fas fa-check-circle text-success";
                    var t = document.querySelector("#tcuerpo");
                    t.innerHTML = "Registro Exitoso!"
                    var toast = document.getElementById("toastProveedor");
                    $('.toast').toast('show');
                } else {
                    var h = document.querySelector("#thead");
                    h.className = "toast-header bg-danger";
                    var i = document.querySelector("#inoti");
                    i.className = "fas fa-times-circle text-white";
                    var t = document.querySelector("#tcuerpo");
                    t.innerHTML = "Fallo en el Registro!!"
                    var toast = document.getElementById("toastProveedor");
                    $('.toast').toast('show');
                }
            }
        };
        // xhttp.open("POST", "RegistroProveedor", true);
        // xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        // var inputToken = document.getElementsByName("__RequestVerificationToken");
        // xhttp.setRequestHeader("RequestVerificationToken", inputToken[0].value);
        // xhttp.send(new URLSearchParams(formData));
        e.preventDefault();
        sgl.ajax2({
            url: "RegistroCompra?handler=RegistrarProveedor",
            method: "post",
            headers: {
                "RequestVerificationToken": token.value,
                "Content-type": "application/x-www-form-urlencoded"
            },
            done: function () {
                sgl.ajax2({
                    method: 'get',
                    url: 'RegistroCompra?handler=ListaProveedores',
                    done: function (texto) {
                        var lista = JSON.parse(texto);
                        var comboProveedores = document.querySelector('#comboProveedores');
                        comboProveedores.innerHTML = "";
                        lista.forEach(function (dato) {
                            var elem = document.createElement('option');
                            elem.innerHTML = dato.nombre;
                            elem.value = dato.id;
                            comboProveedores.appendChild(elem);
                        });
                    }
                });
            },
            data: FrmProveedor
        });
        $('#modalProveedor').modal('hide');
        sgl.clearForm(FrmProveedor);
    }
</script>
}