@page
@model Compras.RegistroCompraModel;
@using SGLibreria.Models;
@{
ViewData["Title"] = "Registro Compras";
}
<style>
    body {
        color: #555;
    }

    #nav-inferior .btn-dark:hover {
        background-color: #1597a8 !important;
    }

    #productos-seleccionados {
        right: 0;
        position: absolute;
        transition: max-width .4s;
    }

    #productos-seleccionados:hover {}
</style>

<form class="container-fluid ">

    <div class="user" method="post">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 border border-secondary-100 rounded ">
                <div class="row ">
                    <div class="col-lg-6">
                        <h5 class="text-lg-left p-2">Datos</h5>
                    </div>
                    <div class="col-lg-6 pt-2" style="align-content: flex-end;">
                        <div class="form-group pt-2">
                            <div class="btn btn-group">
                                    <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                    data-target="#modalProveedor">Registrar Proveedor</button>
                                <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                    data-target="#modalCategoria">Registrar Categoría</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row m-2 px-4 pt-2 rounded">
                    <label for="cfecha" class="col-lg-1 font-weight-bold col-form-label">Fecha</label>
                    <div class="col-lg-3 pt-1">
                        <input type="date" class="form-control form-control-user mb-2" id="cfecha">
                    </div>
                    <label for="cproveedor"
                        class="offset-lg-1 col-lg-1 col-form-label font-weight-bold ">Proveedor</label>
                    <div class="offset-lg-1 form-group col-lg-5 ml-5 pt-2" id="cproveedor">
                        <select>
                            <option disabled>-- Seleccione --</option>
                            <option value="">Libreria Miriam</option>
                        </select>
                    </div>
                </div>


            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-10 offset-lg-1 border border-secondary-100 rounded">
                <div class="row">
                    <div class="col-lg-3">
                        <h5 class="text-lg-left p-2">Detalles</h5>
                    </div>
                    <div class="col-lg-9 pt-2">
                        <div class="form-group pt-2">
                            <div class="btn btn-group">
                                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                    data-target="#modalProducto">Registrar Producto</button>
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                    data-target="#modalDocumento">Agregar Comprobante</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-sm table-hover bg-white" name="TablaVenta">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Precio Unitario</th>
                                    <th scope="col">Precio Total</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cuaderno Scribe</td>
                                    <td>30</td>
                                    <td>$ 1.00</td>
                                    <td>$ 3.00</td>
                                    <td><a href="#" class="text-danger font-weight-bold" title="Eliminar"><i
                                                class="fas fa-trash"></i></a>
                                        <a href="#" class="text-success font-weight-bold" title="Editar"><i
                                                class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Lapiz</td>
                                    <td>50</td>
                                    <td>$ 0.25</td>
                                    <td>$ 2.25</td>
                                    <td>
                                        <a href="#" class="text-danger font-weight-bold" title="Eliminar"><i
                                                class="fas fa-trash"></i></a>
                                        <a href="#" class="text-success font-weight-bold" title="Editar"><i
                                                class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4 class="font-weight-bold">Total</h4>
                                    </td>
                                    <td></td>
                                    <td class="font-weight-bold">$ 1.25</td>
                                    <td class="font-weight-bold">$ 5.25</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class=" offset-lg-5 col-lg-6">
                <div class="form-group pt-2">
                        <div class="btn btn-group">
                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal" id="btnGuardar"><i
                                    class="fas fa-save"> </i> Registrar</button>
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="btnCerrar"><i
                                    class="fas fa-times-circle"> </i> Cancelar</button>
                        </div>
                </div>
            </div>
        </div>


    </div>

</form>

@section modal {
<!-- The Modal -->
<div class="user" method="post">

    <div class="modal fade" id="modalProveedor" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title">Registro de Proveedor</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group " style="text-align: end; color: rgb(212, 20, 20)">
                        <label>Campos obligatorios *</label>
                    </div>

                    <div class="form-group row">
                        <label for="pnombre"
                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Nombre*</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control form-control-user mb-2" id="pnombre"
                                placeholder="Libreria Miriam">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdireccion"
                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Direccion*</label>
                        <div class="col-lg-7">
                            <textarea class="form-control" id="pdireccion" rows="3"
                                placeholder="Final Av. Crescencio Miranda"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ptelefono"
                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Telefono*</label>
                        <div class="col-lg-7">
                            <select id="dynamic">
                                <option disabled>-- Seleccione --</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-lg-4 col-lg-4">
                            <input type="text" class="form-control" id="add_val" name="add_val">
                        </div>
                        <div class="col-lg-3">
                            <button id="bt_add_val" type="button" class="btn btn-outline-success ml-2"><i
                                    class="fas fa-plus"></i> Agregar</button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pcorreo" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Correo
                            electronico</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="pcorreo" placeholder="example@gmail.com">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="penlace" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Enlace a red
                            social</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="penlace" placeholder="www.ejemplo.com">
                        </div>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                        <div class="btn btn-group">
                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal" id="btnGuardar"><i
                                    class="fas fa-save"> </i> Registrar</button>
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="btnCerrar"><i
                                    class="fas fa-times-circle"> </i> Cancelar</button>
                        </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- The Modal -->

<!-- The Modal -->
<div class="user" method="post">

    <div class="modal fade" id="modalCategoria" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title">Registro de Categoría</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group " style="text-align: end; color: rgb(212, 20, 20)">
                        <label>Campos obligatorios *</label>
                    </div>

                    <div class="form-group row">
                        <label for="ctnombre"
                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Nombre*</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control form-control-user mb-2" id="pnombre"
                                placeholder="Libros">
                        </div>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                        <div class="btn btn-group">
                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal" id="btnGuardar"><i
                                    class="fas fa-save"> </i> Registrar</button>
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="btnCerrar"><i
                                    class="fas fa-times-circle"> </i> Cancelar</button>
                        </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- The Modal -->

<!-- The Modal -->
<div class="user" method="post">

    <div class="modal fade" id="modalDocumento" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title">Registro de Documento</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <br>
                    <div class="form-group row">
                        <label for="docimagen" class="px-4 col-lg-4 col-form-label font-weight-bold">Seleccione
                            Documento</label>
                        <div class="col-lg-7">

                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="docimagen">
                                <label class="custom-file-label" name="docimagen" for="docimagen">Seleccione..</label>
                            </div>
                        </div>
                    </div>
                    ​
                    <div id="imagePreviewDocument">
                        <br>
                        <br>
                        <h5 class="text-lg-center">Vista Previa</h5>
                        <br>
                        <br>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                        <div class="btn btn-group">
                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal" id="btnGuardar"><i
                                    class="fas fa-save"> </i> Agregar</button>
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="btnCerrar"><i
                                    class="fas fa-times-circle"> </i> Cancelar</button>
                        </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- The Modal -->

<!-- Modal -->
<div class="modal fade" id="modalProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h4 class="modal-title" id="modalProducto">Registro de Producto</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="" id='productos'>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">Nuevo Producto </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">Producto Antiguo</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane  fade show mt-2 active" id="home" role="tabpanel"
                            aria-labelledby="home-tab">

                            <div class="form-group " style="text-align: end; color: rgb(212, 20, 20)">
                                <label>Campos obligatorios *</label>
                            </div>

                            <div class="form-group row">
                                <label for="pdnombre"
                                    class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Nombre*</label>
                                <div class="col-lg-7">
                                    <input type="text" class="form-control form-control-user mb-2" id="pdnombre"
                                        placeholder="Lapicero">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="pdmarca"
                                    class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Marca*</label>
                                <div class="col-lg-7">
                                    <input type="text" class="form-control form-control-user mb-2" id="pdmarca"
                                        placeholder="Facela">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="pdcodigo"
                                    class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Codigo</label>
                                <div class="col-lg-7">
                                    <input type="text" class="form-control" id="pdcodigo" placeholder="LF0001">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="pdcategoria"
                                    class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Categoría*</label>
                                <div class="col-lg-7">
                                    <select class="custom-select form-control" id="pdcategoria">
                                        <option disabled>-- Seleccione categoría --</option>
                                        <option value="1">Papeleria</option>
                                        <option value="2">Colores</option>
                                        <option value="3">Lapiceros</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="pddireccion"
                                    class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Descripción</label>
                                <div class="col-lg-7">
                                    <textarea class="form-control" id="pddireccion" rows="3"
                                        placeholder="Lapicedo color morado con bordes"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="pdstock"
                                    class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Existencia
                                    mínima*</label>
                                <div class="col-lg-7">
                                    <input type="number" class="form-control" id="pdstock" value="10">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="pdfecha" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Fecha
                                    vencimiento</label>
                                <div class="col-lg-7">
                                    <input type="date" class="form-control" id="pdfecha" placeholder="LF0001">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="pdimagen"
                                    class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Seleccione
                                    foto</label>
                                <div class="col-lg-7">

                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="pdimagen">
                                        <label class="custom-file-label" name="pdimagen"
                                            for="pdimagen">Seleccione..</label>
                                    </div>
                                </div>
                            </div>
                            ​
                            <div id="imagePreview">
                                <br>
                                <br>
                                <h5 class="text-lg-center">Vista Previa</h5>
                                <br>
                                <br>
                            </div>
                        </div><!-- Productos-->

                        <div class="tab-pane  fade  mt-2" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="false"
                                                aria-controls="collapseOne">
                                                Selecciona un producto
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="row col-lg-6">
                                                    <div class="input-group mb-3">
                                                        <input type="text" class="form-control"
                                                            placeholder="Nombre o código de producto"
                                                            aria-describedby="button-addon2">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary" type="button"><i
                                                                    class="fas fa-search"></i></button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12" id='productos'>
                                                    <div class="mt-2">
                                                        @{
                                                        Producto obj1;
                                                        int i,j;
                                                        }
                                                        @for ( i = 0; i < Model.Productos.Count-1; i++) { <div
                                                            class="card-group">
                                                            @for( j = 0;j < 5 && i<Model.Productos.Count; j++) {
                                                                obj1=Model.Productos[i+j]; <div class="card">
                                                                <div class="card-title mt-3 mx-2">
                                                                    <h5 class="m-0 p-0">@obj1.Nombre<span
                                                                            class="badge badge-primary">50</span></h5>
                                                                </div>
                                                                <div class="card-img-top">
                                                                    <img src="@obj1.IdImagenNavigation.Nombre"
                                                                        class="img-fluid" alt="...">
                                                                </div>
                                                                <div class="card-body">
                                                                    <p class="card-text"></p>
                                                                </div>
                                                                <div class="card-footer">
                                                                    <small
                                                                        class="font-weight-bold text-primary h6">Precio:
                                                                        $0.25</small>
                                                                </div>
                                                    </div>
                                                    }


                                                </div>
                                                i = i + j - 1;
                                                }

                                            </div><!-- .mt-2-->
                                        </div><!-- #productos -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group " style="text-align: end; color: rgb(212, 20, 20)">
                        <label>Campos obligatorios *</label>
                    </div>

                    <div class="form-group row">
                        <label for="pdnombre1"
                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Nombre</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control form-control-user mb-2" id="pdnombre1"
                                value="Lapicero" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdmarca1" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Marca</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control form-control-user mb-2" id="pdmarca1" value="Facela"
                                disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdcodigo1"
                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Codigo</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="pdcodigo1" value="-----" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdcategoria1"
                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Categoria</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="pdcategoria1" value="Papeleria" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pddireccion1"
                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Descripción</label>
                        <div class="col-lg-7">
                            <textarea class="form-control" id="pddireccion1" rows="3"
                                disabled>Lapicedo color morado con bordes</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdstock1" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Existencia
                            mínima</label>
                        <div class="col-lg-7">
                            <input type="number" class="form-control" id="pdstock1" value="10" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdfecha" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Fecha
                            vencimiento</label>
                        <div class="col-lg-7">
                            <input type="date" class="form-control" id="pdfecha" placeholder="LF0001">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdimagen" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Seleccione
                            foto</label>
                        <div class="col-lg-7">

                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="pdimagen">
                                <label class="custom-file-label" name="pdimagen" for="pdimagen">Seleccione..</label>
                            </div>
                        </div>
                    </div>
                    ​
                    <div id="imagePreview">
                        <br>
                        <br>
                        <h5 class="text-lg-center">Vista Previa</h5>
                        <br>
                        <br>
                    </div>

                </div><!-- Servicios -->
            </div>


        </div>

        <div class="modal-footer">
            <div class="btn btn-group">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" id="btnGuardar"><i
                        class="fas fa-save"> </i> Agregar</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="btnCerrar"><i
                        class="fas fa-times-circle"> </i> Cancelar</button>
            </div>
        </div>
    </div>
</div>
</div>
<!--    Inicia Modal Inventario-->

}

@section Scripts {
<link href="~/selectric/src/selectric.css" rel="stylesheet">
<script src="~/selectric/src/jquery.selectric.js"></script>
<script src="~/js/busqueda.js"></script>
<script>
    $(function () {
        $('select').selectric();
    });
    $('#dynamic').selectric();
    $('#bt_add_val').click(function () {
        // Store the value in a variable
        var value = $('#add_val').val();
        // Append to original select
        $('#dynamic').append('<option selected>' + (value ? value : 'Empty') + '</option>');
        // Refresh Selectric
        $('#dynamic').selectric('refresh');
    });
</script>


<script type="text/javascript">
    (function () {
        function filePreview(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').html("<img src='" + e.target.result +
                        "' class='rounded mx-auto d-block img-fluid' style='width:250px' />");
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $('#pdimagen').change(function () {
            filePreview(this);
        });
    })();
</script>

<script type="text/javascript">
    (function () {
        function filePreviewDocument(input) {
            if (input.files && input.files[0]) {
                var reade = new FileReader();
                reade.onload = function (e) {
                    $('#imagePreviewDocument').html("<img src='" + e.target.result +
                        "' class='rounded mx-auto d-block img-fluid' style='width:550px' />");
                }
                reade.readAsDataURL(input.files[0]);
            }
        }
        $('#docimagen').change(function () {
            filePreviewDocument(this);
        });
    })();
</script>
}