@page
@model Compras.RegistroCompraModel

@{
ViewData["Title"] = "Registro Compras";
}

<form class="container-fluid ">

    <div class="user" method="post">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 bg-gray-200 rounded">
                <div class="row">
                    <div class="col-lg-8">
                        <h5 class="text-lg-left p-2">Datos</h5>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group pt-2">
                            <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                data-target="#modalProveedor">Registrar Proveedor</button>
                            <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                data-target="#modalProducto">Registrar Producto</button>
                        </div>
                    </div>
                </div>
                <div class="form-group row bg-white m-2 px-4 pt-2 pb-2 rounded">
                    <label for="cfecha" class="col-lg-2 col-form-label">Fecha:</label>
                    <div class="col-lg-4">
                        <input type="date" class="form-control form-control-user mb-2" id="cfecha"
                            placeholder="Libreria Miriam">
                    </div>
                </div>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-10 offset-lg-1 bg-gray-200 rounded">
                <div class="row">
                    <div class="col-lg-10">
                        <h5 class="text-lg-left p-2">Detalles</h5>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group pt-2">
                            <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                data-target="#modalInventario">Añadir Producto</button>
                        </div>
                    </div>
                </div>
                <div class="form-group row bg-white m-2 px-4 pt-2 pb-2 rounded">
                    <label for="cfecha" class="col-lg-2 col-form-label">Fecha:</label>
                    <div class="col-lg-4">
                        <input type="date" class="form-control form-control-user mb-2" id="cfecha"
                            placeholder="Libreria Miriam">
                    </div>
                </div>

            </div>
        </div>


    </div>

</form>

@section modal {
<!-- The Modal -->
<div class="user" method="post">

    <div class="modal fade" id="modalProveedor" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Registro de Proveedor</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group " style="text-align: end; color: rgb(212, 20, 20)">
                        <label>Campos obligatorios *</label>
                    </div>

                    <div class="form-group row">
                        <label for="pnombre" class="offset-lg-1 col-lg-3 col-form-label">Nombre*:</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control form-control-user mb-2" id="pnombre"
                                placeholder="Libreria Miriam">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdireccion" class="offset-lg-1 col-lg-3 col-form-label">Direccion*:</label>
                        <div class="col-lg-7">
                            <textarea class="form-control" id="pdireccion" rows="3"
                                placeholder="Final Av. Crescencio Miranda"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pcorreo" class="offset-lg-1 col-lg-3 col-form-label">Correo electronico:</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="pcorreo" placeholder="example@gmail.com">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="penlace" class="offset-lg-1 col-lg-3 col-form-label">Enlace a red social:</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="penlace" placeholder="www.ejemplo.com">
                        </div>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" id="btnGuardar"><i
                            class="fas fa-save"> Guardar</i></button>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="btnCerrar"><i
                            class="fas fa-times-circle"> Cerrar</i></button>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- The Modal -->
<!-- Modal -->
<div class="modal fade" id="modalProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalProducto">Registro de Producto</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group " style="text-align: end; color: rgb(212, 20, 20)">
                    <label>Campos obligatorios *</label>
                </div>

                <div class="form-group row">
                    <label for="pdnombre" class="offset-lg-1 col-lg-3 col-form-label">Nombre*:</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control form-control-user mb-2" id="pdnombre"
                            placeholder="Lapicero">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pdmarca" class="offset-lg-1 col-lg-3 col-form-label">Marca*:</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control form-control-user mb-2" id="pdmarca"
                            placeholder="Facela">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pdcodigo" class="offset-lg-1 col-lg-3 col-form-label">Codigo:</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control" id="pdcodigo" placeholder="LF0001">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pdcategoria" class="offset-lg-1 col-lg-3 col-form-label">Categoría*:</label>
                    <div class="col-lg-7">
                        <select class="custom-select form-control" id="pdcategoria">
                            <option selected>-- Seleccione categoría --</option>
                            <option value="1">Papeleria</option>
                            <option value="2">Colores</option>
                            <option value="3">Lapiceros</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pddireccion" class="offset-lg-1 col-lg-3 col-form-label">Descripción*:</label>
                    <div class="col-lg-7">
                        <textarea class="form-control" id="pddireccion" rows="3"
                            placeholder="Lapicedo color morado con bordes"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pdstock" class="offset-lg-1 col-lg-3 col-form-label">Existencia mínima*:</label>
                    <div class="col-lg-7">
                        <input type="number" class="form-control" id="pdstock" value="10">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pdimagen" class="offset-lg-1 col-lg-3 col-form-label">Seleccione foto:</label>
                    <div class="col-lg-7">

                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="pdimagen">
                            <label class="custom-file-label" name="pdimagen" for="pdimagen">Seleccione..</label>
                        </div>
                    </div>
                </div>
                ​
                <div id="imagePreview">
                    <br>
                    <br>
                    <h5 class="text-lg-center">Vista Previa</h5>
                    <br>
                    <br>
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal" id="btnGuardar"><i
                        class="fas fa-save"> Guardar</i></button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="btnCerrar"><i
                        class="fas fa-times-circle"> Cerrar</i></button>
            </div>
        </div>
    </div>
</div>
<!--    Inicia Modal Inventario-->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" id="producto">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalInventario">Productos</h4>
                <div class="col-lg-6">
                    <button type="button" class="btn btn-outline-success"><i class="fas fa-cart-plus"></i>
                        Agregar</button>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="row pb-2">
                        <div class="search-box">
                            <input type="text" class="search-txt" placeholder="Buscar..." />
                            <a class="search-btn" href="#">
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row px-5 pt-5">
                        <div class="col">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1"><span
                                    class="badge badge-pill badge-primary">Lapices</span></label>
                        </div>
                        <div class="col">
                            <input type="checkbox" class="custom-control-input" id="customCheck2">
                            <label class="custom-control-label" for="customCheck2"><span
                                    class="badge badge-pill badge-secondary">Cuadernos</span></label>
                        </div>
                        <div class="col">
                            <input type="checkbox" class="custom-control-input" id="customCheck3">
                            <label class="custom-control-label" for="customCheck3"><span
                                    class="badge badge-pill badge-success">Libros</span></label>
                        </div>
                        <div class="col">
                            <input type="checkbox" class="custom-control-input" id="customCheck4">
                            <label class="custom-control-label" for="customCheck4"><span
                                    class="badge badge-pill badge-danger">Borradores</span></label>
                        </div>
                        <div class="col">
                            <input type="checkbox" class="custom-control-input" id="customCheck5">
                            <label class="custom-control-label" for="customCheck5"><span
                                    class="badge badge-pill badge-warning">Sacapuntas</span></label>
                        </div>
                        <div class="col">
                            <input type="checkbox" class="custom-control-input" id="customCheck6">
                            <label class="custom-control-label" for="customCheck6"><span
                                    class="badge badge-pill badge-info">Calculadoras</span></label>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col">
                            <div class="card" style="width: 15rem; height: 20rem;">
                                <img src="https://www.hoptoys.es/30680-tm_thickbox_default/lapices-de-colores-jumbo-grip-x-12.jpg"
                                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                                <div class="card-body">
                                    <span class="h5">Lapiz</span>
                                    <p class="card-text">Variedad de lapices muchos colores.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="def-number-input number-input safari_only">
                                        <button type="button"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                            class="minus"></button>
                                        <input class="quantity" min="0" name="quantity" value="1" type="number">
                                        <button type="button"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                            class="plus"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 15rem; height: 20rem;">
                                <img src="http://www.cotesudshop.com/wp-content/uploads/2019/04/cuaderno-l-rosa-1-1.jpg"
                                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                                <div class="card-body">
                                    <span class="h5">Cuaderno</span>
                                    <p class="card-text">Cuaderno L lila.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="def-number-input number-input safari_only">
                                        <button type="button"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                            class="minus"></button>
                                        <input class="quantity" min="0" name="quantity" value="1" type="number">
                                        <button type="button"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                            class="plus"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 15rem; height: 20rem;">
                                <img src="https://www.misutiles.com/4296-thickbox_default/sacapunta-1-cuchilla.jpg"
                                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                                <div class="card-body">
                                    <span class="h5">Saca Punta</span>
                                    <p class="card-text">Sacapunta color azul.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="def-number-input number-input safari_only">
                                        <button type="button"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                            class="minus"></button>
                                        <input class="quantity" min="0" name="quantity" value="1" type="number">
                                        <button type="button"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                            class="plus"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 15rem; height: 20rem;">
                                <img src="https://lapape.ec/wp-content/uploads/2018/06/BORRADOR-BLANCO-PZ20-PELIKAN.jpg"
                                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                                <div class="card-body">
                                    <span class="h5">Borrador</span>
                                    <p class="card-text">Borrador marca pelikan.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="def-number-input number-input safari_only">
                                        <button type="button"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                            class="minus"></button>
                                        <input class="quantity" min="0" name="quantity" value="1" type="number">
                                        <button type="button"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                            class="plus"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col">
                            <div class="card" style="width: 15rem; height: 20rem;">
                                <img src="https://www.hoptoys.es/30680-tm_thickbox_default/lapices-de-colores-jumbo-grip-x-12.jpg"
                                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                                <div class="card-body">
                                    <span class="h5">Lapiz</span>
                                    <p class="card-text">Variedad de lapices muchos colores.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="def-number-input number-input safari_only">
                                        <button type="button"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                            class="minus"></button>
                                        <input class="quantity" min="0" name="quantity" value="1" type="number">
                                        <button type="button"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                            class="plus"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 15rem; height: 20rem;">
                                <img src="http://www.cotesudshop.com/wp-content/uploads/2019/04/cuaderno-l-rosa-1-1.jpg"
                                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                                <div class="card-body">
                                    <span class="h5">Cuaderno</span>
                                    <p class="card-text">Cuaderno L lila.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="def-number-input number-input safari_only">
                                        <button type="button"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                            class="minus"></button>
                                        <input class="quantity" min="0" name="quantity" value="1" type="number">
                                        <button type="button"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                            class="plus"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 15rem; height: 20rem;">
                                <img src="https://www.misutiles.com/4296-thickbox_default/sacapunta-1-cuchilla.jpg"
                                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                                <div class="card-body">
                                    <span class="h5">Saca Punta</span>
                                    <p class="card-text">Sacapunta color azul.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="def-number-input number-input safari_only">
                                        <button type="button"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                            class="minus"></button>
                                        <input class="quantity" min="0" name="quantity" value="1" type="number">
                                        <button type="button"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                            class="plus"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 15rem; height: 20rem;">
                                <img src="https://lapape.ec/wp-content/uploads/2018/06/BORRADOR-BLANCO-PZ20-PELIKAN.jpg"
                                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                                <div class="card-body">
                                    <span class="h5">Borrador</span>
                                    <p class="card-text">Borrador marca pelikan.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="def-number-input number-input safari_only">
                                        <button type="button"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                            class="minus"></button>
                                        <input class="quantity" min="0" name="quantity" value="1" type="number">
                                        <button type="button"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                            class="plus"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col">
                            <div class="card" style="width: 15rem; height: 20rem;">
                                <img src="https://www.hoptoys.es/30680-tm_thickbox_default/lapices-de-colores-jumbo-grip-x-12.jpg"
                                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                                <div class="card-body">
                                    <span class="h5">Lapiz</span>
                                    <p class="card-text">Variedad de lapices muchos colores.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="def-number-input number-input safari_only">
                                        <button type="button"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                            class="minus"></button>
                                        <input class="quantity" min="0" name="quantity" value="1" type="number">
                                        <button type="button"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                            class="plus"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 15rem; height: 20rem;">
                                <img src="http://www.cotesudshop.com/wp-content/uploads/2019/04/cuaderno-l-rosa-1-1.jpg"
                                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                                <div class="card-body">
                                    <span class="h5">Cuaderno</span>
                                    <p class="card-text">Cuaderno L lila.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="def-number-input number-input safari_only">
                                        <button type="button"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                            class="minus"></button>
                                        <input class="quantity" min="0" name="quantity" value="1" type="number">
                                        <button type="button"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                            class="plus"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 15rem; height: 20rem;">
                                <img src="https://www.misutiles.com/4296-thickbox_default/sacapunta-1-cuchilla.jpg"
                                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                                <div class="card-body">
                                    <span class="h5">Saca Punta</span>
                                    <p class="card-text">Sacapunta color azul.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="def-number-input number-input safari_only">
                                        <button type="button"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                            class="minus"></button>
                                        <input class="quantity" min="0" name="quantity" value="1" type="number">
                                        <button type="button"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                            class="plus"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 15rem; height: 20rem;">
                                <img src="https://lapape.ec/wp-content/uploads/2018/06/BORRADOR-BLANCO-PZ20-PELIKAN.jpg"
                                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                                <div class="card-body">
                                    <span class="h5">Borrador</span>
                                    <p class="card-text">Borrador marca pelikan.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="def-number-input number-input safari_only">
                                        <button type="button"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                            class="minus"></button>
                                        <input class="quantity" min="0" name="quantity" value="1" type="number">
                                        <button type="button"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                            class="plus"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
}


@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    (function () {
        function filePreview(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').html("<img src='" + e.target.result +
                        "' class='rounded mx-auto d-block img-fluid' />");
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $('#pdimagen').change(function () {
            filePreview(this);
        });
    })();
</script>
}