@page
@model Compras.RegistroCompraModel;
@using SGLibreria.Models;
@{
ViewData["Title"] = "Registro Compras";
}
<style>
    body {
        color: #555;
    }

    #nav-inferior .btn-dark:hover {
        background-color: #1597a8 !important;
    }

    #productos-seleccionados {
        right: 0;
        position: absolute;
        transition: max-width .4s;
    }

    /*#productos-seleccionados:hover {}*/
</style>
<form method="post" style="display:none;" id="formToken"></form>
<form class="container-fluid" method="post" id="registroCompra">

    <div class="user">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 border border-secondary-100 rounded ">
                <div class="row ">
                    <div class="col-lg-5">
                        <h5 class="text-lg-left p-2">Datos</h5>
                    </div>
                    <div class="col-lg-7 pt-2" style="align-content: flex-end;">
                        <div class="form-group pt-2">
                            <div class="btn btn-group">
                                <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                    data-target="#modalProveedor">Registrar Proveedor</button>
                                <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                    data-target="#modalCategoria">Registrar Categoría</button>
                                <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                    data-target="#modalMarca">Registrar Marca</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row m-2 pt-2 rounded">
                    <label for="cfecha" class="col-lg-1 font-weight-bold col-form-label">Fecha</label>
                    <div class="col-lg-3 pt-1">
                        <input asp-for="Compra.Fecha" required type="Date" class="form-control form-control-user mb-2" id="cfecha">
                    </div>
                    <label for="cproveedor" class="col-lg-1 col-form-label font-weight-bold ">Proveedor</label>
                    <div class="pl-5 col-lg-6">
                        <select asp-for="Compra.IdProveedor" required class="custom-select form-control" id="comboProveedores">
                        </select>
                    </div>
                    <div class="form-group row">
                                    <label for="docimagen" class="px-4 col-lg-4 col-form-label font-weight-bold">Seleccione
                                            Comprobante</label>
                                    <div class="col-lg-7">
                                        <div class="custom-file">
                                            <input asp-for="Comprobante" type="file" class="custom-file-input" id="docComprobante" required>
                                            <label class="custom-file-label" for="docimagen">Seleccione..</label>
                                        </div>
                                    </div>
                    </div>
                </div>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-10 offset-lg-1 border border-secondary-100 rounded">
                <div id="alerta" style="display:none;" class="alert"></div>
                <div class="row">
                    <div class="col-lg-3">
                        <h5 class="text-lg-left p-2">Detalles</h5>
                    </div>
                    
                    <div class="col-lg-9 pt-2">
                        <div class="form-group pt-2">
                            <div class="btn btn-group">
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                    data-target="#modalProductoNuevo">Registrar Producto</button>
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                    data-target="#modalProductoAntiguo">Añadir Productos</button>

                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" id="compras">
                        <table id="tablaCompra" class="table table-sm table-hover bg-white">
                            <thead class="thead-dark">
                                <tr>
                                    <th width="25%" scope="col">Nombre</th>
                                    <th width="15%" scope="col">Cantidad</th>
                                    <th width="15%" scope="col">Precio Total</th>
                                    <th width="20%" scope="col">Precio Unitario</th>
                                    <th scope="col">Precio Venta</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="tablaCompraFilas">

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Total</th>
                                    <th id='sumaCantidad'></th>
                                    <th id='sumaPrecioCompra'></th>
                                    <th></th>
                                    <th id='sumaPrecioVenta'></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class=" offset-lg-5 col-lg-6">
                <div class="form-group pt-2">
                    <div class="btn btn-group">
                        <button type="submit" class="btn btn-outline-primary" id="btnRegistrarCompra"><i
                                class="fas fa-save"> </i> Registrar</button>
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                            id="btnCancelarCompra"><i class="fas fa-times-circle"> </i> Cancelar</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

</form>

@section modal {
<!-- The Modal -->
<div class="user">

    <div class="modal fade" id="modalProveedor" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form method="post" id="frmProveedor">
                    <!-- Modal Header -->
                    <div class="modal-header bg-primary text-white">
                        <h4 class="modal-title">Registro de Proveedor</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <br>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="offset-1">
                            <div class="form-group row">
                                <label asp-for="Proveedor.Nombre"
                                    class="col-sm-2 col-form-label font-weight-bold"></label>
                                <input type="text" class="col-sm-8 form-control" asp-for="Proveedor.Nombre"
                                    placeholder="Ingrese un nombre">
                                <span asp-validation-for="Proveedor.Nombre" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Proveedor.Correo"
                                    class="col-sm-2 col-form-label font-weight-bold"></label>
                                <input type="email" class="col-sm-8 form-control" asp-for="Proveedor.Correo"
                                    placeholder="ejemplo@dominio.com">
                                <span asp-validation-for="Proveedor.Correo" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Proveedor.Telefono"
                                    class="col-sm-2 col-form-label font-weight-bold"></label>
                                <input type="text" class="form-control col-sm-5" id="add_val" name="add_val">
                                <button id="bt_add_val" type="button" class="btn btn-outline-success"><i
                                        class="fas fa-plus"></i> Agregar</button>
                                <button id="bt_act_val" type="button" class="btn btn-outline-warning" hidden=""><i
                                        class="fas fa-plus"></i> Modificar</button>
                                <label class="ml-1 col-form-label text-danger" id="exist"></label>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-4 offset-2">
                                    <ul class="list-group list-group-flush" id="lis_tel">
                                        <li class="list-group-item py-1">Sin registros</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Proveedor.Direccion"
                                    class="col-sm-2 col-form-label font-weight-bold"></label>
                                <textarea class="col-sm-8 form-control" asp-for="Proveedor.Direccion"
                                    placeholder="4ta, avenida norte..." style="height: 150px;"></textarea>
                                <span asp-validation-for="Proveedor.Direccion" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Proveedor.Enlace"
                                    class="col-sm-2 col-form-label font-weight-bold"></label>
                                <input class="col-sm-8 form-control" asp-for="Proveedor.Enlace"
                                    placeholder="www.ejemplo.com">
                                <span asp-validation-for="Proveedor.Enlace" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <div class="btn btn-group">
                            <button type="submit" class="btn btn-outline-primary" id="registrar"><i
                                    class="fas fa-save"></i> Registrar</button>
                            <button type="button" id="btnCancelarProveedor" class="btn btn-outline-secondary"
                                data-dismiss="modal"><i class="fas fa-times-circle"></i> Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- The Modal -->
<div class="user">
    <div class="modal fade" id="modalCategoria" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form method="post" id="registrarCategoria">
                    <!-- Modal Header -->
                    <div class="modal-header bg-primary text-white">
                        <h4 class="modal-title">Registro de Categoría</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <br>
                        <div class="form-group row">
                            <label asp-for="Categoria.Nombre" for="ctnombre"
                                class="offset-lg-1 col-lg-2 col-form-label font-weight-bold"></label>
                            <div class="col-lg-7">
                                <input asp-for="Categoria.Nombre" class="form-control form-control-user mb-2"
                                    id="ctnombre" placeholder="Libros">
                            </div>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <div class="btn btn-group">
                            <button type="submit" class="btn btn-outline-primary" id="btnRegistrarCategoria"
                                asp-page-handler="AgregarCategoria"><i class="fas fa-save"> </i>
                                Registrar</button>
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                                id="btnCancelarCategoria"><i class="fas fa-times-circle"> </i> Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- The Modal -->
<!-- The Modal -->
<div class="user">

    <div class="modal fade" id="modalMarca" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title">Registro de Marca</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form method="post" id="registroMarca">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <br>
                        <div class="form-group row">
                            <label asp-for="Marca.Nombre"
                                class="offset-lg-1 col-lg-2 col-form-label font-weight-bold"></label>
                            <div class="col-lg-7">
                                <input asp-for="Marca.Nombre" class="form-control form-control-user mb-2"
                                    placeholder="Facela">
                            </div>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <div class="btn btn-group">
                            <button type="submit" class="btn btn-outline-primary" id="btnRegistrarMarca"><i
                                    class="fas fa-save"> </i> Registrar</button>
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                                id="btnCancelarMarca"><i class="fas fa-times-circle"> </i> Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- The Modal -->

<!-- The Modal -->
<div class="user">

    <div class="modal fade" id="modalDocumento" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title">Registro de Documento</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form id="documentoImagen">
                        <br>
                        
                        ​
                        <div id="imagePreviewDocument">
                            <br>
                            <br>
                            <h5 class="text-lg-center">Vista Previa</h5>
                            <br>
                            <br>
                        </div>
                    </form>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="btn btn-group">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal"
                            id="btnAgregarDocumento"><i class="fas fa-save"> </i> Agregar</button>
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                            id="btnCancelarDocumento"><i class="fas fa-times-circle"> </i> Cancelar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- The Modal -->
<!-- Modal -->

<div class="modal fade" id="modalProductoNuevo" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <form method='post' enctype="multipart/form-data" id="formProductoNuevo">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title">Registro de Producto</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                                            

                        <div class="form-group row">

                            <label for="pdnombre" asp-for="Producto.Nombre"
                                class="offset-lg-1 col-lg-3 col-form-label font-weight-bold"></label>
                            <div class="col-lg-7">
                                <input asp-for="Producto.Nombre" type="text" class="form-control form-control-user mb-2"
                                    id="pdnombre" placeholder="Lapicero" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="pdmarca" asp-for="Producto.IdMarca"
                                class="offset-lg-1 col-lg-3 col-form-label font-weight-bold"></label>
                            <div class="col-lg-7">
                                <select asp-for="Producto.IdMarca" class="custom-select form-control" id="comboMarcas">

                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="pdcodigo" asp-for="Producto.Codigo"
                                class="offset-lg-1 col-lg-3 col-form-label font-weight-bold"></label>
                            <div class="col-lg-7">
                                <input asp-for="Producto.Codigo" type="text" class="form-control" id="pdcodigo"
                                    placeholder="LF0001">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="pdcategoria" asp-for="Producto.IdCategoria"
                                class="offset-lg-1 col-lg-3 col-form-label font-weight-bold"></label>
                            <div class="col-lg-7">
                                <select asp-for="Producto.IdCategoria" class="custom-select form-control"
                                    id="comboCategorias" required>

                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="pddireccion" asp-for="Producto.Descripcion"
                                class="offset-lg-1 col-lg-3 col-form-label font-weight-bold"></label>
                            <div class="col-lg-7">
                                <textarea asp-for="Producto.Descripcion" class="form-control" id="pddireccion" rows="3"
                                    placeholder="Lapicedo color morado con bordes"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="pdstock" asp-for="Producto.StockMinimo"
                                class="offset-lg-1 col-lg-3 col-form-label font-weight-bold"></label>
                            <div class="col-lg-7">
                                <input asp-for="Producto.StockMinimo" type="number" class="form-control" id="pdstock"
                                    placeholder="10" required>
                            </div>
                        </div>
                        <div class="form-group row" style="display:none;">
                            <label for="pdfecha" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Fecha
                                vencimiento</label>
                            <div class="col-lg-7">
                                <input asp-for="Producto.FechaVencimiento" type="date" class="form-control" id="pdfecha"
                                    placeholder="LF0001">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="pdimagenNuevo"
                                class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Seleccione
                                foto</label>
                            <div class="col-lg-7">

                                <div class="custom-file">
                                    <input asp-for="Producto.Archivo" class="custom-file-input"
                                        id="pdimagenNuevo">
                                    <label class="custom-file-label" for="pdimagenNuevo">Seleccione..</label>
                                </div>
                            </div>
                        </div>
                        <div id="imagePreviewNuevo">
                            <br>
                            <br>
                            <h5 class="text-lg-center">Vista Previa</h5>
                            <br>
                            <br>
                        </div>
                </div>
                <div class="modal-footer">
                    <div class="btn btn-group">
                        <button type="submit" class="btn btn-outline-primary" id="btnAgregarProductoNuevo"><i
                                class="fas fa-save"> </i> Agregar</button>
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                            id="btnCancelarProductoNuevo"><i class="fas fa-times-circle"> </i> Cancelar</button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>


<div class="modal fade" id="modalProductoAntiguo" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <form method="post" enctype="multipart/form-data" id="formProductoAntiguo">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title">Elegir un Producto</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        Seleccionar un producto
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="row col-lg-6">
                                            <div class="input-group mb-3">
                                                <input type="text" id="NombreOCodigo" class="form-control"
                                                    placeholder="Nombre o código de producto">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary" type="button"><i
                                                            class="fas fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div id="alerta1" style="display:none;" class="alert"></div>
                                            <div id='productosAjax'>
                                                <br>
                                                <!-- Aqui iran los productos -->
                                            </div>
                                        </div><!-- #productos -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row pt-3">
                        <label for="pdnombre1"
                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Nombre</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control form-control-user mb-2" id="pdnombre1" value=""
                                disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdmarca1" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Marca</label>
                        <div class="col-lg-7">
                            <select asp-for="Producto.IdMarca" class="custom-select form-control" id="comboMarcas1" readonly required>

                          </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdcodigo1"
                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Código</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="pdcodigo1" value="" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdcategoria1"
                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Categoría</label>
                        <div class="col-lg-7">
                            <select asp-for="Producto.IdCategoria" class="custom-select form-control" id="comboCategorias1" required readonly>
                                
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pddescripcion1"
                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Descripción</label>
                        <div class="col-lg-7">
                            <textarea class="form-control" id="pddescripcion1" rows="3" disabled></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdstock1" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Existencia
                            mínima</label>
                        <div class="col-lg-7">
                            <input type="number" class="form-control" id="pdstock1" value="" disabled>
                        </div>
                    </div>
                    <div class="form-group row" style="display:none;">
                        <label for="pdfecha1" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Fecha
                            vencimiento</label>
                        <div class="col-lg-7">
                            <input type="date" class="form-control" id="pdfecha1" placeholder="LF0001">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdimagenAntiguo"
                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Seleccione
                            foto</label>
                        <div class="col-lg-7">
                            <div class="custom-file">
                                <input asp-for="Producto.Archivo" class="custom-file-input" id="pdimagenAntiguo">
                                <label class="custom-file-label" for="pdimagenAntiguo">Seleccione..</label>
                            </div>
                        </div>
                    </div> ​



                    <div id="vistaPrevia" class="col-lg-6 offset-lg-3">
                        <h5 id="textoVistaPrevia" class="text-center" style="display: block;">Vista previa</h5>
                        <img class="img-fluid" id="imagen" style="display: none;" src="">
                    </div>



                </div>
                <div class="modal-footer">
                    <div class="btn btn-group">
                        <button id='btnAgregarProductoAntiguo' type="button" class="btn btn-outline-primary" id="btnAgregarProductoAntiguo"><i
                                class="fas fa-save"> </i> Agregar</button>
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                            id="btnCancelarProductoAntiguo"><i class="fas fa-times-circle"> </i> Cerrar modal</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
}<!--modal section-->

<template id='plantilla-option'>
  <option value=''></option>
</template>
<!--
    Ojo con la propiedad name.
    Esto no será enviado tal cual se ve. 
    Será modificado en tiempo de ejecución
-->
<template id='fila-detalle'>
    <tr>
        <td>
            <a href='#' data-tipobtn='producto' class="font-weight-bold text-primary"></a>
            <input type='hidden' data-idproducto=''>
        </td>
        <td>
            <input class="form-control" data-cantidad=""value="0" minlength="1" type="number">
        </td>
        <td>
            <input class="form-control" data-preciocompra=""step="0.01" value="0.00" minlength="1" type="number">
        </td>
        <td>
            <label class="form-control" data-unitario="" minlength="1"></label>
         </td>       
        <td>
            <input class="form-control" data-precioVenta="" step="0.01" value="0.00" minlength="1" type="number">
        </td>
        <td>
            <div class="pt-2" style="align-content: center;">
                <a href="#" data-tipobtn="eliminar" class="text-danger font-weight-bold" title="Eliminar"><i class="fas fa-trash"></i></a>
            </div>
        </td>
    </tr>
</template>

@section Scripts {

<script src="~/js/sgl.js"></script>
<script src='/js/compras.js'></script>
<script>

  var NombreOCodigo = sgl.q('#NombreOCodigo');
  NombreOCodigo.oninput = function (e) {
    buscarProducto(this.value);
  };

  function buscarProducto(NombreCodigo, IdCategoria) {
    params = "";
    if (NombreCodigo) {
      params += "NombreOCodigo=" + NombreCodigo;
    }
    if (IdCategoria) {
      params += "&IdCategoria=" + IdCategoria;
    }
    sgl.get('/Productos/ListaProductoAjaxTodo', function (data) {
      var divProductos = sgl.q('#productosAjax');
      divProductos.innerHTML = data;
    }, params);
  }



  var divProductos = sgl.q('#productosAjax');
  //clic la imagen del card activa un elemento
  divProductos.addEventListener('click', function marcarProducto(evento) {
    var currentTarget = evento.currentTarget;
    var target = evento.target;
    var card;
    var cardFooter;
    if (target.matches('img')) {
      card = target.parentNode;
      cardFooter = card.querySelector('.card-footer');
      if (card.getAttribute('data-seleccionado') == 'true') {
        cardFooter.classList.remove('bg-primary');
        cardFooter.classList.remove('text-white');
        cardFooter.classList.add('text-primary');
        card.setAttribute('data-seleccionado', false);
      } else {
        cardFooter.classList.add('bg-primary');
        cardFooter.classList.add('text-white');
        cardFooter.classList.remove('text-primary');
        card.setAttribute('data-seleccionado', true);
        var idproducto = card.getAttribute('data-id');
        var inputToken = sgl.q('#formToken '+sgl.inputToken);
        var headers = { [sgl.headerToken]: inputToken.value };
        sgl.ajax2({
        method: 'post',
        url: '/Productos/ListaProducto?handler=Producto',
        headers: headers,
        data: { 'idproducto': idproducto },
        done: function (data) {
          var producto = JSON.parse(data);
          console.log('producto: ', idproducto);
          console.log(data);
          sgl.ajax2({
            method: 'post',
            url: '/Productos/ListaProducto?handler=CategoriasMarcas',
            headers: headers,
            done: function (data) {
              var obj = JSON.parse(data);
              sgl.setDataSet(card, producto);
              var datos = sgl.getDataSet(card);
              console.log(datos);
              //console.log(producto['idMarca'], producto['idCategoria'], producto);
              //console.log(obj);
              $('#modalProducto').modal('show');

              
              var comboCategorias = sgl.q('#comboCategorias1'), 
                  comboMarcas = sgl.q('#comboMarcas1');

              comboCategorias.innerHTML='';
              comboMarcas.innerHTML='';
              sgl.llenarCombo(
                sgl.q('#plantilla-option'), 
                comboCategorias, 
                obj.categorias, 
                'nombre', 'id'
              );
              
              sgl.llenarCombo(
                sgl.q('#plantilla-option'), 
                comboMarcas, 
                obj.marcas, 
                'nombre', 'id'
              );

              llenarFormProducto(producto);
              
            },
            fail: function () {console.log(this);}
          });
        },
        fail: function () {console.log(this)}
      });

        /*
        var ocultarCollapseID = window.setTimeout(function () {
            $('#collapseOne').collapse('hide');
        }, 100);
        */
      }
    }
  });

  function llenarFormProducto(producto) {

   // sgl.q('#pdid1').value = producto.id;
    sgl.q('#pdnombre1').value = producto.nombre;
    sgl.q('#comboMarcas1').value = producto.idMarca;
    sgl.q('#comboCategorias1').value = producto.idCategoria;
    sgl.q('#pdcodigo1').value = producto.codigo;
    sgl.q('#pddescripcion1').value = producto.descripcion;
    sgl.q('#pdstock1').value = producto.stockMinimo;
    if(producto.fechaVencimiento) {
        sgl.q('#pdfecha1').value = producto.fechaVencimiento;
    }
    var alerta = sgl.q('#alerta');
    alerta.style.display = 'none';
    alerta.innerHTML = '';
    var imagen = sgl.q('#imagen');
    var textoVistaPrevia = sgl.q('#textoVistaPrevia');
    var path = '';
    if (producto.idImagenNavigation && producto.idImagenNavigation.idRutaNavigation) {
      path = '/' + producto.idImagenNavigation.idRutaNavigation.nombre;
      path += '/' + producto.idImagenNavigation.nombre;
      textoVistaPrevia.style.display='none';
      imagen.style.display='block';
    } else {
      textoVistaPrevia.style.display='block';
      textoVistaPrevia.innerHTML = 'Vista previa';
      imagen.style.display='none';
    }
    imagen.src = path;

    console.log(producto);
    //
    // codigo para la imagen aquí
    //

  }

  var btnAgregarProductoAntiguo = sgl.q('#btnAgregarProductoAntiguo');
  btnAgregarProductoAntiguo.onclick = function agregarProductosAntiguos() {
      var productosAjax = sgl.q('#productosAjax');
      var sel = productosAjax.querySelectorAll('div[data-seleccionado=true]');
      var productos = [];
      sel.forEach(function sacarAtributos(elem) {
          var p = sgl.getDataSet(elem);
          productos.push(p);
      });
      productos.forEach(function (elem) {
          agregarDetalle(elem);
      });
      var alerta1 = sgl.q('#alerta1');
      alerta1.className = "alert alert-info";
      alerta1.style.display = 'block';
      alerta1.innerHTML = "Ha agregado "+productos.length+" detalles. Cierre el modal para visualizarlos";
      cargarProductosAjax();

      var timeoutID = window.setTimeout(function () {
          alerta1.className = 'alert';
          alerta1.style.display = 'none';
      }, 2500);

      console.log(sel, productos);
  };

    //Funcion para agregar productos
    var FrmProductoNuevo = sgl.q("#formProductoNuevo");
    var token = sgl.q('#formToken input[name=__RequestVerificationToken]');
    FrmProductoNuevo.onsubmit = function (e) {
        e.preventDefault();
        console.log(this);
        sgl.ajax2(
            { url: "RegistroCompra?handler=ProductoNuevo", 
      method: "POST", 
      data: new FormData(this), 
      done: function(data) {
        var obj = JSON.parse(data);
        var alerta = sgl.q('#alerta');
        $('#modalProductoNuevo').modal('hide');
        alerta.style.display= 'block';
        if(obj.error) {
          alerta.className = 'alert alert-danger';
          alerta.innerHTML = obj.error;
        } else if(obj.mensaje) {
          alerta.className = 'alert alert-primary';
          alerta.innerHTML = obj.mensaje;
          agregarDetalle(obj.producto);
        }
        


        //cerrar la alerta automaticamente
        var timeoutID = window.setTimeout(function () {
            alerta.className = 'alert';
            alerta.style.display = 'none';
        }, 3000);
        console.log('datos: ');
        console.log(data);
      },
      fail: function() {
        console.log('error: ');
        console.log(this);
      }
      });


        //$('#modalProductoNuevo').modal('hide'); 
    }; //form submit event
    //SCRIPTS PARA LIMPIAR LOS FORMULARIOS DE LA COMRPRA
    //var btnCancelar = sgl.q('#btnCancelarProducto');
    var FrmCategoria = sgl.q("#registrarCategoria");
    var token = sgl.q("#formToken input[name=__RequestVerificationToken]");
    FrmCategoria.addEventListener("submit", function (e) {
        e.preventDefault();
        sgl.ajax2({
            url: "RegistroCompra?handler=AgregarCategoria",
            method: "post",
            headers: {
                [sgl.headerToken]: token.value,
            },
            done: cargarListaCategorias,
            data: this
        });
        $('#modalCategoria').modal('hide');
        sgl.clearForm(this);
    });

function cargarListaCategorias() {
    sgl.ajax2({
        method: 'get',
        url: 'RegistroCompra?handler=ListaCategorias',
        done: function (texto) {
            var lista = JSON.parse(texto);
            var comboCategorias = sgl.q(
                '#comboCategorias');
            comboCategorias.innerHTML = "";
            lista.forEach(function (dato) {
                var elem = document.createElement('option');
                elem.innerHTML = dato.nombre;
                elem.value = dato.id;
                comboCategorias.appendChild(elem);
            });
        },
        fail: function () {

        }
    });
}
function cargarListaMarcas() {
    sgl.ajax2({
        method: 'get',
        url: 'RegistroCompra?handler=ListaMarcas',
        headers: {
            [sgl.headerToken]: token.value,
        },
        done: function (texto) {
            var lista = JSON.parse(texto);
            var comboMarcas = sgl.q('#comboMarcas');
            comboMarcas.innerHTML = "";
            lista.forEach(function (dato) {
                var elem = document.createElement('option');
                elem.innerHTML = dato.nombre;
                elem.value = dato.id;
                comboMarcas.appendChild(elem);
            });
        },
    });
}
    var FrmMarca = sgl.q("#registroMarca");
    var token = sgl.q('#formToken input[name=__RequestVerificationToken]');
    FrmMarca.addEventListener("submit", function (e) {
        //Evita la accion por defecto que en nuestro caso seria enviar el formulario
        e.preventDefault();
        sgl.ajax2({
            method: "post",
            url: "RegistroCompra?handler=AgregarMarca",
            headers: { 
                [sgl.headerToken]: token.value,
            },
            done: cargarListaMarcas,
            data: FrmMarca
        });
        $('#modalMarca').modal('hide');
        sgl.clearForm(FrmMarca);
    });
    var btnCancelarProductoNuevo = sgl.q('#btnCancelarProductoNuevo');
    var limpiarProductoNuevo = function (e) {
        sgl.clearForm(sgl.q('#formProductoNuevo'));
        var btnLimpiar1 = sgl.q('#imagePreviewNuevo');
        btnLimpiar1.innerHTML = '<br> <br> <h5 class="text-lg-center">Vista Previa</h5> <br> <br>';
    }
    btnCancelarProductoNuevo.addEventListener('click', limpiarProductoNuevo);
    var btnCancelarProductoAntiguo = sgl.q('#btnCancelarProductoAntiguo');
    var limpiarProductoAntiguo = function (e) {
        sgl.clearForm(sgl.q('#formProductoAntiguo'));
        var btnLimpiar1 = sgl.q('#imagePreviewAntiguo');
        //btnLimpiar1.innerHTML = '<br> <br> <h5 class="text-lg-center">Vista Previa</h5> <br> <br>';
    }
    btnCancelarProductoAntiguo.addEventListener('click', limpiarProductoAntiguo);

    var btnCancelarProveedor = sgl.q('#btnCancelarProveedor');
    var limpiarProveedor = function (e) {
        sgl.clearForm(sgl.q('#registroProveedor'));
    }
    btnCancelarProveedor.addEventListener('click', limpiarProveedor);

    var btnCancelarCategoria = sgl.q('#btnCancelarCategoria');
    var limpiarCategoria = function (e) {
        sgl.clearForm(sgl.q('#registroCategoria'));
    }
    btnCancelarCategoria.addEventListener('click', limpiarCategoria);

    var btnCancelarCompra = sgl.q('#btnCancelarCompra');
    var limpiarCompra = function (e) {
        var btnLimpiar = sgl.q('#tablaCompraFilas');
        btnLimpiar.innerHTML = "";
        var forms = ['#registroCompra', '#registroProductos', '#registroCategoria', 
                    '#registroProveedor', '#documentoImagen'];
        forms.forEach(function () {
            sgl.clearForm(sgl.q(this));
        });
        var btnLimpiar1 = sgl.q('#imagePreviewDocument');
        btnLimpiar1.innerHTML = '<br> <br> <h5 class="text-lg-center">Vista Previa</h5> <br> <br>';
        var btnLimpiar2 = sgl.q('#imagePreviewNuevo');
        btnLimpiar2.innerHTML = '<br> <br> <h5 class="text-lg-center">Vista Previa</h5> <br> <br>';
        var btnLimpiar3 = sgl.q('#imagePreviewAntiguo');
        btnLimpiar3.innerHTML = '<br> <br> <h5 class="text-lg-center">Vista Previa</h5> <br> <br>';
    }
    btnCancelarCompra.addEventListener('click', limpiarCompra);
    var btnCancelarDocumento = document.getElementById('btnCancelarDocumento');
    var limpiarDocumento = function (e) {
        sgl.clearForm(sgl.q('#documentoImagen'));
        var btnLimpiar = document.getElementById('imagePreviewDocument');
        btnLimpiar.innerHTML = '<br> <br> <h5 class="text-lg-center">Vista Previa</h5> <br> <br>';
    }
    btnCancelarDocumento.addEventListener('click', limpiarDocumento);
    ////funcion Ajax para recuperar productos miante un Form
    $('#modalProductoAntiguo').on('shown.bs.modal', function (e) {
        var prodAjax = document.getElementById("productosAjax");
        cargarProductosAjax();
    })
    function cargarProductosAjax() {
        sgl.ajax('get', '/Productos/ListaProductoAjaxTodo', function (data) {
            var elem = document.getElementById('productosAjax');
            elem.innerHTML = data;
            var input = sgl.q('#NombreOCodigo');
            input.focus();
            console.log(input);
            console.log(input.value);
            
        });
    }
    //funcion para agregar el producto a la tabla
</script>

<script>
    /**
      * Registro de Proveedor
    **/
    //Funcion para reuperar las categorias al combo selectric
    sgl.ajax2({
        method: 'get',
        url: 'RegistroCompra?handler=ListaCategorias',
        done: function (texto) {
            var lista = JSON.parse(texto);
            var comboCategorias = sgl.q('#comboCategorias');
            lista.forEach(function (dato) {
                var elem = document.createElement('option');
                elem.innerHTML = dato.nombre;
                elem.value = dato.id;
                comboCategorias.appendChild(elem);
            });
        },
        fail: function () {

        }
    });
    //Funcion para llenar combo proveedores
    sgl.ajax2({
        method: 'get',
        url: 'RegistroCompra?handler=ListaProveedores',
        done: function (texto) {
            var lista = JSON.parse(texto);
            var comboProveedores = sgl.q('#comboProveedores');
            lista.forEach(function (dato) {
                var elem = document.createElement('option');
                elem.innerHTML = dato.nombre;
                elem.value = dato.id;
                comboProveedores.appendChild(elem);
            });
        },
        fail: function () {

        }
    });

    sgl.ajax2({
        method: 'get',
        url: 'RegistroCompra?handler=ListaMarcas',
        done: function (texto) {
            var lista = JSON.parse(texto);
            var comboMarcas = sgl.q('#comboMarcas');
            lista.forEach(function (dato) {
                var elem = document.createElement('option');
                elem.innerHTML = dato.nombre;
                elem.value = dato.id;
                comboMarcas.appendChild(elem);
            });
        },
        fail: function () {}
    });
</script>
<script type="text/javascript">
    /**
    * vista previa de imagen
    **/

    (function () {
        function filePreview(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreviewNuevo').html("<img src='" + e.target.result +
                        "' class='rounded mx-auto d-block img-fluid' style='width:250' />");
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $('#pdimagenNuevo').change(function () {
            filePreview(this);
        });
    })();

    (function () {
        function filePreview(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreviewAntiguo').html("<img src='" + e.target.result +
                        "' class='rounded mx-auto d-block img-fluid' style='width:250' />");
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $('#pdimagenAntiguo').change(function () {
            filePreview(this);
        });
    })();

    (function () {
        function filePreviewDocument(input) {
            if (input.files && input.files[0]) {
                var reade = new FileReader();
                reade.onload = function (e) {
                    $('#imagePreviewDocument').html("<img src='" + e.target.result +
                        "' class='rounded mx-auto d-block img-fluid' style='width:550' />");
                }
                reade.readAsDataURL(input.files[0]);
            }
        }
        $('#docimagen').change(function () {
            filePreviewDocument(this);
        });
    })();
</script>

<script>
    /**
      * Registro de Proveedor
    **/
    //Declaracion y obtencion de variables
    var list = sgl.q("#lis_tel");
    var BtnRegistrar = sgl.q("#frmProveedor");
    var token = sgl.q("#formToken input[name=__RequestVerificationToken]");
    var FrmProveedor = sgl.q("#frmProveedor");
    var BtnAddTel = sgl.q("#bt_add_val");
    var btnMod = sgl.q("#bt_act_val");
    //Oyentes de eventos
    btnMod.addEventListener("click", (e) => {
        var input = sgl.q("#add_val");
        var li = sgl.q("li[data-mod=true]");
        if (input.value != "") {
            var boton = e.currentTarget;
            if (ValidarUl(input.value.trim())) {
                li.innerHTML = input.value +
                    '<span class="pl-2"><i class="mano fas fa-trash text-danger"></i></span><span class="pl-2"><i class="mano fas fa-pencil-alt text-warning"></i></span>';
                input.value = '';
                document.getElementById("exist").innerHTML = "";
                sgl.q("#bt_add_val").removeAttribute("hidden");
                boton.setAttribute("hidden", "");
                li.setAttribute("data-mod", "false");
            }
        }
    });
    list.addEventListener("click", (e) => {
        element = e.target;
        if (element.classList.contains("fa-trash")) {
            acElim(element);
        } else {
            if (element.classList.contains("fa-pencil-alt")) {
                actTel(element);
            }
        }
    });
    BtnAddTel.addEventListener("click", () => {
        var input = document.getElementById("add_val");
        if (ValidarUl(input.value.trim())) {
            document.getElementById("exist").innerHTML = "";
            var li = document.createElement("li");
            let list = sgl.q("#lis_tel");
            li.setAttribute("data-mod", "false");
            li.setAttribute("id", "li" + "");
            li.setAttribute("class", "list-group-item py-1");
            li.innerHTML = input.value +
                '<span class="pl-2"><i class="mano fas fa-trash text-danger"></i></span><span class="pl-2"><i class="mano fas fa-pencil-alt text-warning"></i></span>';
            list.appendChild(li);
            input.value = "";
        }
    });
    BtnRegistrar.addEventListener("submit", GuardarForAjax);
    //La siguiente funcion verifica que el numero ingreso no este vacio y ademas no exista en la lista devuelve un booleano
    function ValidarUl(numero) {
        if (numero != "") {
            var arrayli = sgl.q("#lis_tel").children;
            if (arrayli.length > 0) {
                if (arrayli[0].firstChild.nodeValue == "Sin registros") {
                    sgl.q("#lis_tel").removeChild(arrayli[0]);
                }
                for (var i = 0; i < arrayli.length; i++) {
                    if (arrayli[i].firstChild.nodeValue.trim() == numero) {
                        document.getElementById("exist").innerHTML = "Este número ya existe";
                        return false;
                    }
                }
            }
            return true;
        } else {
            return false;
        }
    }
    //acElim elimina telefono de la lista
    function acElim(e) {
        let li = e.parentElement.parentElement;
        var ul = sgl.q("#lis_tel");
        ul.removeChild(li);
        if (ul.children.length == 0) {
            ul.innerHTML = '<li class="list-group-item py-1">Sin registros</li>';
        }
    }
    //actTel actualizar telefono de la lista
    function actTel(e) {
        var li = e.parentElement.parentElement;
        li.setAttribute("data-mod", "true");
        sgl.q("#add_val").value = li.firstChild.nodeValue;
        var btnAdd = sgl.q("#bt_add_val");
        var btnMod = sgl.q("#bt_act_val");
        btnAdd.setAttribute("hidden", "");
        btnMod.removeAttribute("hidden");
    }
    //En la siguente funcion de hace el envio de los datos al servidor via AJAX
    function GuardarForAjax(e) {
        e.preventDefault();
        var Telefonos = [];
        var arrayli = sgl.q("#lis_tel").children;
        tam = arrayli.length;
        if (tam > 0) {
            for (var i = 0; i < tam; i++) {
                Telefonos.push(arrayli[i].firstChild.textContent);
            }
        }
        var xhttp = new XMLHttpRequest();
        let formData = new FormData(sgl.q("#frmProveedor"));
        for (var i = 0; i < Telefonos.length; i++) {
            if (Telefonos[i] != "Sin registros") {
                formData.append("Telefonos[]", encodeURIComponent(Telefonos[i]));
            }
        }
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4) {
                if (this.status == 200) {
                    sgl.q("#lis_tel").innerHTML =
                        '<li class="list-group-item py-1">Sin registros</li>';
                    document.getElementById("frmProveedor").reset();
                    $('#modalProveedor').modal('hide');
                    sgl.clearForm(FrmProveedor);
                    sgl.ajax2({
                        method: 'get',
                        url: 'RegistroCompra?handler=ListaProveedores',
                        done: function (texto) {
                            var lista = JSON.parse(texto);
                            var comboProveedores = sgl.q('#comboProveedores');
                            comboProveedores.innerHTML = "";
                            lista.forEach(function (dato) {
                                var elem = document.createElement('option');
                                elem.innerHTML = dato.nombre;
                                elem.value = dato.id;
                                comboProveedores.appendChild(elem);
                            });
                        },
                        fail: function () {

                        }
                    });
                    /*var h = sgl.q("#thead");
                    h.className = "toast-header bg-success";
                    var i = sgl.q("#inoti");
                    i.className = "fas fa-check-circle text-success";
                    var t = sgl.q("#tcuerpo");
                    t.innerHTML = "Registro Exitoso!"
                    var toast = document.getElementById("toastProveedor");
                    $('.toast').toast('show');*/
                } else {
                    /*var h = sgl.q("#thead");
                    h.className = "toast-header bg-danger";
                    var i = sgl.q("#inoti");
                    i.className = "fas fa-times-circle text-white";
                    var t = sgl.q("#tcuerpo");
                    t.innerHTML = "Fallo en el Registro!!"
                    var toast = document.getElementById("toastProveedor");
                    $('.toast').toast('show');*/
                }
            }
        };
        xhttp.open("POST", "../Proveedores/RegistroProveedor", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var inputToken = document.getElementsByName("__RequestVerificationToken");
        xhttp.setRequestHeader("RequestVerificationToken", inputToken[0].value);
        xhttp.send(new URLSearchParams(formData));
        /*e.preventDefault();
        sgl.ajax2({
            url: "RegistroCompra?handler=RegistrarProveedor",
            method: "post",
            headers: {
                "RequestVerificationToken": token.value,
                "Content-type": "application/x-www-form-urlencoded"
            },
            done: function () {
                sgl.ajax2({
                    method: 'get',
                    url: 'RegistroCompra?handler=ListaProveedores',
                    done: function (texto) {
                        var lista = JSON.parse(texto);
                        var comboProveedores = sgl.q('#comboProveedores');
                        comboProveedores.innerHTML = "";
                        lista.forEach(function (dato) {
                            var elem = document.createElement('option');
                            elem.innerHTML = dato.nombre;
                            elem.value = dato.id;
                            comboProveedores.appendChild(elem);
                        });
                    }
                });
            },
            data: FrmProveedor
        });*/
    }
</script>
}