@page
@model Compras.RegistroCompraModel

@{
    ViewData["Title"] = "Registro Compras";
}

<form class="container-fluid ">

    <div class="user" method="post">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 bg-gray-200 rounded">
                <div class="row">
                    <div class="col-lg-7">
                        <h5 class="text-lg-left p-2">Datos</h5>
                    </div>
                    <div class="col-lg-5" style="align-content: flex-end;">
                        <div class="form-group pt-2">
                            <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                data-target="#modalProveedor">Registrar Proveedor</button>
                            <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                data-target="#modalProducto">Registrar Producto</button>
                        </div>
                    </div>
                </div>
                <div class="form-group row bg-white m-2 px-4 pt-2 pb-2 rounded">
                    <label for="cfecha" class="col-lg-1 font-weight-bold col-form-label">Fecha:</label>
                    <div class="col-lg-3">
                        <input type="date" class="form-control form-control-user mb-2" id="cfecha">
                    </div>
                    <label for="cproveedor" class="offset-lg-1 col-lg-1 col-form-label font-weight-bold ">Proveedor:</label>
                    <div class="offset-lg-1 form-group col-lg-5 ml-5" id="cproveedor">
                        <select >
                            <option disabled>-- Seleccione --</option>
                            <option value="">Libreria Miriam</option>
                        </select>
                    </div>
                </div>


            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-10 offset-lg-1 bg-gray-200 rounded">
                <div class="row">
                    <div class="col-lg-9">
                        <h5 class="text-lg-left p-2">Detalles</h5>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group pt-2">
                            <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                data-target="#producto" name="AgregarProducto">Añadir Producto</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-sm table-hover bg-white" name="TablaVenta">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Precio Unitario</th>
                                    <th scope="col">Precio Total</th>
                                    <th scope="col">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cuaderno Scribe</td>
                                    <td>
                                        <div class="def-number-input number-input safari_only">
                                            <button type="button"
                                                onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                                class="minus"></button>
                                            <input class="quantity" min="0" name="quantity" value="3" type="number">
                                            <button type="button"
                                                onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                class="plus"></button>
                                        </div>
                                    </td>
                                    <td>$ 1.00</td>
                                    <td>$ 3.00</td>
                                    <td ><a href="#" class="text-danger font-weight-bold" title="Eliminar"><i class="fas fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Lapiz</td>
                                    <td>
                                        <div class="def-number-input number-input safari_only">
                                            <button type="button"
                                                onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                                class="minus"></button>
                                            <input class="quantity" min="0" name="quantity" value="10" type="number">
                                            <button type="button"
                                                onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                class="plus"></button>
                                        </div>
                                    </td>
                                    <td>$ 0.25</td>
                                    <td>$ 2.25</td>
                                    <td ><a href="#" class="text-danger font-weight-bold" title="Eliminar"><i class="fas fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4 class="font-weight-bold">Total</h4>
                                    </td>
                                    <td></td>
                                    <td class="font-weight-bold">$ 1.25</td>
                                    <td class="font-weight-bold">$ 5.25</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class=" offset-lg-5 col-lg-6">
                <div class="form-group pt-2">
                    <button type="button" class="btn btn-outline-primary"><i class="fas fa-save"> Registrar</i></button>
                    <button type="button" class="btn btn-outline-secondary"><i class="fas fa-times-circle">
                            Cerrar</i></button>
                </div>
            </div>
        </div>


    </div>

</form>

@section modal {
<!-- The Modal -->
<div class="user" method="post">

    <div class="modal fade" id="modalProveedor" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Registro de Proveedor</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group " style="text-align: end; color: rgb(212, 20, 20)">
                        <label>Campos obligatorios *</label>
                    </div>

                    <div class="form-group row">
                        <label for="pnombre"
                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Nombre*:</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control form-control-user mb-2" id="pnombre"
                                placeholder="Libreria Miriam">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdireccion"
                            class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Direccion*:</label>
                        <div class="col-lg-7">
                            <textarea class="form-control" id="pdireccion" rows="3"
                                placeholder="Final Av. Crescencio Miranda"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ptelefono" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Telefono*:</label>
                        <div class="col-lg-7">
                            <select id="dynamic">
                                <option disabled>-- Seleccione --</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-lg-4 col-lg-4">
                            <input type="text" class="form-control" id="add_val" name="add_val">
                        </div>
                        <div class="col-lg-3">
                            <button id="bt_add_val" type="button" class="btn btn-outline-success ml-2"><i class="fas fa-plus"></i> Agregar</button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pcorreo" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Correo
                            electronico:</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="pcorreo" placeholder="example@gmail.com">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="penlace" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Enlace a red
                            social:</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="penlace" placeholder="www.ejemplo.com">
                        </div>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" id="btnGuardar"><i
                            class="fas fa-save"> Guardar</i></button>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="btnCerrar"><i
                            class="fas fa-times-circle"> Cerrar</i></button>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- The Modal -->
<!-- Modal -->
<div class="modal fade" id="modalProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalProducto">Registro de Producto</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group " style="text-align: end; color: rgb(212, 20, 20)">
                    <label>Campos obligatorios *</label>
                </div>

                <div class="form-group row">
                    <label for="pdnombre" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Nombre*:</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control form-control-user mb-2" id="pdnombre"
                            placeholder="Lapicero">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pdmarca" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Marca*:</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control form-control-user mb-2" id="pdmarca"
                            placeholder="Facela">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pdcodigo" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Codigo:</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control" id="pdcodigo" placeholder="LF0001">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pdcategoria"
                        class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Categoría*:</label>
                    <div class="col-lg-7">
                        <select class="custom-select form-control" id="pdcategoria">
                            <option disabled>-- Seleccione categoría --</option>
                            <option value="1">Papeleria</option>
                            <option value="2">Colores</option>
                            <option value="3">Lapiceros</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pddireccion"
                        class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Descripción:</label>
                    <div class="col-lg-7">
                        <textarea class="form-control" id="pddireccion" rows="3"
                            placeholder="Lapicedo color morado con bordes"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pdstock" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Existencia
                        mínima*:</label>
                    <div class="col-lg-7">
                        <input type="number" class="form-control" id="pdstock" value="10">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pdpreciocompra" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Precio de compra*:</label>
                    <div class="col-lg-7">
                        <input type="number" class="form-control form-control-user mb-2" id="pdpreciocompra"
                            value="0.15">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pdprecioventa" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Precio de venta*:</label>
                    <div class="col-lg-7">
                        <input type="number" class="form-control form-control-user mb-2" id="pdprecioventa"
                            value="0.25">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pdfecha" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Fecha
                        vencimiento:</label>
                    <div class="col-lg-7">
                        <input type="date" class="form-control" id="pdfecha" placeholder="LF0001">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pdimagen" class="offset-lg-1 col-lg-3 col-form-label font-weight-bold">Seleccione
                        foto:</label>
                    <div class="col-lg-7">

                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="pdimagen">
                            <label class="custom-file-label" name="pdimagen" for="pdimagen">Seleccione..</label>
                        </div>
                    </div>
                </div>
                ​
                <div id="imagePreview">
                    <br>
                    <br>
                    <h5 class="text-lg-center">Vista Previa</h5>
                    <br>
                    <br>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal" id="btnGuardar"><i
                        class="fas fa-save"> Guardar</i></button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="btnCerrar"><i
                        class="fas fa-times-circle"> Cerrar</i></button>
            </div>
        </div>
    </div>
</div>
<!--    Inicia Modal Inventario-->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" id="producto">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalInventario">Productos</h4>
                <div class="col-lg-6">
                    <button type="button" class="btn btn-outline-success"><i class="fas fa-cart-plus"></i>
                        Agregar</button>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="row pb-2">
                        <div class="search-box">
                            <input type="text" class="search-txt" placeholder="Buscar..." />
                            <a class="search-btn" href="#">
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row px-5 pt-5">
                        <div class="col">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1"><span
                                    class="badge badge-pill badge-primary">Lapices</span></label>
                        </div>
                        <div class="col">
                            <input type="checkbox" class="custom-control-input" id="customCheck2">
                            <label class="custom-control-label" for="customCheck2"><span
                                    class="badge badge-pill badge-secondary">Cuadernos</span></label>
                        </div>
                        <div class="col">
                            <input type="checkbox" class="custom-control-input" id="customCheck3">
                            <label class="custom-control-label" for="customCheck3"><span
                                    class="badge badge-pill badge-success">Libros</span></label>
                        </div>
                        <div class="col">
                            <input type="checkbox" class="custom-control-input" id="customCheck4">
                            <label class="custom-control-label" for="customCheck4"><span
                                    class="badge badge-pill badge-danger">Borradores</span></label>
                        </div>
                        <div class="col">
                            <input type="checkbox" class="custom-control-input" id="customCheck5">
                            <label class="custom-control-label" for="customCheck5"><span
                                    class="badge badge-pill badge-warning">Sacapuntas</span></label>
                        </div>
                        <div class="col">
                            <input type="checkbox" class="custom-control-input" id="customCheck6">
                            <label class="custom-control-label" for="customCheck6"><span
                                    class="badge badge-pill badge-info">Calculadoras</span></label>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col px-2">
                            <div class="card" style="width: 11rem; height: 15rem;">
                                <img src="https://www.hoptoys.es/30680-tm_thickbox_default/lapices-de-colores-jumbo-grip-x-12.jpg"
                                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                                <div class="card-body">
                                    <span class="h5">Lapiz</span>
                                    <p class="card-text">Goldfaber 1221</p>
                                </div>
                            </div>
                        </div>
                        <div class="col px-2">
                            <div class="card" style="width: 11rem; height: 15rem;">
                                <img src="http://www.cotesudshop.com/wp-content/uploads/2019/04/cuaderno-l-rosa-1-1.jpg"
                                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                                <div class="card-body">
                                    <span class="h5">Cuaderno</span>
                                    <p class="card-text">Norma</p>
                                </div>
                                <div class="card-footer">
                                        <p class="card-text">Libreria Miriam</p>
                                </div>
                            </div>
                        </div>
                        <div class="col px-2">
                            <div class="card" style="width: 11rem; height: 15rem;">
                                <img src="https://www.misutiles.com/4296-thickbox_default/sacapunta-1-cuchilla.jpg"
                                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                                <div class="card-body">
                                    <span class="h5">Sacapunta</span>
                                    <p class="card-text">Maped</p>
                                </div>
                                <div class="card-footer">
                                        <p class="card-text">Libreria Miriam</p>
                                </div>
                            </div>
                        </div>
                        <div class="col px-2">
                            <div class="card" style="width: 11rem; height: 15rem;">
                                <img src="https://lapape.ec/wp-content/uploads/2018/06/BORRADOR-BLANCO-PZ20-PELIKAN.jpg"
                                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                                <div class="card-body">
                                    <span class="h5">Borrador</span>
                                    <p class="card-text">Pelikan</p>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text">Libreria Miriam</p>
                                </div>
                            </div>
                        </div>
                        <div class="col px-2">
                                <div class="card" style="width: 11rem; height: 15rem;">
                                    <img src="https://lapape.ec/wp-content/uploads/2018/06/BORRADOR-BLANCO-PZ20-PELIKAN.jpg"
                                        class="card-img-top" alt="..." style="width: 125px; height:
                        125px;">
                                    <div class="card-body">
                                        <span class="h5">Borrador</span>
                                        <p class="card-text">Pelikan</p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-text">Libreria Miriam</p>
                                    </div>
                                </div>
                            </div>
                            
                    </div>
                    <div class="row pt-3">
                        <div class="col">
                            <div class="card" style="width: 13rem; height: 15rem;">
                                <img src="https://www.hoptoys.es/30680-tm_thickbox_default/lapices-de-colores-jumbo-grip-x-12.jpg"
                                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                                <div class="card-body">
                                    <span class="h5">Lapiz</span>
                                    <p class="card-text">Goldfaber 1221</p>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text">Libreria Miriam</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 13rem; height: 15rem;">
                                <img src="http://www.cotesudshop.com/wp-content/uploads/2019/04/cuaderno-l-rosa-1-1.jpg"
                                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                                <div class="card-body">
                                    <span class="h5">Cuaderno</span>
                                    <p class="card-text">Norma</p>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text">Libreria Miriam</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 13rem; height: 15rem;">
                                <img src="https://www.misutiles.com/4296-thickbox_default/sacapunta-1-cuchilla.jpg"
                                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                                <div class="card-body">
                                    <span class="h5">Sacapunta</span>
                                    <p class="card-text">Maped</p>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text">Libreria Miriam</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 13rem; height: 15rem;">
                                <img src="https://lapape.ec/wp-content/uploads/2018/06/BORRADOR-BLANCO-PZ20-PELIKAN.jpg"
                                    class="card-img-top" alt="..." style="width: 125px; height:
                    125px;">
                                <div class="card-body">
                                    <span class="h5">Borrador</span>
                                    <p class="card-text">Pelikan</p>
                                    
                                </div>
                                <div class="card-footer">
                                    <p class="card-text">Libreria Miriam</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
}

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<link href="~/selectric/src/selectric.css" rel="stylesheet">
<script src="~/selectric/src/jquery.selectric.js"></script>

<script>
    $(function() {
        $('select').selectric();
    });
    $('#dynamic').selectric();
    $('#bt_add_val').click(function() {
        // Store the value in a variable
        var value = $('#add_val').val();
        // Append to original select
        $('#dynamic').append('<option selected>' + (value ? value : 'Empty') + '</option>');
        // Refresh Selectric
        $('#dynamic').selectric('refresh');
    });
</script>


<script type="text/javascript">
    (function () {
        function filePreview(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').html("<img src='" + e.target.result +
                        "' class='rounded mx-auto d-block img-fluid' style='width:250px' />");
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $('#pdimagen').change(function () {
            filePreview(this);
        });
    })();
</script>
}