@page
@model Compras.RegistroCompraModel

@{
ViewData["Title"] = "Registro Compras";
}

<form class="container-fluid ">

    <div class="user" method="post">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 bg-gray-200 rounded">
                <div class="row ">

                    <div class="col-lg-7">
                        <br>
                        <div class="form-group row">
                            <label for="cfecha" class="offset-lg-1 col-lg-2 col-form-label">Fecha:</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="cfecha" value="30-08-2019">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 ">
                        <br>
                        <div class="form-group">
                            <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                data-target="#modalProveedor">Registrar Proveedor</button>



                            <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                data-target="#modalProducto">Registrar Producto</button>
                        </div>
                        <br>
                    </div>
                </div>




            </div>

        </div>
    </div>

</form>

@section modal {
<!-- The Modal -->
<div class="user" method="post">

    <div class="modal fade" id="modalProveedor" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Registro de Proveedor</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group " style="text-align: end; color: rgb(212, 20, 20)">
                        <label>Campos obligatorios *</label>
                    </div>

                    <div class="form-group row">
                        <label for="pnombre" class="offset-lg-1 col-lg-3 col-form-label">*Nombre:</label>
                        <div class="col-lg-7" >
                            <input type="text" class="form-control form-control-user mb-2" id="pnombre" placeholder="Libreria Miriam">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdireccion" class="offset-lg-1 col-lg-3 col-form-label">*Direccion:</label>
                        <div class="col-lg-7">
                            <textarea class="form-control" id="pdireccion" rows="3"
                                placeholder="Final Av. Crescencio Miranda, Contiguo a Cruz Roja, Frente a Estadio Vicentino"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pcorreo" class="offset-lg-1 col-lg-3 col-form-label">Correo electronico:</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="pcorreo"
                                placeholder="example@gmail.com">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="penlace" class="offset-lg-1 col-lg-3 col-form-label">Enlace a red social:</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="penlace"
                                placeholder="www.facebook.com/postresgyf">
                        </div>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" id="btnGuardar"><i
                            class="fas fa-save"> Guardar</i></button>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="btnCerrar"><i
                            class="fas fa-times-circle"> Cerrar</i></button>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- The Modal -->  
  <!-- Modal -->
<div class="modal fade" id="modalProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">  
          <h4 class="modal-title" id="modalProducto">Registro de Producto</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group " style="text-align: end; color: rgb(212, 20, 20)">
                <label>Campos obligatorios *</label>
            </div>
            
            <div class="form-group row">
                <label for="pdnombre" class="offset-lg-1 col-lg-3 col-form-label">*Nombre:</label>
                <div class="col-lg-7" >
                    <input type="text" class="form-control form-control-user mb-2" id="pdnombre" placeholder="Lapicero">
                </div>
            </div>
            <div class="form-group row">
                <label for="pdmarca" class="offset-lg-1 col-lg-3 col-form-label">*Marca:</label>
                <div class="col-lg-7">
                    <input type="text" class="form-control form-control-user mb-2" id="pdmarca" placeholder="Facela">
                </div>
            </div>
            <div class="form-group row">
                <label for="pdcodigo" class="offset-lg-1 col-lg-3 col-form-label">Codigo:</label>
                <div class="col-lg-7">
                    <input type="text" class="form-control" id="pdcodigo" placeholder="LF0001">
                </div>
            </div>
            <div class="form-group row">
                <label for="pdcategoria" class="offset-lg-1 col-lg-3 col-form-label">*Categoría:</label>
                <div class="col-lg-7">
                    <select class="custom-select form-control" id="pdcategoria">
                        <option selected>-- Seleccione categoría --</option>
                        <option value="1">Papeleria</option>
                        <option value="2">Colores</option>
                        <option value="3">Lapiceros</option>
                      </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="pddireccion" class="offset-lg-1 col-lg-3 col-form-label">*Descripción:</label>
                <div class="col-lg-7">
                    <textarea class="form-control" id="pddireccion" rows="3"
                        placeholder="Lapicedo color morado con bordes"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="pdstock" class="offset-lg-1 col-lg-3 col-form-label">*Existencia mínima:</label>
                <div class="col-lg-7">
                    <input type="number" class="form-control" id="pdstock" value="10">
                </div>
            </div>
            <div class="form-group row">
                <label for="pdimagen" class="offset-lg-1 col-lg-3 col-form-label">Seleccione foto:</label>
                <div class="col-lg-7">                  
                    <div class="custom-file">
                        <input type="file" class="custom-file-input form-control" id="pdimagen">
                        <label class="custom-file-label" for="pdimagen">Seleccione..</label>
                    </div>
                </div>
            </div>
            ​


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal" id="btnGuardar"><i
                    class="fas fa-save"> Guardar</i></button>
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="btnCerrar"><i
                    class="fas fa-times-circle"> Cerrar</i></button>
        </div>
      </div>
    </div>
  </div>
}

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}