@page
@model Ofertas.RegistroOfertaModel;
@{
    ViewData["Title"] = "Registro Ofertas";
}
<form class="container-fluid" method="POST" id="frmoferta">
    <div class="user" method="post">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 border border-secondary-100 rounded">
                <div class="row">
                    <div class="col-lg-7">
                        <h5 class="text-lg-left p-2">Datos</h5>
                    </div>
                </div>
                <div class="form-group bg-white rounded">
                    <div class="row offset-1">
                        <label class="font-weight-bold col-form-label">% Descuento</label>
                        <div class="col-lg-3">
                            <input asp-for="Oferta.Descuento" class="form-control">
                        </div>
                        <span asp-validation-for="Oferta.Descuento" class="text-danger"></span>
                    </div>
                    <div class="row offset-1 mt-4">
                        <label asp-for="Oferta.FechaInicio" class="font-weight-bold col-form-label"></label>
                        <div class="col-lg-3">
                            <input asp-for="Oferta.FechaInicio" class="form-control">
                        </div>
                        <label asp-for="Oferta.FechaFin" class="font-weight-bold col-form-label"></label>
                        <div class="col-lg-3">
                            <input asp-for="Oferta.FechaFin" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2" id="notific">
                <div class="toast" id="toastOferta" role="alert" data-delay="5000" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header bg-success" id="thead">
                        <label class="col-form-label text-white">
                            <i class="" id="inoti"></i>
                            <strong class="mr-auto">Registro Oferta</strong>
                        </label>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body" id="tcuerpo">
                    </div>
                </div>
            </div>
        </div>
        <!---->
        <br>
        <div class="row">
            <div class="col-lg-8 offset-lg-2 border border-secondary-100 rounded">
                <div class="row">
                    <div class="col-lg-9">
                        <h5 class="text-lg-left p-2">Detalles</h5>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group pt-2">
                            <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                data-target="#producto">Añadir Producto</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-sm table-hover bg-white" name="TablaVenta">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Categoria</th>
                                    <th scope="col">Precio normal</th>
                                    <th scope="col">Precio oferta</th>
                                    <th scope="col">Acción</th>
                                </tr>
                            </thead>
                            <tbody id="tbproductosel">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class=" offset-lg-5 col-lg-6">
                <div class="form-group pt-2 btn btn-group">
                    <button type="submit" class="btn btn-outline-primary"><i class="fas fa-save"> </i> Registrar</button>
                    <button type="button" class="btn btn-outline-secondary"><i class="fas fa-times-circle">
                            </i> Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</form>
@section modal {
    <!--    Inicia Modal Inventario-->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true" id="producto">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title" id="modalInventario">Productos</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-group">
                        <div class="row mb-4">
                            <div class=" search-box">
                                <input type="text" class="search-txt" placeholder="Buscar..." />
                                <a class="search-btn" href="#">
                                    <i class="fas fa-search"></i>
                                </a>
                            </div>
                            <div class="offset-lg-10 mt-3" style="position: absolute">
                                <button type="button" class="btn btn-outline-success" id="btnadd" data-dismiss="modal"><i
                                        class="fas fa-cart-plus"></i>Agregar</button>
                            </div>
                        </div>
                        <div class="row" style='margin-top:-15px;margin-bottom:100px;'>
                            <div class="col-lg-12" id='productos'>
                                <div id='productosAjax' class="p-3">
                                    <!-- Aqui iran los productos -->
                                </div>
                            </div><!-- #productos -->
                                <!--columna de productos-->
                        </div>
                        <div class="row">
                            <div class="col offset-5">
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="~/js/busqueda.js"></script>
<script src="~/js/sgl.js"></script>
<script>
    var divProductos = document.getElementById('productosAjax');
    var BtnAdd = document.querySelector("#btnadd");
    var input = document.querySelector("#Oferta_Descuento");
    var tbprod = document.querySelector("#tbproductosel");
    var IdProductos = [];
    var form = document.querySelector("#frmoferta");
    form.addEventListener("submit", GuardarForAjax);
    tbprod.addEventListener("click", (e)=>{
        var element = e.target;
        if(element.classList.contains("fa-trash")){
            var idp = element.parentNode.parentNode.getAttribute("data-idproducto");
            var i = Coincide(idp);
            if(i > -1){
                IdProductos.splice(i, i+1);
            }
            document.querySelector("#tbproductosel").removeChild(element.parentNode.parentNode);
        }
    });
    function Coincide(valor){
        for(var i = 0 ; i < IdProductos.length ; i++){
            if(IdProductos[i] == valor){
                return i;
            }
        }
        return -1;
    }
    input.addEventListener("input", function (){
        RecogerLlenar();
    });
    $('#producto').on('show.bs.modal', function (e) {
        sgl.ajax('get', '/Productos/ListaProductoAjax', function (data) {
            divProductos.innerHTML = data;
            var cards = divProductos.querySelectorAll("div.card");
            for(var i =0 ; i < cards.length ; i++){
                var num = Coincide(cards[i].getAttribute("data-idprod"));
                if(num > -1){
                    let cardFooter = cards[i].querySelector('.card-footer');
                    cardFooter.classList.add('bg-primary');
                    cardFooter.classList.add('text-white');
                    cardFooter.classList.remove('text-primary');
                    cards[i].setAttribute('data-seleccionado', true);
                } else {
                    let cardFooter = cards[i].querySelector('.card-footer');
                    cardFooter.classList.remove('bg-primary');
                    cardFooter.classList.remove('text-white');
                    cardFooter.classList.add('text-primary');
                    cards[i].setAttribute('data-seleccionado', false);
                }
            }
        });
    });
    BtnAdd.addEventListener("click", RecogerLlenar);
    function RecogerLlenar(){
        var carprodsel = document.querySelectorAll("div[data-seleccionado=true]");
        var tr, tdn, tdc, tdpn, tdpo, tdd;
        var value = document.querySelector("#Oferta_Descuento").value;
        var descuento;
        if(value == ""){
            descuento = parseFloat(0);
        } else {
            descuento = parseFloat(value);
        }
        if(isNaN(descuento)){
            descuento = parseFloat(0);
        }
        var tbprod = document.querySelector("#tbproductosel");
        tbprod.innerHTML = "";
        for(var i = 0 ; i < carprodsel.length ; i++){
            tr = document.createElement("tr");
            if(!IdProductos.includes(carprodsel[i].getAttribute("data-idprod"))){
                IdProductos.push(carprodsel[i].getAttribute("data-idprod"));
            }
            tr.setAttribute("data-idproducto", carprodsel[i].getAttribute("data-idprod"));
            tdn = document.createElement("td");
            tdn.innerHTML = carprodsel[i].getAttribute("data-nombre");
            tr.appendChild(tdn);
            tdc = document.createElement("td");
            tdc.innerHTML = carprodsel[i].getAttribute("data-categoria");
            tr.appendChild(tdc);
            tdpn = document.createElement("td");
            let preciov = carprodsel[i].getAttribute("data-precio");
            tdpn.innerHTML = preciov;
            tr.appendChild(tdpn);
            tdpo = document.createElement("td");
            if(descuento == 0){
                tdpo.innerHTML = preciov;
            }else{
                tdpo.innerHTML = preciov - (preciov*(descuento*0.01));
            }
            tr.appendChild(tdpo);
            tdd = document.createElement("td");
            tdd.innerHTML = '<i class="mano fas fa-trash text-danger"></i>';
            tr.appendChild(tdd);
            tbprod.appendChild(tr);
        }
    }
    //clic la imagen del card activa un elemento
    divProductos.addEventListener('click', function (evento) {
        var currentTarget = evento.currentTarget;
        var target = evento.target;
        var card;
        var cardFooter;
        if (target.matches('img')) {
            card = target.parentNode;
            cardFooter = card.querySelector('.card-footer');
            if (card.getAttribute('data-seleccionado') == 'true') {
                var idp = card.getAttribute("data-idprod");
                var i = Coincide(idp);
                console.log(idp);
                console.log("Antes", IdProductos);
                if(i > -1){
                    IdProductos.splice(i, i+1);
                }
                console.log("Despues", IdProductos);
                cardFooter.classList.remove('bg-primary');
                cardFooter.classList.remove('text-white');
                cardFooter.classList.add('text-primary');
                card.setAttribute('data-seleccionado', false);
            } else {
                cardFooter.classList.add('bg-primary');
                cardFooter.classList.add('text-white');
                cardFooter.classList.remove('text-primary');
                card.setAttribute('data-seleccionado', true);
            }
        }
    });
    function GuardarForAjax(e) {
        e.preventDefault();
        var xhttp = new XMLHttpRequest();
        let formData = new FormData(document.querySelector("#frmoferta"));
        for (var i = 0; i < IdProductos.length; i++) {
            formData.append("IdProductos[]", encodeURIComponent(IdProductos[i]));
        }
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4) {
                if (this.status == 200) {
                    window.scrollTo(0,0);
                    document.querySelector("#frmoferta").reset();
                    tbprod = document.querySelector("#tbproductosel").innerHTML = "";
                    IdProductos = [];
                    var h = document.querySelector("#thead");
                    h.className = "toast-header bg-success";
                    var i = document.querySelector("#inoti");
                    i.className = "fas fa-check-circle text-success";
                    var t = document.querySelector("#tcuerpo");
                    t.innerHTML = "Registro Exitoso!"
                    var toast = document.getElementById("toastOferta");
                    $('.toast').toast('show');
                } else {
                    var h = document.querySelector("#thead");
                    h.className = "toast-header bg-danger";
                    var i = document.querySelector("#inoti");
                    i.className = "fas fa-times-circle text-white";
                    var t = document.querySelector("#tcuerpo");
                    t.innerHTML = "Fallo en el Registro!!"
                    var toast = document.getElementById("toastOferta");
                    $('.toast').toast('show');
                }
            }
        };
        xhttp.open("POST", "RegistroOferta", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var inputToken = document.getElementsByName("__RequestVerificationToken");
        xhttp.setRequestHeader("RequestVerificationToken", inputToken[0].value);
        xhttp.send(new URLSearchParams(formData));
    }
</script>
}