@page
@model Ofertas.RegistroOfertaModel;
@{
    ViewData["Title"] = "Registro Ofertas";
}
<form class="container-fluid ">
    <div class="user" method="post">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 border border-secondary-100 rounded">
                <div class="row">
                    <div class="col-lg-7">
                        <h5 class="text-lg-left p-2">Datos</h5>
                    </div>
                </div>
                <div class="form-group bg-white rounded">
                    <div class="row offset-1">
                        <label class="font-weight-bold col-form-label">% Descuento</label>
                        <div class="col-lg-3">
                            <input asp-for="Oferta.Descuento" class="form-control">
                        </div>
                    </div>
                    <div class="row offset-1 mt-4">
                        <label asp-for="Oferta.FechaInicio" class="font-weight-bold col-form-label"></label>
                        <div class="col-lg-3">
                            <input asp-for="Oferta.FechaInicio" class="form-control">
                        </div>
                        <label asp-for="Oferta.FechaFin" class="font-weight-bold col-form-label"></label>
                        <div class="col-lg-3">
                            <input asp-for="Oferta.FechaFin" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---->
        <br>
        <div class="row">
            <div class="col-lg-10 offset-lg-1 border border-secondary-100 rounded">
                <div class="row">
                    <div class="col-lg-9">
                        <h5 class="text-lg-left p-2">Detalles</h5>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group pt-2">
                            <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                data-target="#producto">Añadir Producto</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-sm table-hover bg-white" name="TablaVenta">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Categoria</th>
                                    <th scope="col">Precio normal</th>
                                    <th scope="col">Precio oferta</th>
                                    <th scope="col">Acción</th>
                                </tr>
                            </thead>
                            <tbody id="tbproductosel">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" offset-lg-5 col-lg-6">
                <div class="form-group pt-2 btn btn-group">
                    <button type="submit" class="btn btn-outline-primary"><i class="fas fa-save"> </i> Registrar</button>
                    <button type="button" class="btn btn-outline-secondary"><i class="fas fa-times-circle">
                            </i> Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <!--    Inicia Modal Inventario-->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true" id="producto">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title" id="modalInventario">Productos</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-group">
                        <div class="row">
                            <div class=" search-box">
                                <input type="text" class="search-txt" placeholder="Buscar..." />
                                <a class="search-btn" href="#">
                                    <i class="fas fa-search"></i>
                                </a>
                            </div>
                            <div class="offset-lg-10 mt-3" style="position: absolute">
                                <button type="button" class="btn btn-outline-success"><i
                                        class="fas fa-cart-plus"></i>Agregar</button>
                            </div>
                        </div>
                        <div class="offset-lg-1 row px-5 py-3 align-content-center">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-dark">Papelería</button>
                                <button type="button" class="btn btn-dark">Cuadernos</button>
                                <button type="button" class="btn btn-dark">Novelas</button>
                                <button type="button" class="btn btn-dark">Utilería</button>
                                <button type="button" class="btn btn-dark">Geometria</button>
                                <button type="button" class="btn btn-dark">Colores</button>
                                <button type="button" class="btn btn-dark">Tijeras</button>
                                <button type="button" class="btn btn-dark">Correctores</button>
                                <button type="button" class="btn btn-dark">Tirros</button>
                            </div>
                        </div>
                        <div class="row" style='margin-top:-15px;margin-bottom:100px;'>
                            <div class="col-lg-12" id='productos'>
                                <div id='productosAjax' class="p-3">
                                    <!-- Aqui iran los productos -->
                                </div>
                            </div><!-- #productos -->
                                <!--columna de productos-->
                        </div>
                        <div class="row">
                            <div class="col offset-5">
                                <nav aria-label="Paginacion ">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Anterior</span>
                                            </a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Siguiente</span>
                                        </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
@{

await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="~/js/busqueda.js"></script>
<script src="~/js/sgl.js"></script>
<script>
    var Productos = [];
    var divProductos = document.getElementById('productosAjax');
    $('#producto').on('show.bs.modal', function (e) {
        var prodAjax = document.getElementById("productosAjax");
        var formProdAjax = document.createElement('form');
        formProdAjax.innerHTML = prodAjax.outerHTML;
        var productosAjax = new FormData(formProdAjax);
        sgl.ajax('get', '/Productos/ListaProductoAjax', function (data) {
            divProductos.innerHTML = data;
        });
    });
    //clic la imagen del card activa un elemento
    divProductos.addEventListener('click', function (evento) {
        var currentTarget = evento.currentTarget;
        var target = evento.target;
        var card;
        var cardFooter;
        if (target.matches('img')) {
            card = target.parentNode;
            cardFooter = card.querySelector('.card-footer')
            if (card.getAttribute('data-seleccionado') == 'true') {
                cardFooter.classList.remove('bg-primary');
                cardFooter.classList.remove('text-white');
                cardFooter.classList.add('text-primary');
                card.setAttribute('data-seleccionado', false);
            } else {
                cardFooter.classList.add('bg-primary');
                cardFooter.classList.add('text-white');
                cardFooter.classList.remove('text-primary');
                card.setAttribute('data-seleccionado', true);
            }
        }
    });
</script>
}